%arrow {
	@include link-style(default, default, false);

	display   : inline-block;
	position  : relative;
	transition: color 0.15s ease-in;
	z-index   : 1;

	&:hover {
		background         : transparent !important;
		border-bottom-color: transparent !important;
		box-shadow         : none;
		color              : $color-white !important;
		position           : relative;
	}
}

%arrow--right {
	@extend %icon-chevron-right !optional;
	box-sizing   : content-box;
	margin-bottom: 0.5rem;

	&::before {
		background: $color-blue;
		bottom    : -0.5rem;
		content   : '';
		display   : block;
		height    : 100%;
		left      : -0.5rem;
		padding   : 0.5rem 0;
		position  : absolute;
		right     : -0.5rem;
		top       : -0.5rem;
		width     : 0;
		transition: width 0.15s ease-in, padding 0.15s ease-in;
		z-index   : -1;
	}

	&::after {
		font-size     : $font-size-centi;
		vertical-align: middle;
	}

	&:hover {
		&::before {
			padding: 0.5rem;
			width  : 100%;
		}
	}
}

%arrow--left {
	@extend %icon-chevron-left !optional;
	box-sizing: content-box;

	&::before {
		font-size     : $font-size-centi;
		vertical-align: middle;
	}

	&::after {
		background: $color-blue;
		bottom    : -0.5rem;
		content   : '';
		display   : block;
		height    : 100%;
		left      : 110%;
		padding   : 0.5rem 0;
		position  : absolute;
		right     : -0.5rem;
		top       : -0.5rem;
		width     : 0;
		transition: width 0.15s ease-in, padding 0.15s ease-in, left 0.15s ease-in;
		z-index   : -1;
	}

	&:hover::after {
		left   : -0.5rem;
		padding: 0.5rem;
		width  : 100%;
	}
}

%arrow--reload,
%arrow-reload {
	@extend %icon-linearicon !optional;
	@extend %icon-sync.right !optional;
	@include link-style(default, default, false);

	&::after {
		font-size     : 120%;
		margin-left   : 0.25em;
		transform     : rotate(0deg);
		transition    : all 0s ease-out;
		vertical-align: middle;
	}

	&:hover {
		&::after {
			transform          : rotate(360deg);
			transition-duration: 0.5s;
		}
	}
}
