%blockquote {
	color   : $color-blue;
	margin  : 1rem 0;
	padding : 1rem 2rem 3rem;
	position: relative;
	@include pie-clearfix;
	@include breakpoint($bp-tablet) {
		padding: 1rem 0 3rem;
	}

	> * {
		@include breakpoint($bp-tablet) {
			margin-left: percentage(1/7);
			float: left;
			width: percentage(5/7);
		}
	}

	p {
		color      : inherit;
		font-size  : $font-size-beta;
		line-height: $line-height-normal;
		position   : relative;

		&:last-of-type {
			margin-bottom: 0;
		}

		&::before {
			content : '“';
			display : block;
			left    : -1rem;
			position: absolute;
			top     : 0;
			z-index : 0;
		}

		&::after {
			content: '”';
			display: inline-block;
			margin : 0 -2rem 0 0;
		}

		cite {
			position: absolute;
			width   : 100%;
		}
	}
	
	cite {
		display   : block;
		text-align: right;

		&::before {
			content: '— ';
		}
	}

	&--long {
		> * {
			@include breakpoint($bp-tablet) {
				float: left;
				margin-left: percentage(1/12);
				width:percentage(10/12);
			}
		}

		p {
			font-size: $font-size-epsilon;

			&::before {
				font-size: $font-size-beta;
				left     : -1.25rem;
				top      : -0.5rem;
			}

			&::after {
				content: '';
			}
		}
	}
}