%button {
  background-color: $color-blue;
  border          : none;
  box-shadow      : none;
  color           : $color-white;
  cursor          : pointer;
  display         : inline-block;
  font-family     : $font-primary;
  font-size       : $font-size-zeta;
  font-weight     : $font-weight-normal;
  line-height     : $line-height-normal;
  padding         : 0.75em 1em;
  text-shadow     : none;
  transition      : all 0.2s ease-in;
  vertical-align  : middle;
  border-radius   : rem(3);
  outline         : none;

  &:hover {
    background-color: $color-blue-dark;
    color           : $color-white;
  }

  &:focus {
    @include material-shadow(2);
  }

  &[disabled] {
    @extend %disabled-state;
  }
}

%button--light {
  background-color: $color-blue-light;
  color           : $color-blue-dark;

  &:hover {
    background-color: $color-blue-pale;
    color           : $color-blue-dark;
  }
}

%button--gray {
  background-color: $color-gray;
  color           : $color-white;

  &:hover {
    background-color: $color-blue;
  }
}

%button--gray-outline {
  border          : rem(1) solid $color-gray;
  background-color: transparent;
  color           : $color-gray;

  &:hover {
    color           : $color-white;
    background-color: $color-gray-light;
    border-color    : $color-gray-light;
  }
}

%button--reverse {
  background-color: transparent;
  color           : $color-blue;

  &:hover {
    background-color: transparent;
    text-decoration : underline;
    color           : $color-blue-dark;
  }

  &[disabled] {
    background-color: transparent;

    &:hover {
      background-color: transparent;
      text-decoration : none;
      color           : $color-gray-light;
    }
  }
}

%button--white {
  background-color: $color-white;
  color           : $color-blue;

  &:hover {
    background-color: $color-gray-tint;
    text-decoration : underline;
    color           : $color-blue-dark;
  }
}

%button--large {
  font-size: $font-size-delta;
}

%button--thin {
  padding: 0.5em 1em;
}

%button--no-padding {
  padding: 0;
}

%button--action {
  background-color: $color-accent;

  &:hover {
    background-color: darken($color-accent, 10%);
    text-decoration : none;
  }
}

%button--outline {
  background-color: transparent;
  border          : rem(1) solid $color-blue;
  color           : $color-blue;
  text-decoration : none;

  &:hover {
    border-color    : $color-blue-dark;
    background-color: $color-blue-dark;
    color           : $color-white;
    text-decoration : none;
  }
}
