%card-object {
  display   : grid;
  height    : 100%;
  overflow  : hidden;
  position  : relative;
  transition: all 0.2s ease-in;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

%card-object-no-media {
  background-color: $color-gray-tint;
  border          : transparent rem(3) solid;
}

%card-object-hover {
  background-color: $color-white;
  border-color    : $color-border;
}

%card-title {
  align-self    : end;
  color         : $color-white;
  font-weight   : $font-weight-bold;
  font-family   : $font-secondary;
  font-size     : $font-size-beta;
  grid-column   : 1;
  grid-row      : 1;
  line-height   : 0.875;
  padding       : 0.75rem;
  pointer-events: none;
  position      : relative;
  z-index       : 1;
  margin        : 0;
  @include breakpoint(min-width 375px) {
    font-size     : scale-font(rem(50), 0);
    letter-spacing: -0.1rem;
  }
  @include breakpoint($bp-phone-landscape) {
    font-size     : scale-font($font-size-beta);
    letter-spacing: -0.05rem;
  }
  @include breakpoint($bp-tablet) {
    font-size: scale-font(rem(42));
  }
  @include breakpoint($bp-desktop) {
    font-size: scale-font($font-size-beta);
  }
  @include breakpoint($bp-big-desktop) {
    font-size: rem(42);
  }
}

%card-title-no-media {
  color: $color-black;
}

%card-media {
  grid-column: 1;
  grid-row   : 1;

  img {
    display   : block;
    filter: brightness(0.85);
    height    : 100%;
    object-fit: cover;
    transition: filter 0.2s ease-in 0s;
    transform : scale(1.02); // Shift to crop blur effect
    width     : 100%;
  }
}

%card-media-hover {
  img {
    filter: brightness(0.65) blur(3px);
  }
}

%card-metadata {
  color      : $color-gray;
  font-family: $font-primary;
}

%card-metadata-summary {
  font-size: $font-size-epsilon;

  p {
    font-size: inherit;
    margin   : 0 0 0.5em;
  }
}

%card-metadata-overflow {
  margin-top: 0.375rem;
  min-height: 1rem;
  position  : relative;
  z-index   : 10;
  @include breakpoint($bp-phone-landscape) {
    overflow   : hidden;
    white-space: nowrap;
    // Fade out overflow
    &::after {
      content : '';
      height  : 100%;
      position: absolute;
      right   : 0;
      top     : 0;
      width   : rem($gutter);
      @include background-image(linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)));
    }
  }
}
