%delineator {
	position: relative;
	
	&::before {
		border-top: 1px solid $color-border;
		content: '';
		display: block;
		height: 0;
		margin: 1em 0;
		position: relative;
		width: rem(60);
	}
}

%delineator--bottom,
%delineator-bottom {
	position: relative;

	&::after {
		border-top: 1px solid $color-border;
		content: '';
		display: block;
		height: 0;
		margin: 1em 0;
		position: relative;
		width: rem(60);
	}
}