%hover-icon {
	&::after {
		opacity   : 0;
		transition: opacity 0.2s ease-in;
		width     : 2em;
	}

	&:focus,
	&:hover {
		&::after {
			opacity: 1;
		}
	}

	p > & {
		// adjust hover-icon if the anchor is in a paragraph
		margin: 0;

		&::after {
			margin-left: 0.25rem !important;
			transform  : translateX(0);
			opacity    : 1;
			width      : 1em;
		}
	}
}

%icon--files,
%icon-files {
	@include icon('files');

	&--right {
		@include icon('files', 'linearicons', 'right');
	}
}

%icon--play,
%icon-play {
	@include icon('play-circle');

	&--right {
		@include icon('play-circle', 'linearicons', 'right');
	}
}

%icon--tag,
%icon-tag {
	@include icon('tag');

	&--right {
		@include icon('tag', 'linearicons', 'right');
	}
}

%icon--tags,
%icon-tags {
	@include icon('tags');

	&--right {
		@include icon('tags', 'linearicons', 'right');
	}
}

%icon--link-out,
%icon-link-out {
	@include icon('enter');

	&--right {
		@include icon('enter', 'linearicons', 'right');
	}
}

%icon--global,
%icon-global {
	@include icon('network');

	&--right {
		@include icon('network', 'linearicons', 'right');
	}
}

%icon--link,
%icon-link {
	@include icon('link2');

	&--right {
		@include icon('link2', 'linearicons', 'right');
	}
}

%icon--list,
%icon-list {
	@include icon('list');

	&--right {
		@include icon('list', 'linearicons', 'right');
	}
}

%icon--search,
%icon-search {
	@include icon('magnifier');

	&--right {
		@include icon('magnifier', 'linearicons', 'right');
	}
}

%icon--inbox,
%icon-inbox {
	@include icon('inbox');

	&--right {
		@include icon('inbox', 'linearicons', 'right');
	}
}

%icon--filter,
%icon-filter {
	@include icon('funnel');

	&--right {
		@include icon('funnel', 'linearicons', 'right');
	}
}

%icon--news,
%icon-news {
	@include icon('news');

	&--right {
		@include icon('news', 'linearicons', 'right');
	}
}

%icon--sync,
%icon-sync {
	@include icon('sync');

	&--right {
		@include icon('sync', 'linearicons', 'right');
	}
}

%icon--envelope,
%icon-envelope {
	@include icon('envelope');

	&--right {
		@include icon('envelope', 'linearicons', 'right');
	}
}

%icon--cross-circle,
%icon-cross-circle {
	@include icon('cross-circle');

	&--right {
		@include icon('cross-circle', 'linearicons', 'right');
	}
}

%icon--check,
%icon-check {
	@include icon('check');

	&--right {
		@include icon('check', 'linearicons', 'right');
	}
}

%icon--chat-bubble,
%icon-chat-bubble {
	@include icon('bubble');

	&--right {
		@include icon('bubble', 'linearicons', 'right');
	}
}

//////////////////////////////////////////////////
// CALENDAR ICONS
//////////////////////////////////////////////////

%icon--calendar-empty,
%icon-calendar-empty {
	@include icon('calendar-empty');

	&--right {
		@include icon('calendar-empty', 'linearicons', 'right');
	}
}

%icon--calendar-date,
%icon-calendar-date {
	@include icon('calendar-31');

	&--right {
		@include icon('calendar-31', 'linearicons', 'right');
	}
}

%icon--calendar-check,
%icon-calendar-check {
	@include icon('calendar-check');

	&--right {
		@include icon('calendar-check', 'linearicons', 'right');
	}
}

//////////////////////////////////////////////////
// ARROW ICONS
//////////////////////////////////////////////////

%icon--arrow-left-circle,
%icon-arrow-left-circle {
	@include icon('arrow-left-circle');

	&--right {
		@include icon('arrow-left-circle', 'linearicons', 'right');
	}
}

%icon--chevron-left,
%icon-chevron-left {
	@include icon('chevron-left');
}

%icon--chevron-left-circle,
%icon-chevron-left-circle {
	@include icon('chevron-left-circle');

	&--right {
		@include icon('chevron-left-circle', 'linearicons', 'right');
	}
}

%icon--arrow-right-circle,
%icon-arrow-right-circle {
	@include icon('arrow-right-circle');

	&--right {
		@include icon('arrow-right-circle', 'linearicons', 'right');
	}
}

%icon--chevron-right,
%icon-chevron-right {
	@include icon('chevron-right', 'linearicons', 'right');
}

%icon--chevron-right-circle,
%icon-chevron-right-circle {
	@include icon('chevron-right-circle');

	&--right {
		@include icon('chevron-right-circle', 'linearicons', 'right');
	}
}

%icon--chevrons-expand-vertical,
%icon-chevrons-expand-vertical {
	@include icon('chevrons-expand-vertical');

	&--right {
		@include icon('chevrons-expand-vertical', 'linearicons', 'right');
	}
}

%icon--chevron-up,
%icon-chevron-up {
	@include icon('chevron-up');

	&--right {
		@include icon('chevron-up', 'linearicons', 'right');
	}
}

%icon--chevron-down,
%icon-chevron-down {
	@include icon('chevron-down');

	&--right {
		@include icon('chevron-down', 'linearicons', 'right');
	}
}

%icon--expand,
%icon-expand {
	@include icon('expand2');

	&--right {
		@include icon('expand2', 'linearicons', 'right');
	}
}

%icon--contract,
%icon-contract {
	@include icon('contract2');

	&--right {
		@include icon('contract2', 'linearicons', 'right');
	}
}
