%image-align-left {
	margin-left: 0;
	
	// @include breakpoint($bp-phone-max) {
	// 	max-width: none;
	// 	width: 100%; // Mobile images are full width
	// }
	
	// @include breakpoint($bp-phone) {
	// 	float: left;
	// 	margin-right: rem(22);
	// }
}

%image-align-right {
	clear: right;
	margin-right: 0;
	
	// @include breakpoint($bp-phone-max) {
	// 	max-width: none;
	// 	width: 100%; // Mobile images are full width
	// }
	
	// @include breakpoint($bp-phone) {
	// 	float: right;
	// 	margin-left: rem(22);
	// }
}
	
%image-align-center {
	margin: rem(12) auto;
	min-width: 100%;
	
	// @include breakpoint($bp-phone-max) {
	// 	max-width:none;
	// 	width:100%; // Mobile images are full width
	// }
}