%a {
	color          : $color-blue;
	text-decoration: none;
	transition     : color 0.2s ease-in;

	&:focus,
	&:hover {
		color          : $color-blue-light;
		text-decoration: underline;
	}

	&:focus {
		outline: rem(1) dotted;
	}
}

%a--black {
	color: $color-black;

	&:focus,
	&:hover {
		color: $color-gray;
	}
}

%a--dark {
	color: $color-blue-dark;

	&:focus,
	&:hover {
		color: $color-blue;
	}
}

%a--light {
	color: $color-blue-light;

	&:focus,
	&:hover {
		color: $color-blue-tint;
	}
}

%a--reverse {
	color: $color-white;

	&:focus,
	&:hover {
		color: $color-blue-tint;
	}
}

%a--gray {
	color: $color-gray;

	&:focus,
	&:hover {
		color: $color-blue;
	}
}

%a--accent {
	color: $color-accent;

	&:focus,
	&:hover {
		color: $color-blue;
	}

	&::before {
		background-color: $color-accent !important;
	}
}

%a--no-underline {
	&:focus,
	&:hover {
		text-decoration: none !important;
	}
}

%a--block {
	background   : transparent;
	border-bottom: $color-blue-pale rem(3) solid;
	box-shadow   : inset 0 rem(-2) 0 $color-blue-pale;
	color        : inherit;
	transition   : background 0.2s ease-in;

	&:focus,
	&:hover {
		background     : $color-blue-pale;
		color          : $color-black;
		text-decoration: none;
	}
}

%a--no-block {
	// revert block link style to default
	border-bottom: none;
	box-shadow   : none;
	color        : $color-blue;
	transition   : color 0.2s ease-in;

	&:focus,
	&:hover {
		background     : transparent;
		color          : $color-blue-light;
		text-decoration: underline;
	}
}

%a--secondary {
	font-family: $font-secondary;
}
