%bullet-list {
	font-size   : $font-size-delta;
	margin      : 1em 0;
	padding-left: 0;

	li {
		line-height: $line-height-loose;
		list-style : none;
		margin     : 0.75em 0;

		&::before {
			color      : $color-gray-light;
			content    : '•';
			display    : inline-block;
			float      : left;
			margin-left: -1rem;
			position   : relative;
			width      : 1rem;
		}
	}

	ul {
		padding-left: 2rem;
	}
}

%remove-bullet-list {
	@extend %semantic-list !optional;
	font-size: inherit;
	margin   : inherit;

	ul {
		padding: 0;
	}

	> li {
		&::before {
			content: '';
			display: none;
		}
	}
}

%column-list {
	@extend %remove-bullet-list !optional;

	li {
		break-inside  : avoid-column;
		box-sizing    : border-box;
		line-height   : $line-height-normal;
		list-style    : none;
		margin        : 0 !important;
		padding-right : rem(20);
		padding-bottom: rem(10);
	}
}

%link-list {
	@extend %delineator !optional;
	@extend %remove-bullet-list !optional;

	clear: both;

	li {
		margin: 0.5rem 0;
	}

	a {
		@include link-style(default, default, false);
		@include link-style(default, default, true, inherent, $font-secondary);

		font-weight: $font-weight-bold;
	}
}

%secondary-link-list {
	@extend %remove-bullet-list !optional;

	clear: both;

	li {
		display     : inline-block;
		margin-right: 0.5rem;
		padding     : 0;
	}

	a {
		@include link-style($color-gray);
		@include link-style(default, default, true, inherent, $font-secondary);

		font-size  : $font-size-centi;
		font-weight: $font-weight-bold;
	}

	&.term-list {
		@extend %delineator !optional;

		a {
			@include icon(tags, linericons, right);
			@extend %hover-icon !optional;
		}

		li {
			margin: 0;
		}
	}
}