%p {
	font-size: $font-size-delta;
	line-height: $line-height-loose;
	margin: 0.5em 0 1.75em;
	font-family: $font-primary;
}

%p--small {
	font-size: $font-size-centi;
	line-height: $line-height-loose;
}

%p--medium {
	font-size: $font-size-zeta;
	line-height: $line-height-loose;
}

%p--footnote {
	position: relative;
	padding-left: 0.3em;
	line-height: $line-height-normal;

	&:before {
		position: absolute;
		right: 100%;
		content: "*";
	}
}

%paragraph-spacer {
	position: relative;
	min-height: 12pt; // CK Editor support
	
	// only add shield if empty
	&:empty  {
		margin: 2.5rem 0;
	}
	
	&:empty::before,
	br:only-child {
		// SVG encoded at http://meyerweb.com/eric/tools/dencoder/
		content: url('data:image/svg+xml; charset=utf-8, %3Csvg%20version%3D%221.0%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212.000000pt%22%20%20height%3D%2212.000000pt%22%20viewBox%3D%220%200%20367.000000%20367.000000%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%3E%3Cg%20transform%3D%22translate(0.000000%2C367.000000)%20scale(0.100000%2C-0.100000)%22%20%3E%3Cpath%20fill%3D%22rgb(128%2C122%2C115)%22%20d%3D%22M333%202933%20c2%20-406%207%20-763%2011%20-793%203%20-30%208%20-75%2011%20-100%2055%20-477%20223%20-907%20494%20-1265%2088%20-116%20289%20-322%20411%20-419%20120%20-97%20315%20-224%20453%20-295%20l118%20-62%20102%2054%20c345%20181%20628%20410%20861%20697%2029%2037%20162%20231%20183%20270%2044%2079%20103%20199%20133%20270%2017%2041%2035%2084%2040%2095%2022%2049%2091%20287%20104%20355%202%2014%207%2036%2010%2050%203%2014%208%2039%2010%2055%203%2017%207%2039%209%2050%203%2011%208%2043%2011%2070%208%2065%2016%20120%2023%20170%203%2022%208%20376%2010%20788%20l5%20747%20-1502%200%20-1501%200%204%20-737z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
		display: block;
		height: 12pt;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 12pt;
		z-index: 1;
	}
	
	&:first-line,
	+ p:first-line {
		font-size: $font-size-delta;
		font-weight: $font-weight-bold;
	}
}