%person-teaser {
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	margin-bottom: 2rem;

	// Header optional if more details added to person
	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
	}

	&__image {
		flex-shrink: 0;
		width: 109px;
		height: 109px;
		background-size: cover;
		margin-right: $gutter;
		background-color: $color-gray;
	}

	&__main {
		flex: 1 1 auto;
	}

	&__title {
		margin: 0;
		line-height: 1;
	}

	&__tags,
	&__contact {
		margin-top: 0.5rem;
	}

	&__contact + &__tags {
		margin-top: 0;
	}

	&__subtitle {
		@extend %semantic-list;
		font-family: $font-primary;
		font-size: $font-size-zeta;
		font-style: italic;
		color: $color-gray;
	}

	&__characteristics {
		@extend %semantic-list;
		font-family: $font-primary;
		font-size: $font-size-epsilon;
		li {
			display: inline-block;
			margin-right: 0.5rem;
		}
		li + li {
			&:before {
				content: "·";
				margin-right: 0.5rem;
			}
		}
	}

	&__tags {
		@extend %semantic-list;
		font-family: $font-primary;
		font-size: $font-size-centi;
		color: $color-gray;
		li {
			display: inline-block;
			margin-right: 0.5rem;
		}
		li {
			&:not(:last-of-type) {
				&:after {
					content: ";";
				}
			}
		}
	}

	&__contact {
		@extend %semantic-list;
		font-size: $font-size-centi;
		&-phone {
			@extend %icon-linearicon--telephone.right !optional;
		}
	}
}
