%table--plain,
%table-plain {
	tbody th[scope="row"],
	thead th {
		font-weight: $font-weight-normal;
	}

	thead {
		td {
			padding: 0;
		}

		th {
			text-transform: none;
			border: none;
			padding: 0 0 1em;
		}
	}

	tbody {
		th[scope="row"] {
			border-right: none;
		}

		tr {
			&.even,
			&.odd,
			&:nth-child(even),
			&:nth-child(odd) {
				background: transparent;
				border: none;
				padding: 0;

				td {
					background: var(--table-cell-background, transparent);
					padding: 1rem 0;
				}
			}

			&:hover td {
				background: transparent;
			}
		}
	}
}
