%text-style-alpha {
	color: var(--ts-alpha-color, $color-blue-dark);
	font-weight: var(--ts-alpha-fw, $font-weight-bold);
	font-family: var(--ts-alpha-ff, $font-secondary);
	font-size: $font-size-alpha;
	font-size: var(--ts-alpha-fs, #{scale-font($font-size-alpha)});
	letter-spacing: -0.1rem;
	line-height: var(--ts-alpha-lh, #{$line-height-normal});
}

%text-style-beta {
	font-weight: $font-weight-bold;
	font-size: var(--ts-beta-fs, #{$font-size-gamma});
	font-family: $font-secondary;
	line-height: var(--ts-beta-lh, #{$line-height-normal});
}

%text-style-gamma {
	font-size: var(--ts-gamma-fs, #{$font-size-milli});
	font-family: $font-secondary;
	font-weight: $font-weight-bold;
	letter-spacing: 0.125rem;
	line-height: var(--ts-gamma-lh, #{$line-height-tight});
	text-transform: uppercase;
}

%text-style-delta {
	color: $color-blue-dark;
	font-family: $font-secondary;
	font-weight: $font-weight-bold;
	font-size: var(--ts-delta-fs, #{$font-size-delta});
	line-height: var(--ts-delta-lh, #{$line-height-normal});
}

%text-style-epsilon {
	font-family: $font-secondary;
	font-size: $font-size-zeta;
	font-weight: $font-weight-bold;
	line-height: $line-height-normal;
}

%text-style-zeta {
	color: $color-blue-dark;
	font-family: $font-secondary;
	font-size: $font-size-micro;
	letter-spacing: 2px;
	line-height: $line-height-normal;
	text-transform: uppercase;
	font-weight: $font-weight-normal;
}

%eta {
	margin: rem(10) 0;
	color: $color-gray;
	font-size: $font-size-deci;
	line-height: $line-height-normal;

	a:focus,
	a:hover {
		text-decoration: underline;
	}
}
