@-webkit-keyframes fadeOutUpTooltip {
	0% {
		opacity   : 1;
		margin-top: -10px;
	}

	100% {
		opacity   : 0;
		margin-top: -30px;
	}
}
@-moz-keyframes fadeOutUpTooltip {
	0% {
		opacity   : 1;
		margin-top: -10px;
	}

	100% {
		opacity   : 0;
		margin-top: -30px;
	}
}
@-o-keyframes fadeOutUpTooltip {
	0% {
		opacity   : 1;
		margin-top: -10px;
	}

	100% {
		opacity   : 0;
		margin-top: -30px;
	}
}
@keyframes fadeOutUpTooltip {
	0% {
		opacity   : 1;
		margin-top: -10px;
	}

	100% {
		opacity   : 0;
		margin-top: -30px;
	}
}

%animated-fadeOutUp {
	-webkit-animation-name: fadeOutUpTooltip;
	-moz-animation-name   : fadeOutUpTooltip;
	-o-animation-name     : fadeOutUpTooltip;
	animation-name        : fadeOutUpTooltip;
}
@-webkit-keyframes fadeInDownTooltip {
	0% {
		opacity   : 0;
		margin-top: -30px;
	}

	100% {
		opacity   : 1;
		margin-top: -10px;
	}
}
@-moz-keyframes fadeInDownTooltip {
	0% {
		opacity   : 0;
		margin-top: -30px;
	}

	100% {
		opacity   : 1;
		margin-top: -10px;
	}
}
@-o-keyframes fadeInDownTooltip {
	0% {
		opacity   : 0;
		margin-top: -30px;
	}

	100% {
		opacity   : 1;
		margin-top: -10px;
	}
}
@keyframes fadeInDownTooltip {
	0% {
		opacity   : 0;
		margin-top: -30px;
	}

	100% {
		opacity   : 1;
		margin-top: -10px;
	}

}

%animated-fadeInDown {
	-webkit-animation-name: fadeInDownTooltip;
	-moz-animation-name   : fadeInDownTooltip;
	-o-animation-name     : fadeInDownTooltip;
	animation-name        : fadeInDownTooltip;
}
