@mixin arrow-highlight($direction,$color) {
	color: $color;
	@if ($direction == 'left') {
		&::after {
			background: $color;
		}
	}
	@elseif ($direction == 'right') {
		&::before {
			background: $color;
		}
	}

}
