// Box Mixin (name, background color, link color, border style, text color)
@mixin box(
	$x: a,
	$color: transparent,
	$link: inherit,
	$borders: transparent 1px solid,
	$text: inherit
) {
	%box--#{$x} {
		background: $color;
		margin: 0 0 rem($gutter);
		padding: rem($gutter-double);
		position: relative;
		@include clearfix;
		@if $text != inherit {
			color: $text;

			*:not(a) {
				color: $text;
			}
		}
		@if $link != inherit {
			a {
				&:not(.button):not([class*="arrow"]) {
					@if get-color-value($color) == dark {
						@include link-style(
							$color: $link,
							$hover-color: lighten($color, 50%),
							$block-style: "underline"
						);
					} @else {
						@include link-style(
							$color: $link,
							$hover-color: darken($color, 50%),
							$block-style: "underline"
						);
					}
				}

				&[class*="arrow"] {
					@include link-style($color: $link, $hover-color: $color);
				}
			}
		}
		// Set conditional button value
		@if get-color-value($color) == dark {
			.button {
				@include button-style($background-color: $color-white, $border: true);
			}
		}
		@if $borders {
			border: $borders;
		}
		// Remove margin from the first and last direct children
		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}

// Clone of Box Mixin that doesn't create %extendable
// (background color, link color, border style, text color)
@mixin box-style(
	$color: transparent,
	$link: inherit,
	$borders: transparent 1px solid,
	$text: inherit
) {
	background: var(--box-background, #{$color});
	margin: var(--box-margin, 0 0 #{rem($gutter)});
	padding: var(--box-padding, #{rem($gutter-double)});
	position: relative;
	@include clearfix;
	@if $text != inherit {
		color: $text;

		*:not(a) {
			color: $text;
		}
	}
	@if $link != inherit {
		a {
			&:not(.button):not([class*="arrow"]) {
				@if get-color-value($color) == dark {
					@include link-style(
						$color: $link,
						$hover-color: lighten($color, 50%),
						$block-style: "underline"
					);
				} @else {
					@include link-style(
						$color: $link,
						$hover-color: darken($color, 50%),
						$block-style: "underline"
					);
				}
			}

			&[class*="arrow"] {
				@include link-style($color: $link, $hover-color: $color);
			}
		}
	}
	// Set conditional button value
	@if get-color-value($color) == dark {
		.button {
			@include button-style($background-color: $color-white, $border: true);
		}
	}
	@if $borders {
		border: $borders;
	}
	// Remove margin from the first and last direct children
	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}
