// Button Mixin
//($background-color, $text-color, $border, $hover-background-color, $hover-text-color, $hover-underline, $font-size,  $font-family, $font-weight, $padding)
@mixin button-style($background-color: var(--button-background-color), $text-color: var(--button-color), $border: false, $hover-background-color: var(--button-hover-background-color), $hover-text-color: var(--button-hover-color), $hover-underline: false, $font-size: var(--button-fs), $font-family: var(--button-ff), $font-weight:var(--button-fw), $padding:var(--button-padding)) {
  box-shadow    : none;
  color         : $text-color;
  cursor        : pointer;
  display       : inline-block;
  font-family   : $font-family;
  font-size     : $font-size;
  font-weight   : $font-weight;
  line-height   : $line-height-normal;
  padding       : $padding;
  text-shadow   : none;
  transition    : var(--button-transition);
  vertical-align: middle;
  border-radius : rem(3);
  outline       : none;
  @if $border == true {
    border          : rem(1) solid $background-color;
    background-color: transparent;

    &:hover {
      background-color: $hover-background-color;
      border-color    : $hover-background-color;
      color           : $hover-text-color;
    }
  } @else {
    background-color: $background-color;
    border          : none;

    &:hover {
      background-color: $hover-background-color;
      color           : $hover-text-color;
    }
  }
  @if $hover-underline == true {
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  &:focus {
    @include material-shadow(2);
  }

  &[disabled] {
    box-shadow : none;
    user-select: none;
    background : $color-gray-tint;
    color      : $color-gray;
    cursor     : default;

    @include input-placeholder {
      color: transparent;
    }

    &:focus,
    &:hover {
      background     : $color-gray-tint;
      color          : $color-gray;
      text-decoration: none;
    }
  }

}
