/// Calculates the negative left and right safe area of the conteent.
///
/// @param {number} [$columns = 0]
///   The number of columns to use in the calculation.
///
/// @require {function} calculate-column-inset

@mixin edge-to-edge($columns: 0) {
    @if $columns == 0 {
      margin-left: calc(-1 * var(--content-safe-area-left));
      margin-right: calc(-1 * var(--content-safe-area-right));
    }
    @else {
      margin-left: calc(-1 * (#{calculate-column-inset($columns)} + var(--content-safe-area-left)));
      margin-right: calc(-1 * (#{calculate-column-inset($columns)} + var(--content-safe-area-right)));
    }
  }
  