// Helper function to call icons
@mixin icon($icon, $pack: 'linearicons', $placement: 'before') {
    @if $pack==social {
        @if $placement==before {
            @extend .icon-#{$icon} !optional;

        }

        @else {
            @extend .icon-#{$icon}.right !optional;
        }

    }

    @else {
        @extend %icon-linearicon !optional;

        @if $placement==before {
            &::before {
                margin-right: 0.5em;
            }

            @extend %icon-linearicon--#{$icon} !optional;

        }

        @else {
            &::after {
                margin-left: 0.5em;
            }

            @extend %icon-linearicon--#{$icon}.right !optional;
        }
    }
}