// Link Mixin
// ($color, $hover-color, $hover-underline, $block-style, $font-family)
// ($block-style options: block, unset, underline)
@mixin link-style($color: var(--link-color), $hover-color: var(--link-hover-color), $hover-underline: true, $block-style: inherit, $font-family: var(--link-ff)) {
  color          : $color;
  font-family: $font-family;
  text-decoration: none;
  transition     : var(--link-transition);

  &:focus,
  &:hover {
    color: $hover-color;
    @if $hover-underline == true {
      text-decoration: underline;
    }
  }

  &:focus {
    outline: rem(1) dotted;
  }

  @if $block-style == 'block' {
    background   : transparent;
    border-bottom: $color-blue-pale rem(3) solid;
    box-shadow   : inset 0 rem(-2) 0 $color-blue-pale;
    color        : inherit;
    transition   : background 0.2s ease-in;

    &:focus,
    &:hover {
      background: $color-blue-pale;
      color     : $color-black;
    }
  } @else 
  if $block-style == 'unset' {
    // revert block link style to default
    border-bottom: none;
    box-shadow   : none;
    color        : $color;
    transition   : color 0.2s ease-in;

    &:focus,
    &:hover {
      background: transparent;
      box-shadow: none;
      color     : $color-blue-dark;
    }
  } @else 
  if $block-style == 'underline' {
    border-bottom  : none;
    @if get-color-value($color) == light {
      box-shadow: inset 0 rem(-1) 0 transparentize($color-border,0.5);
    } @else {
      box-shadow: inset 0 rem(-1) 0 $color-border;
    }
    text-decoration: none;

    &:focus,
    &:hover {
      background     : transparent;
      border-bottom  : none;
      text-decoration: none;
      box-shadow     : inset 0 rem(-1) 0; // inherit link color
    }
  }
}
