// Helper function to call color vars
@function color($color-var, $tone: "base", $variation: null) {
	@if $scheme == new {
		// bail if the color is not part of the map
		$map-exist: map-has-key($color-vars, $color-var);

		@if $map-exist == false {
			@return null;
		}

		$color: map-get(map-get($color-vars, $color-var), $tone);

		@if $variation == tint {
			@return tint($color, 90%);
		} @else if $variation == pale {
			@return tint($color, 50%);
		} @else if $variation == fade {
			@return lighten($color, 10%);
		} @else if $variation == dark {
			@return darken($color, 10%);
		} @else if $variation == shade {
			@return shade($color, 11%);
		}

		@return $color;
	} @else {
		@return map-get(map-get($color-vars-orig, $color-var), $tone);
	}
}

@function get-color-value($color) {
	@if str-index(#{$color}, "var") {
		@return light;
	} @else if lightness($color) > 45 {
		@return light;
	} @else {
		@return dark;
	}
}
