// !----- Set animation vars -----
$duration      : 5s !default;
$imageScale    : 1.2 !default;
$imageScaleDown: 1.1 !default;
$imageScaleUp  : 1.3 !default;
$translateL    : rem(30) !default;
$translateS    : rem(6) !default;

/////////////////////////////////////////////////
// Parts
/////////////////////////////////////////////////
@import "parts/animation";
@import "parts/controls";
@import "parts/layout";
@import "parts/media";
@import "parts/pager";
@import "parts/text";