// Sass Map our theme variables
$color-vars: (
	accent: (base: #b16312, green: #647f35, red: #942d2d, yellow: #D89D29, purple: #7c2c94,),
	black : (base: #1f2021,),
	blue  : (dark: #000440, base: #1069A0, light: #4BA5D7, pale:#a5d2eb, tint:#e7f0f6),
	gray  : (base: #77706a, light: #A7A6A6, tint: #f6f6f6),
	white : (base: #ffffff,),
	border: (base: #dddddd,)
);

$color-vars-orig: (
	accent      : (base:#e35f2b, green:#398448, red:#942d2d,),
	black       : (base: #1f2021,),
	blue        : (dark: #00457c, base: #3775a4, light: #5d94be, highlight:#8BB2D5, pale: #a2c3df, tint: #eef4f9),
	gray        : (cool-dark: #69687d, cool: #757676, cool-light: #b5b5b5, dark: #4b4c4d, warm-dark: #777777, warm: #949494, warm-light: #a7a3a2, pale: #e8e8e8, tint: #fafafa),
	tags        : (green: #79ba86, red: #bf6f6f, tan: #c9b579, purple: #72717f, orange: #dd8d66, blue: #42889b, lt-blue: #7ab5b2, lt-brown: #acab5c, brown: #8b6a3f, slate: #6fa2bf, lt-purple: #9b6d9c, lt-green: #94ae70,),
	supplemental: (beige: #e5dddb, yellow: #f2cd5c, seagreen: #458797, red: #ce666a, tan: #e6e5db, orange: #E35F2B,),
	white       : (base: #fff,),
	border      : (base: #ddd,)
);

// Neutrals
$color-black: #1f2021;
$color-gray: #77706a;
$color-gray-light: #A7A6A6;
$color-gray-pale: #dddddd;
$color-gray-tint: #f6f6f6;
$color-white: #ffffff;

//Blues
$color-blue-dark: #000440;
$color-blue: #1069A0;
$color-blue-light: #4BA5D7;
$color-blue-pale: #a5d2eb;
$color-blue-tint: #e7f0f6;

//Accents
$color-orange: #b16312;
$color-green: #647f35;
$color-red: #942d2d;
$color-yellow: #D89D29;
$color-purple: #7c2c94;

// Relative color values
$color-brand: $color-blue-dark;
$color-border: $color-gray-pale;
$color-error: $color-red;
$color-affirm: $color-green;
$color-accent: $color-orange;

// Legacy
$error: color(accent,red);
$affirm: color(accent,green);
$accent: $color-accent;
$border: $color-border;