//////////////////////////////////////////////////
// FONT SIZES
//////////////////////////////////////////////////

$font-size-giga: rem(96) !default;
$font-size-mega: rem(85) !default;
$font-size-kilo: rem(60) !default;

$font-size-alpha: rem(38) !default;
$font-size-beta: rem(30) !default;
$font-size-gamma: rem(24) !default;
$font-size-delta: rem(20) !default;
$font-size-epsilon: rem(18) !default;
$font-size-zeta: rem(16) !default;

$font-size-deci: rem(14) !default;
$font-size-centi: rem(13) !default;
$font-size-milli: rem(12) !default;
$font-size-micro: rem(11) !default;
$font-size-nano: rem(10) !default;

//////////////////////////////////////////////////
// FONT FAMILIES
//////////////////////////////////////////////////

$font-primary  : "Yale", serif;
$font-secondary: "NeueHaasUnicaPro", clean, sans-serif;

$font-weight-normal: 300 !default;
$font-weight-bold: 700 !default;

$font-src : "../../src/fonts";
$font-src-yaledesign: "#{ $font-src }/yaledesign";
$font-src-neuehaas : "#{ $font-src }/neuehaas";