/// Default spacing size that all other spacing, safe-area, etc. is based off.
$_spacing: rem(20);

$spacing-sm: $_spacing; // 20px
$spacing-md: $_spacing * 2; // 40px
$spacing-lg: $_spacing * 3; // 60px
$spacing-xl: $_spacing * 4; // 80px

/// Safe area to prevent content from touching the site header.
$site-header-safe-area: $_spacing * 6;

/// Safe area to prevent content from touching the site footer.
$site-footer-safe-area: $_spacing * 4;

$gutter-negate: ($spacing-sm/-2); // -10px;