@import "variables";

@font-face {
    font-family: 'linearicons';
    src:
        url('#{$icomoon-font-path}/linearicons.ttf?xldiic') format('truetype'),
        url('#{$icomoon-font-path}/linearicons.woff?xldiic') format('woff'),
        url('#{$icomoon-font-path}/linearicons.svg?xldiic#linearicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-linearicon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'linearicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--home {
    &:before {
        content: $icon--home;
    }
}
.icon--home2 {
    &:before {
        content: $icon--home2;
    }
}
.icon--home3 {
    &:before {
        content: $icon--home3;
    }
}
.icon--home4 {
    &:before {
        content: $icon--home4;
    }
}
.icon--home5 {
    &:before {
        content: $icon--home5;
    }
}
.icon--home6 {
    &:before {
        content: $icon--home6;
    }
}
.icon--city {
    &:before {
        content: $icon--city;
    }
}
.icon--apartment {
    &:before {
        content: $icon--apartment;
    }
}
.icon--pencil {
    &:before {
        content: $icon--pencil;
    }
}
.icon--pencil2 {
    &:before {
        content: $icon--pencil2;
    }
}
.icon--pen {
    &:before {
        content: $icon--pen;
    }
}
.icon--pencil3 {
    &:before {
        content: $icon--pencil3;
    }
}
.icon--eraser {
    &:before {
        content: $icon--eraser;
    }
}
.icon--pencil4 {
    &:before {
        content: $icon--pencil4;
    }
}
.icon--pencil5 {
    &:before {
        content: $icon--pencil5;
    }
}
.icon--color-sampler {
    &:before {
        content: $icon--color-sampler;
    }
}
.icon--magic-wand {
    &:before {
        content: $icon--magic-wand;
    }
}
.icon--magnet {
    &:before {
        content: $icon--magnet;
    }
}
.icon--compass {
    &:before {
        content: $icon--compass;
    }
}
.icon--aim {
    &:before {
        content: $icon--aim;
    }
}
.icon--fire {
    &:before {
        content: $icon--fire;
    }
}
.icon--poop {
    &:before {
        content: $icon--poop;
    }
}
.icon--contrast {
    &:before {
        content: $icon--contrast;
    }
}
.icon--sun-small {
    &:before {
        content: $icon--sun-small;
    }
}
.icon--sun {
    &:before {
        content: $icon--sun;
    }
}
.icon--sun2 {
    &:before {
        content: $icon--sun2;
    }
}
.icon--cloud-upload {
    &:before {
        content: $icon--cloud-upload;
    }
}
.icon--cloud-download {
    &:before {
        content: $icon--cloud-download;
    }
}
.icon--cloud-sync {
    &:before {
        content: $icon--cloud-sync;
    }
}
.icon--cloud-lock {
    &:before {
        content: $icon--cloud-lock;
    }
}
.icon--cloud-alert {
    &:before {
        content: $icon--cloud-alert;
    }
}
.icon--cloud-check {
    &:before {
        content: $icon--cloud-check;
    }
}
.icon--cloud-cross {
    &:before {
        content: $icon--cloud-cross;
    }
}
.icon--cloud-crossed {
    &:before {
        content: $icon--cloud-crossed;
    }
}
.icon--shield {
    &:before {
        content: $icon--shield;
    }
}
.icon--shield-check {
    &:before {
        content: $icon--shield-check;
    }
}
.icon--shield-alert {
    &:before {
        content: $icon--shield-alert;
    }
}
.icon--shield-cross {
    &:before {
        content: $icon--shield-cross;
    }
}
.icon--lock {
    &:before {
        content: $icon--lock;
    }
}
.icon--rotation-lock {
    &:before {
        content: $icon--rotation-lock;
    }
}
.icon--unlock {
    &:before {
        content: $icon--unlock;
    }
}
.icon--key {
    &:before {
        content: $icon--key;
    }
}
.icon--key-hole {
    &:before {
        content: $icon--key-hole;
    }
}
.icon--toggle-off {
    &:before {
        content: $icon--toggle-off;
    }
}
.icon--toggle-on {
    &:before {
        content: $icon--toggle-on;
    }
}
.icon--cog {
    &:before {
        content: $icon--cog;
    }
}
.icon--cog2 {
    &:before {
        content: $icon--cog2;
    }
}
.icon--wrench {
    &:before {
        content: $icon--wrench;
    }
}
.icon--hammer-wrench {
    &:before {
        content: $icon--hammer-wrench;
    }
}
.icon--factory {
    &:before {
        content: $icon--factory;
    }
}
.icon--factory2 {
    &:before {
        content: $icon--factory2;
    }
}
.icon--recycle {
    &:before {
        content: $icon--recycle;
    }
}
.icon--trash {
    &:before {
        content: $icon--trash;
    }
}
.icon--trash2 {
    &:before {
        content: $icon--trash2;
    }
}
.icon--hearts {
    &:before {
        content: $icon--hearts;
    }
}
.icon--heart {
    &:before {
        content: $icon--heart;
    }
}
.icon--star {
    &:before {
        content: $icon--star;
    }
}
.icon--star-half {
    &:before {
        content: $icon--star-half;
    }
}
.icon--star-empty {
    &:before {
        content: $icon--star-empty;
    }
}
.icon--flag {
    &:before {
        content: $icon--flag;
    }
}
.icon--flag2 {
    &:before {
        content: $icon--flag2;
    }
}
.icon--flag3 {
    &:before {
        content: $icon--flag3;
    }
}
.icon--mailbox-full {
    &:before {
        content: $icon--mailbox-full;
    }
}
.icon--mailbox-empty {
    &:before {
        content: $icon--mailbox-empty;
    }
}
.icon--at-sign {
    &:before {
        content: $icon--at-sign;
    }
}
.icon--envelope {
    &:before {
        content: $icon--envelope;
    }
}
.icon--envelope-open {
    &:before {
        content: $icon--envelope-open;
    }
}
.icon--paperclip {
    &:before {
        content: $icon--paperclip;
    }
}
.icon--paper-plane {
    &:before {
        content: $icon--paper-plane;
    }
}
.icon--reply {
    &:before {
        content: $icon--reply;
    }
}
.icon--reply-all {
    &:before {
        content: $icon--reply-all;
    }
}
.icon--inbox {
    &:before {
        content: $icon--inbox;
    }
}
.icon--inbox2 {
    &:before {
        content: $icon--inbox2;
    }
}
.icon--outbox {
    &:before {
        content: $icon--outbox;
    }
}
.icon--box {
    &:before {
        content: $icon--box;
    }
}
.icon--archive {
    &:before {
        content: $icon--archive;
    }
}
.icon--archive2 {
    &:before {
        content: $icon--archive2;
    }
}
.icon--eye {
    &:before {
        content: $icon--eye;
    }
}
.icon--eye-crossed {
    &:before {
        content: $icon--eye-crossed;
    }
}
.icon--eye-plus {
    &:before {
        content: $icon--eye-plus;
    }
}
.icon--eye-minus {
    &:before {
        content: $icon--eye-minus;
    }
}
.icon--binoculars {
    &:before {
        content: $icon--binoculars;
    }
}
.icon--binoculars2 {
    &:before {
        content: $icon--binoculars2;
    }
}
.icon--hdd {
    &:before {
        content: $icon--hdd;
    }
}
.icon--hdd-down {
    &:before {
        content: $icon--hdd-down;
    }
}
.icon--hdd-up {
    &:before {
        content: $icon--hdd-up;
    }
}
.icon--floppy-disk {
    &:before {
        content: $icon--floppy-disk;
    }
}
.icon--printer {
    &:before {
        content: $icon--printer;
    }
}
.icon--file-empty {
    &:before {
        content: $icon--file-empty;
    }
}
.icon--file-add {
    &:before {
        content: $icon--file-add;
    }
}
.icon--file-check {
    &:before {
        content: $icon--file-check;
    }
}
.icon--file-lock {
    &:before {
        content: $icon--file-lock;
    }
}
.icon--files {
    &:before {
        content: $icon--files;
    }
}
.icon--copy {
    &:before {
        content: $icon--copy;
    }
}
.icon--compare {
    &:before {
        content: $icon--compare;
    }
}
.icon--folder {
    &:before {
        content: $icon--folder;
    }
}
.icon--folder-search {
    &:before {
        content: $icon--folder-search;
    }
}
.icon--folder-plus {
    &:before {
        content: $icon--folder-plus;
    }
}
.icon--folder-minus {
    &:before {
        content: $icon--folder-minus;
    }
}
.icon--folder-download {
    &:before {
        content: $icon--folder-download;
    }
}
.icon--folder-upload {
    &:before {
        content: $icon--folder-upload;
    }
}
.icon--scissors {
    &:before {
        content: $icon--scissors;
    }
}
.icon--paste {
    &:before {
        content: $icon--paste;
    }
}
.icon--clipboard-empty {
    &:before {
        content: $icon--clipboard-empty;
    }
}
.icon--clipboard-pencil {
    &:before {
        content: $icon--clipboard-pencil;
    }
}
.icon--clipboard-text {
    &:before {
        content: $icon--clipboard-text;
    }
}
.icon--clipboard-check {
    &:before {
        content: $icon--clipboard-check;
    }
}
.icon--clipboard-down {
    &:before {
        content: $icon--clipboard-down;
    }
}
.icon--clipboard-left {
    &:before {
        content: $icon--clipboard-left;
    }
}
.icon--clipboard-alert {
    &:before {
        content: $icon--clipboard-alert;
    }
}
.icon--register {
    &:before {
        content: $icon--register;
    }
}
.icon--enter {
    &:before {
        content: $icon--enter;
    }
}
.icon--exit {
    &:before {
        content: $icon--exit;
    }
}
.icon--papers {
    &:before {
        content: $icon--papers;
    }
}
.icon--news {
    &:before {
        content: $icon--news;
    }
}
.icon--document {
    &:before {
        content: $icon--document;
    }
}
.icon--document2 {
    &:before {
        content: $icon--document2;
    }
}
.icon--graduation-hat {
    &:before {
        content: $icon--graduation-hat;
    }
}
.icon--license2 {
    &:before {
        content: $icon--license2;
    }
}
.icon--medal-empty {
    &:before {
        content: $icon--medal-empty;
    }
}
.icon--music-note {
    &:before {
        content: $icon--music-note;
    }
}
.icon--music-note2 {
    &:before {
        content: $icon--music-note2;
    }
}
.icon--music-note3 {
    &:before {
        content: $icon--music-note3;
    }
}
.icon--playlist {
    &:before {
        content: $icon--playlist;
    }
}
.icon--playlist-add {
    &:before {
        content: $icon--playlist-add;
    }
}
.icon--shuffle {
    &:before {
        content: $icon--shuffle;
    }
}
.icon--repeat-one {
    &:before {
        content: $icon--repeat-one;
    }
}
.icon--repeat {
    &:before {
        content: $icon--repeat;
    }
}
.icon--headphones {
    &:before {
        content: $icon--headphones;
    }
}
.icon--equalizer {
    &:before {
        content: $icon--equalizer;
    }
}
.icon--presentation {
    &:before {
        content: $icon--presentation;
    }
}
.icon--play {
    &:before {
        content: $icon--play;
    }
}
.icon--film-play {
    &:before {
        content: $icon--film-play;
    }
}
.icon--clapboard-play {
    &:before {
        content: $icon--clapboard-play;
    }
}
.icon--film {
    &:before {
        content: $icon--film;
    }
}
.icon--camera {
    &:before {
        content: $icon--camera;
    }
}
.icon--camera-crossed {
    &:before {
        content: $icon--camera-crossed;
    }
}
.icon--camera-play {
    &:before {
        content: $icon--camera-play;
    }
}
.icon--time-lapse {
    &:before {
        content: $icon--time-lapse;
    }
}
.icon--camera2 {
    &:before {
        content: $icon--camera2;
    }
}
.icon--camera-flip {
    &:before {
        content: $icon--camera-flip;
    }
}
.icon--shutter {
    &:before {
        content: $icon--shutter;
    }
}
.icon--flare {
    &:before {
        content: $icon--flare;
    }
}
.icon--convex {
    &:before {
        content: $icon--convex;
    }
}
.icon--concave {
    &:before {
        content: $icon--concave;
    }
}
.icon--picture {
    &:before {
        content: $icon--picture;
    }
}
.icon--picture2 {
    &:before {
        content: $icon--picture2;
    }
}
.icon--picture3 {
    &:before {
        content: $icon--picture3;
    }
}
.icon--pictures {
    &:before {
        content: $icon--pictures;
    }
}
.icon--book {
    &:before {
        content: $icon--book;
    }
}
.icon--book2 {
    &:before {
        content: $icon--book2;
    }
}
.icon--bookmark {
    &:before {
        content: $icon--bookmark;
    }
}
.icon--bookmark2 {
    &:before {
        content: $icon--bookmark2;
    }
}
.icon--label {
    &:before {
        content: $icon--label;
    }
}
.icon--library {
    &:before {
        content: $icon--library;
    }
}
.icon--library2 {
    &:before {
        content: $icon--library2;
    }
}
.icon--profile {
    &:before {
        content: $icon--profile;
    }
}
.icon--portrait {
    &:before {
        content: $icon--portrait;
    }
}
.icon--portrait2 {
    &:before {
        content: $icon--portrait2;
    }
}
.icon--user {
    &:before {
        content: $icon--user;
    }
}
.icon--user-plus {
    &:before {
        content: $icon--user-plus;
    }
}
.icon--user-minus {
    &:before {
        content: $icon--user-minus;
    }
}
.icon--user-lock {
    &:before {
        content: $icon--user-lock;
    }
}
.icon--users2 {
    &:before {
        content: $icon--users2;
    }
}
.icon--users-plus {
    &:before {
        content: $icon--users-plus;
    }
}
.icon--users-minus {
    &:before {
        content: $icon--users-minus;
    }
}
.icon--group-work {
    &:before {
        content: $icon--group-work;
    }
}
.icon--woman {
    &:before {
        content: $icon--woman;
    }
}
.icon--man {
    &:before {
        content: $icon--man;
    }
}
.icon--bow-tie {
    &:before {
        content: $icon--bow-tie;
    }
}
.icon--cart {
    &:before {
        content: $icon--cart;
    }
}
.icon--cart-empty {
    &:before {
        content: $icon--cart-empty;
    }
}
.icon--cart-full {
    &:before {
        content: $icon--cart-full;
    }
}
.icon--cart-plus {
    &:before {
        content: $icon--cart-plus;
    }
}
.icon--cart-plus2 {
    &:before {
        content: $icon--cart-plus2;
    }
}
.icon--cart-add {
    &:before {
        content: $icon--cart-add;
    }
}
.icon--cart-remove {
    &:before {
        content: $icon--cart-remove;
    }
}
.icon--cart-exchange {
    &:before {
        content: $icon--cart-exchange;
    }
}
.icon--tag {
    &:before {
        content: $icon--tag;
    }
}
.icon--tags {
    &:before {
        content: $icon--tags;
    }
}
.icon--wallet {
    &:before {
        content: $icon--wallet;
    }
}
.icon--cash-dollar {
    &:before {
        content: $icon--cash-dollar;
    }
}
.icon--cash-euro {
    &:before {
        content: $icon--cash-euro;
    }
}
.icon--cash-pound {
    &:before {
        content: $icon--cash-pound;
    }
}
.icon--cash-yen {
    &:before {
        content: $icon--cash-yen;
    }
}
.icon--calculator2 {
    &:before {
        content: $icon--calculator2;
    }
}
.icon--telephone {
    &:before {
        content: $icon--telephone;
    }
}
.icon--phone-lock {
    &:before {
        content: $icon--phone-lock;
    }
}
.icon--phone-wave {
    &:before {
        content: $icon--phone-wave;
    }
}
.icon--phone-pause {
    &:before {
        content: $icon--phone-pause;
    }
}
.icon--phone-outgoing {
    &:before {
        content: $icon--phone-outgoing;
    }
}
.icon--phone-incoming {
    &:before {
        content: $icon--phone-incoming;
    }
}
.icon--phone-in-out {
    &:before {
        content: $icon--phone-in-out;
    }
}
.icon--phone-error {
    &:before {
        content: $icon--phone-error;
    }
}
.icon--phone-sip {
    &:before {
        content: $icon--phone-sip;
    }
}
.icon--phone-plus {
    &:before {
        content: $icon--phone-plus;
    }
}
.icon--phone-minus {
    &:before {
        content: $icon--phone-minus;
    }
}
.icon--voicemail {
    &:before {
        content: $icon--voicemail;
    }
}
.icon--dial {
    &:before {
        content: $icon--dial;
    }
}
.icon--telephone2 {
    &:before {
        content: $icon--telephone2;
    }
}
.icon--pushpin {
    &:before {
        content: $icon--pushpin;
    }
}
.icon--pushpin2 {
    &:before {
        content: $icon--pushpin2;
    }
}
.icon--map-marker {
    &:before {
        content: $icon--map-marker;
    }
}
.icon--map-marker-user {
    &:before {
        content: $icon--map-marker-user;
    }
}
.icon--map-marker-down {
    &:before {
        content: $icon--map-marker-down;
    }
}
.icon--map-marker-check {
    &:before {
        content: $icon--map-marker-check;
    }
}
.icon--map-marker-crossed {
    &:before {
        content: $icon--map-marker-crossed;
    }
}
.icon--radar {
    &:before {
        content: $icon--radar;
    }
}
.icon--compass2 {
    &:before {
        content: $icon--compass2;
    }
}
.icon--map2 {
    &:before {
        content: $icon--map2;
    }
}
.icon--location {
    &:before {
        content: $icon--location;
    }
}
.icon--road-sign {
    &:before {
        content: $icon--road-sign;
    }
}
.icon--calendar-empty {
    &:before {
        content: $icon--calendar-empty;
    }
}
.icon--calendar-check {
    &:before {
        content: $icon--calendar-check;
    }
}
.icon--calendar-cross {
    &:before {
        content: $icon--calendar-cross;
    }
}
.icon--calendar-31 {
    &:before {
        content: $icon--calendar-31;
    }
}
.icon--calendar-full {
    &:before {
        content: $icon--calendar-full;
    }
}
.icon--calendar-insert {
    &:before {
        content: $icon--calendar-insert;
    }
}
.icon--calendar-text {
    &:before {
        content: $icon--calendar-text;
    }
}
.icon--calendar-user {
    &:before {
        content: $icon--calendar-user;
    }
}
.icon--mouse {
    &:before {
        content: $icon--mouse;
    }
}
.icon--mouse-left {
    &:before {
        content: $icon--mouse-left;
    }
}
.icon--mouse-right {
    &:before {
        content: $icon--mouse-right;
    }
}
.icon--mouse-both {
    &:before {
        content: $icon--mouse-both;
    }
}
.icon--delete {
    &:before {
        content: $icon--delete;
    }
}
.icon--escape {
    &:before {
        content: $icon--escape;
    }
}
.icon--enter2 {
    &:before {
        content: $icon--enter2;
    }
}
.icon--screen {
    &:before {
        content: $icon--screen;
    }
}
.icon--signal {
    &:before {
        content: $icon--signal;
    }
}
.icon--smartphone {
    &:before {
        content: $icon--smartphone;
    }
}
.icon--tablet2 {
    &:before {
        content: $icon--tablet2;
    }
}
.icon--laptop {
    &:before {
        content: $icon--laptop;
    }
}
.icon--desktop {
    &:before {
        content: $icon--desktop;
    }
}
.icon--launch {
    &:before {
        content: $icon--launch;
    }
}
.icon--new-tab {
    &:before {
        content: $icon--new-tab;
    }
}
.icon--window {
    &:before {
        content: $icon--window;
    }
}
.icon--tv {
    &:before {
        content: $icon--tv;
    }
}
.icon--radio {
    &:before {
        content: $icon--radio;
    }
}
.icon--remote-control {
    &:before {
        content: $icon--remote-control;
    }
}
.icon--power-switch {
    &:before {
        content: $icon--power-switch;
    }
}
.icon--power {
    &:before {
        content: $icon--power;
    }
}
.icon--power-crossed {
    &:before {
        content: $icon--power-crossed;
    }
}
.icon--flash-auto {
    &:before {
        content: $icon--flash-auto;
    }
}
.icon--lamp {
    &:before {
        content: $icon--lamp;
    }
}
.icon--battery-power {
    &:before {
        content: $icon--battery-power;
    }
}
.icon--battery-empty {
    &:before {
        content: $icon--battery-empty;
    }
}
.icon--battery-alert {
    &:before {
        content: $icon--battery-alert;
    }
}
.icon--battery-error {
    &:before {
        content: $icon--battery-error;
    }
}
.icon--battery-low1 {
    &:before {
        content: $icon--battery-low1;
    }
}
.icon--battery-low2 {
    &:before {
        content: $icon--battery-low2;
    }
}
.icon--battery-low3 {
    &:before {
        content: $icon--battery-low3;
    }
}
.icon--battery-mid1 {
    &:before {
        content: $icon--battery-mid1;
    }
}
.icon--battery-mid2 {
    &:before {
        content: $icon--battery-mid2;
    }
}
.icon--battery-mid3 {
    &:before {
        content: $icon--battery-mid3;
    }
}
.icon--battery-full {
    &:before {
        content: $icon--battery-full;
    }
}
.icon--battery-charging {
    &:before {
        content: $icon--battery-charging;
    }
}
.icon--battery-charging2 {
    &:before {
        content: $icon--battery-charging2;
    }
}
.icon--battery-charging3 {
    &:before {
        content: $icon--battery-charging3;
    }
}
.icon--battery-charging4 {
    &:before {
        content: $icon--battery-charging4;
    }
}
.icon--battery-charging5 {
    &:before {
        content: $icon--battery-charging5;
    }
}
.icon--battery-charging6 {
    &:before {
        content: $icon--battery-charging6;
    }
}
.icon--battery-charging7 {
    &:before {
        content: $icon--battery-charging7;
    }
}
.icon--bubble {
    &:before {
        content: $icon--bubble;
    }
}
.icon--bubbles {
    &:before {
        content: $icon--bubbles;
    }
}
.icon--bubble-dots {
    &:before {
        content: $icon--bubble-dots;
    }
}
.icon--bubble-alert {
    &:before {
        content: $icon--bubble-alert;
    }
}
.icon--bubble-question {
    &:before {
        content: $icon--bubble-question;
    }
}
.icon--bubble-text {
    &:before {
        content: $icon--bubble-text;
    }
}
.icon--phone-bubble {
    &:before {
        content: $icon--phone-bubble;
    }
}
.icon--quote-open {
    &:before {
        content: $icon--quote-open;
    }
}
.icon--quote-close {
    &:before {
        content: $icon--quote-close;
    }
}
.icon--heart-pulse {
    &:before {
        content: $icon--heart-pulse;
    }
}
.icon--pulse {
    &:before {
        content: $icon--pulse;
    }
}
.icon--first-aid {
    &:before {
        content: $icon--first-aid;
    }
}
.icon--lifebuoy {
    &:before {
        content: $icon--lifebuoy;
    }
}
.icon--thermometer {
    &:before {
        content: $icon--thermometer;
    }
}
.icon--microscope {
    &:before {
        content: $icon--microscope;
    }
}
.icon--skull {
    &:before {
        content: $icon--skull;
    }
}
.icon--construction-cone {
    &:before {
        content: $icon--construction-cone;
    }
}
.icon--pie-chart {
    &:before {
        content: $icon--pie-chart;
    }
}
.icon--pie-chart2 {
    &:before {
        content: $icon--pie-chart2;
    }
}
.icon--graph {
    &:before {
        content: $icon--graph;
    }
}
.icon--chart-growth {
    &:before {
        content: $icon--chart-growth;
    }
}
.icon--chart-bars {
    &:before {
        content: $icon--chart-bars;
    }
}
.icon--chart-settings {
    &:before {
        content: $icon--chart-settings;
    }
}
.icon--rank {
    &:before {
        content: $icon--rank;
    }
}
.icon--rank2 {
    &:before {
        content: $icon--rank2;
    }
}
.icon--rank3 {
    &:before {
        content: $icon--rank3;
    }
}
.icon--lotus {
    &:before {
        content: $icon--lotus;
    }
}
.icon--teacup {
    &:before {
        content: $icon--teacup;
    }
}
.icon--platter {
    &:before {
        content: $icon--platter;
    }
}
.icon--coffee-cup {
    &:before {
        content: $icon--coffee-cup;
    }
}
.icon--apple {
    &:before {
        content: $icon--apple;
    }
}
.icon--balance {
    &:before {
        content: $icon--balance;
    }
}
.icon--briefcase {
    &:before {
        content: $icon--briefcase;
    }
}
.icon--glasses2 {
    &:before {
        content: $icon--glasses2;
    }
}
.icon--accessibility {
    &:before {
        content: $icon--accessibility;
    }
}
.icon--wheelchair {
    &:before {
        content: $icon--wheelchair;
    }
}
.icon--wall2 {
    &:before {
        content: $icon--wall2;
    }
}
.icon--icons {
    &:before {
        content: $icon--icons;
    }
}
.icon--resize-handle {
    &:before {
        content: $icon--resize-handle;
    }
}
.icon--icons2 {
    &:before {
        content: $icon--icons2;
    }
}
.icon--select {
    &:before {
        content: $icon--select;
    }
}
.icon--select2 {
    &:before {
        content: $icon--select2;
    }
}
.icon--site-map {
    &:before {
        content: $icon--site-map;
    }
}
.icon--earth {
    &:before {
        content: $icon--earth;
    }
}
.icon--earth-lock {
    &:before {
        content: $icon--earth-lock;
    }
}
.icon--network {
    &:before {
        content: $icon--network;
    }
}
.icon--network-lock {
    &:before {
        content: $icon--network-lock;
    }
}
.icon--planet {
    &:before {
        content: $icon--planet;
    }
}
.icon--mustache2 {
    &:before {
        content: $icon--mustache2;
    }
}
.icon--mustache-glasses {
    &:before {
        content: $icon--mustache-glasses;
    }
}
.icon--pipe {
    &:before {
        content: $icon--pipe;
    }
}
.icon--alarm {
    &:before {
        content: $icon--alarm;
    }
}
.icon--alarm-add {
    &:before {
        content: $icon--alarm-add;
    }
}
.icon--alarm-snooze {
    &:before {
        content: $icon--alarm-snooze;
    }
}
.icon--alarm-ringing {
    &:before {
        content: $icon--alarm-ringing;
    }
}
.icon--bullhorn {
    &:before {
        content: $icon--bullhorn;
    }
}
.icon--hearing {
    &:before {
        content: $icon--hearing;
    }
}
.icon--volume-high {
    &:before {
        content: $icon--volume-high;
    }
}
.icon--volume-medium {
    &:before {
        content: $icon--volume-medium;
    }
}
.icon--volume-low {
    &:before {
        content: $icon--volume-low;
    }
}
.icon--volume {
    &:before {
        content: $icon--volume;
    }
}
.icon--mute {
    &:before {
        content: $icon--mute;
    }
}
.icon--lan {
    &:before {
        content: $icon--lan;
    }
}
.icon--lan2 {
    &:before {
        content: $icon--lan2;
    }
}
.icon--wifi {
    &:before {
        content: $icon--wifi;
    }
}
.icon--wifi-lock {
    &:before {
        content: $icon--wifi-lock;
    }
}
.icon--wifi-blocked {
    &:before {
        content: $icon--wifi-blocked;
    }
}
.icon--wifi-mid {
    &:before {
        content: $icon--wifi-mid;
    }
}
.icon--wifi-low {
    &:before {
        content: $icon--wifi-low;
    }
}
.icon--wifi-low2 {
    &:before {
        content: $icon--wifi-low2;
    }
}
.icon--wifi-alert {
    &:before {
        content: $icon--wifi-alert;
    }
}
.icon--wifi-alert-mid {
    &:before {
        content: $icon--wifi-alert-mid;
    }
}
.icon--wifi-alert-low {
    &:before {
        content: $icon--wifi-alert-low;
    }
}
.icon--wifi-alert-low2 {
    &:before {
        content: $icon--wifi-alert-low2;
    }
}
.icon--stream {
    &:before {
        content: $icon--stream;
    }
}
.icon--stream-check {
    &:before {
        content: $icon--stream-check;
    }
}
.icon--stream-error {
    &:before {
        content: $icon--stream-error;
    }
}
.icon--stream-alert {
    &:before {
        content: $icon--stream-alert;
    }
}
.icon--communication {
    &:before {
        content: $icon--communication;
    }
}
.icon--communication-crossed {
    &:before {
        content: $icon--communication-crossed;
    }
}
.icon--broadcast {
    &:before {
        content: $icon--broadcast;
    }
}
.icon--antenna {
    &:before {
        content: $icon--antenna;
    }
}
.icon--mic {
    &:before {
        content: $icon--mic;
    }
}
.icon--mic-mute {
    &:before {
        content: $icon--mic-mute;
    }
}
.icon--mic2 {
    &:before {
        content: $icon--mic2;
    }
}
.icon--hourglass {
    &:before {
        content: $icon--hourglass;
    }
}
.icon--loading {
    &:before {
        content: $icon--loading;
    }
}
.icon--refresh {
    &:before {
        content: $icon--refresh;
    }
}
.icon--refresh2 {
    &:before {
        content: $icon--refresh2;
    }
}
.icon--undo {
    &:before {
        content: $icon--undo;
    }
}
.icon--redo {
    &:before {
        content: $icon--redo;
    }
}
.icon--jump2 {
    &:before {
        content: $icon--jump2;
    }
}
.icon--undo2 {
    &:before {
        content: $icon--undo2;
    }
}
.icon--redo2 {
    &:before {
        content: $icon--redo2;
    }
}
.icon--sync {
    &:before {
        content: $icon--sync;
    }
}
.icon--repeat-one2 {
    &:before {
        content: $icon--repeat-one2;
    }
}
.icon--sync-crossed {
    &:before {
        content: $icon--sync-crossed;
    }
}
.icon--sync2 {
    &:before {
        content: $icon--sync2;
    }
}
.icon--repeat-one3 {
    &:before {
        content: $icon--repeat-one3;
    }
}
.icon--sync-crossed2 {
    &:before {
        content: $icon--sync-crossed2;
    }
}
.icon--return {
    &:before {
        content: $icon--return;
    }
}
.icon--return2 {
    &:before {
        content: $icon--return2;
    }
}
.icon--refund {
    &:before {
        content: $icon--refund;
    }
}
.icon--history {
    &:before {
        content: $icon--history;
    }
}
.icon--history2 {
    &:before {
        content: $icon--history2;
    }
}
.icon--self-timer {
    &:before {
        content: $icon--self-timer;
    }
}
.icon--clock {
    &:before {
        content: $icon--clock;
    }
}
.icon--clock2 {
    &:before {
        content: $icon--clock2;
    }
}
.icon--clock3 {
    &:before {
        content: $icon--clock3;
    }
}
.icon--watch {
    &:before {
        content: $icon--watch;
    }
}
.icon--alarm2 {
    &:before {
        content: $icon--alarm2;
    }
}
.icon--alarm-add2 {
    &:before {
        content: $icon--alarm-add2;
    }
}
.icon--alarm-remove {
    &:before {
        content: $icon--alarm-remove;
    }
}
.icon--alarm-check {
    &:before {
        content: $icon--alarm-check;
    }
}
.icon--alarm-error {
    &:before {
        content: $icon--alarm-error;
    }
}
.icon--timer {
    &:before {
        content: $icon--timer;
    }
}
.icon--timer-crossed {
    &:before {
        content: $icon--timer-crossed;
    }
}
.icon--timer2 {
    &:before {
        content: $icon--timer2;
    }
}
.icon--timer-crossed2 {
    &:before {
        content: $icon--timer-crossed2;
    }
}
.icon--download {
    &:before {
        content: $icon--download;
    }
}
.icon--upload {
    &:before {
        content: $icon--upload;
    }
}
.icon--download2 {
    &:before {
        content: $icon--download2;
    }
}
.icon--upload2 {
    &:before {
        content: $icon--upload2;
    }
}
.icon--enter-up {
    &:before {
        content: $icon--enter-up;
    }
}
.icon--enter-down {
    &:before {
        content: $icon--enter-down;
    }
}
.icon--enter-left {
    &:before {
        content: $icon--enter-left;
    }
}
.icon--enter-right {
    &:before {
        content: $icon--enter-right;
    }
}
.icon--exit-up {
    &:before {
        content: $icon--exit-up;
    }
}
.icon--exit-down {
    &:before {
        content: $icon--exit-down;
    }
}
.icon--exit-left {
    &:before {
        content: $icon--exit-left;
    }
}
.icon--exit-right {
    &:before {
        content: $icon--exit-right;
    }
}
.icon--enter-up2 {
    &:before {
        content: $icon--enter-up2;
    }
}
.icon--enter-down2 {
    &:before {
        content: $icon--enter-down2;
    }
}
.icon--enter-vertical {
    &:before {
        content: $icon--enter-vertical;
    }
}
.icon--enter-left2 {
    &:before {
        content: $icon--enter-left2;
    }
}
.icon--enter-right2 {
    &:before {
        content: $icon--enter-right2;
    }
}
.icon--enter-horizontal {
    &:before {
        content: $icon--enter-horizontal;
    }
}
.icon--exit-up2 {
    &:before {
        content: $icon--exit-up2;
    }
}
.icon--exit-down2 {
    &:before {
        content: $icon--exit-down2;
    }
}
.icon--exit-left2 {
    &:before {
        content: $icon--exit-left2;
    }
}
.icon--exit-right2 {
    &:before {
        content: $icon--exit-right2;
    }
}
.icon--cli {
    &:before {
        content: $icon--cli;
    }
}
.icon--bug {
    &:before {
        content: $icon--bug;
    }
}
.icon--code {
    &:before {
        content: $icon--code;
    }
}
.icon--link {
    &:before {
        content: $icon--link;
    }
}
.icon--unlink {
    &:before {
        content: $icon--unlink;
    }
}
.icon--link2 {
    &:before {
        content: $icon--link2;
    }
}
.icon--unlink2 {
    &:before {
        content: $icon--unlink2;
    }
}
.icon--thumbs-up {
    &:before {
        content: $icon--thumbs-up;
    }
}
.icon--thumbs-down {
    &:before {
        content: $icon--thumbs-down;
    }
}
.icon--thumbs-up2 {
    &:before {
        content: $icon--thumbs-up2;
    }
}
.icon--thumbs-down2 {
    &:before {
        content: $icon--thumbs-down2;
    }
}
.icon--share {
    &:before {
        content: $icon--share;
    }
}
.icon--share2 {
    &:before {
        content: $icon--share2;
    }
}
.icon--magnifier {
    &:before {
        content: $icon--magnifier;
    }
}
.icon--file-search {
    &:before {
        content: $icon--file-search;
    }
}
.icon--find-replace {
    &:before {
        content: $icon--find-replace;
    }
}
.icon--zoom-in {
    &:before {
        content: $icon--zoom-in;
    }
}
.icon--zoom-out {
    &:before {
        content: $icon--zoom-out;
    }
}
.icon--loupe {
    &:before {
        content: $icon--loupe;
    }
}
.icon--loupe-zoom-in {
    &:before {
        content: $icon--loupe-zoom-in;
    }
}
.icon--loupe-zoom-out {
    &:before {
        content: $icon--loupe-zoom-out;
    }
}
.icon--cross {
    &:before {
        content: $icon--cross;
    }
}
.icon--menu {
    &:before {
        content: $icon--menu;
    }
}
.icon--list {
    &:before {
        content: $icon--list;
    }
}
.icon--list2 {
    &:before {
        content: $icon--list2;
    }
}
.icon--list3 {
    &:before {
        content: $icon--list3;
    }
}
.icon--menu2 {
    &:before {
        content: $icon--menu2;
    }
}
.icon--list4 {
    &:before {
        content: $icon--list4;
    }
}
.icon--menu3 {
    &:before {
        content: $icon--menu3;
    }
}
.icon--exclamation {
    &:before {
        content: $icon--exclamation;
    }
}
.icon--question {
    &:before {
        content: $icon--question;
    }
}
.icon--check {
    &:before {
        content: $icon--check;
    }
}
.icon--cross2 {
    &:before {
        content: $icon--cross2;
    }
}
.icon--plus {
    &:before {
        content: $icon--plus;
    }
}
.icon--minus {
    &:before {
        content: $icon--minus;
    }
}
.icon--percent {
    &:before {
        content: $icon--percent;
    }
}
.icon--chevron-up {
    &:before {
        content: $icon--chevron-up;
    }
}
.icon--chevron-down {
    &:before {
        content: $icon--chevron-down;
    }
}
.icon--chevron-left {
    &:before {
        content: $icon--chevron-left;
    }
}
.icon--chevron-right {
    &:before {
        content: $icon--chevron-right;
    }
}
.icon--chevrons-expand-vertical {
    &:before {
        content: $icon--chevrons-expand-vertical;
    }
}
.icon--chevrons-expand-horizontal {
    &:before {
        content: $icon--chevrons-expand-horizontal;
    }
}
.icon--chevrons-contract-vertical {
    &:before {
        content: $icon--chevrons-contract-vertical;
    }
}
.icon--chevrons-contract-horizontal {
    &:before {
        content: $icon--chevrons-contract-horizontal;
    }
}
.icon--arrow-up {
    &:before {
        content: $icon--arrow-up;
    }
}
.icon--arrow-down {
    &:before {
        content: $icon--arrow-down;
    }
}
.icon--arrow-left {
    &:before {
        content: $icon--arrow-left;
    }
}
.icon--arrow-right {
    &:before {
        content: $icon--arrow-right;
    }
}
.icon--arrow-up-right {
    &:before {
        content: $icon--arrow-up-right;
    }
}
.icon--arrows-merge {
    &:before {
        content: $icon--arrows-merge;
    }
}
.icon--arrows-split {
    &:before {
        content: $icon--arrows-split;
    }
}
.icon--arrow-divert {
    &:before {
        content: $icon--arrow-divert;
    }
}
.icon--arrow-return {
    &:before {
        content: $icon--arrow-return;
    }
}
.icon--expand {
    &:before {
        content: $icon--expand;
    }
}
.icon--contract {
    &:before {
        content: $icon--contract;
    }
}
.icon--expand2 {
    &:before {
        content: $icon--expand2;
    }
}
.icon--contract2 {
    &:before {
        content: $icon--contract2;
    }
}
.icon--move {
    &:before {
        content: $icon--move;
    }
}
.icon--tab {
    &:before {
        content: $icon--tab;
    }
}
.icon--arrow-wave {
    &:before {
        content: $icon--arrow-wave;
    }
}
.icon--expand3 {
    &:before {
        content: $icon--expand3;
    }
}
.icon--expand4 {
    &:before {
        content: $icon--expand4;
    }
}
.icon--contract3 {
    &:before {
        content: $icon--contract3;
    }
}
.icon--notification {
    &:before {
        content: $icon--notification;
    }
}
.icon--warning {
    &:before {
        content: $icon--warning;
    }
}
.icon--notification-circle {
    &:before {
        content: $icon--notification-circle;
    }
}
.icon--question-circle {
    &:before {
        content: $icon--question-circle;
    }
}
.icon--menu-circle {
    &:before {
        content: $icon--menu-circle;
    }
}
.icon--checkmark-circle {
    &:before {
        content: $icon--checkmark-circle;
    }
}
.icon--cross-circle {
    &:before {
        content: $icon--cross-circle;
    }
}
.icon--plus-circle {
    &:before {
        content: $icon--plus-circle;
    }
}
.icon--circle-minus {
    &:before {
        content: $icon--circle-minus;
    }
}
.icon--percent-circle {
    &:before {
        content: $icon--percent-circle;
    }
}
.icon--arrow-up-circle {
    &:before {
        content: $icon--arrow-up-circle;
    }
}
.icon--arrow-down-circle {
    &:before {
        content: $icon--arrow-down-circle;
    }
}
.icon--arrow-left-circle {
    &:before {
        content: $icon--arrow-left-circle;
    }
}
.icon--arrow-right-circle {
    &:before {
        content: $icon--arrow-right-circle;
    }
}
.icon--chevron-up-circle {
    &:before {
        content: $icon--chevron-up-circle;
    }
}
.icon--chevron-down-circle {
    &:before {
        content: $icon--chevron-down-circle;
    }
}
.icon--chevron-left-circle {
    &:before {
        content: $icon--chevron-left-circle;
    }
}
.icon--chevron-right-circle {
    &:before {
        content: $icon--chevron-right-circle;
    }
}
.icon--backward-circle {
    &:before {
        content: $icon--backward-circle;
    }
}
.icon--first-circle {
    &:before {
        content: $icon--first-circle;
    }
}
.icon--previous-circle {
    &:before {
        content: $icon--previous-circle;
    }
}
.icon--stop-circle {
    &:before {
        content: $icon--stop-circle;
    }
}
.icon--play-circle {
    &:before {
        content: $icon--play-circle;
    }
}
.icon--pause-circle {
    &:before {
        content: $icon--pause-circle;
    }
}
.icon--next-circle {
    &:before {
        content: $icon--next-circle;
    }
}
.icon--last-circle {
    &:before {
        content: $icon--last-circle;
    }
}
.icon--forward-circle {
    &:before {
        content: $icon--forward-circle;
    }
}
.icon--eject-circle {
    &:before {
        content: $icon--eject-circle;
    }
}
.icon--crop {
    &:before {
        content: $icon--crop;
    }
}
.icon--frame-expand {
    &:before {
        content: $icon--frame-expand;
    }
}
.icon--frame-contract {
    &:before {
        content: $icon--frame-contract;
    }
}
.icon--focus {
    &:before {
        content: $icon--focus;
    }
}
.icon--transform {
    &:before {
        content: $icon--transform;
    }
}
.icon--grid {
    &:before {
        content: $icon--grid;
    }
}
.icon--grid-crossed {
    &:before {
        content: $icon--grid-crossed;
    }
}
.icon--layers {
    &:before {
        content: $icon--layers;
    }
}
.icon--layers-crossed {
    &:before {
        content: $icon--layers-crossed;
    }
}
.icon--toggle {
    &:before {
        content: $icon--toggle;
    }
}
.icon--funnel {
    &:before {
        content: $icon--funnel;
    }
}
.icon--flip-horizontal {
    &:before {
        content: $icon--flip-horizontal;
    }
}
.icon--flip-vertical {
    &:before {
        content: $icon--flip-vertical;
    }
}
.icon--square {
    &:before {
        content: $icon--square;
    }
}
.icon--plus-square {
    &:before {
        content: $icon--plus-square;
    }
}
.icon--minus-square {
    &:before {
        content: $icon--minus-square;
    }
}
.icon--percent-square {
    &:before {
        content: $icon--percent-square;
    }
}
.icon--arrow-up-square {
    &:before {
        content: $icon--arrow-up-square;
    }
}
.icon--arrow-down-square {
    &:before {
        content: $icon--arrow-down-square;
    }
}
.icon--arrow-left-square {
    &:before {
        content: $icon--arrow-left-square;
    }
}
.icon--arrow-right-square {
    &:before {
        content: $icon--arrow-right-square;
    }
}
.icon--chevron-up-square {
    &:before {
        content: $icon--chevron-up-square;
    }
}
.icon--chevron-down-square {
    &:before {
        content: $icon--chevron-down-square;
    }
}
.icon--chevron-left-square {
    &:before {
        content: $icon--chevron-left-square;
    }
}
.icon--chevron-right-square {
    &:before {
        content: $icon--chevron-right-square;
    }
}
.icon--check-square {
    &:before {
        content: $icon--check-square;
    }
}
.icon--cross-square {
    &:before {
        content: $icon--cross-square;
    }
}
.icon--menu-square {
    &:before {
        content: $icon--menu-square;
    }
}
.icon--prohibited {
    &:before {
        content: $icon--prohibited;
    }
}
.icon--circle {
    &:before {
        content: $icon--circle;
    }
}
.icon--radio-button {
    &:before {
        content: $icon--radio-button;
    }
}
.icon--strikethrough {
    &:before {
        content: $icon--strikethrough;
    }
}
.icon--text-align-justify {
    &:before {
        content: $icon--text-align-justify;
    }
}
.icon--line-spacing {
    &:before {
        content: $icon--line-spacing;
    }
}
.icon--sort-alpha-asc {
    &:before {
        content: $icon--sort-alpha-asc;
    }
}
.icon--sort-alpha-desc {
    &:before {
        content: $icon--sort-alpha-desc;
    }
}
.icon--sort-numeric-asc {
    &:before {
        content: $icon--sort-numeric-asc;
    }
}
.icon--sort-numeric-desc {
    &:before {
        content: $icon--sort-numeric-desc;
    }
}
.icon--sort-time-asc {
    &:before {
        content: $icon--sort-time-asc;
    }
}
.icon--sort-time-desc {
    &:before {
        content: $icon--sort-time-desc;
    }
}
.icon--sigma {
    &:before {
        content: $icon--sigma;
    }
}
.icon--pencil-line {
    &:before {
        content: $icon--pencil-line;
    }
}
.icon--border-all {
    &:before {
        content: $icon--border-all;
    }
}
.icon--border-outer {
    &:before {
        content: $icon--border-outer;
    }
}
.icon--border-inner {
    &:before {
        content: $icon--border-inner;
    }
}
.icon--ellipsis {
    &:before {
        content: $icon--ellipsis;
    }
}

