@font-face {
    font-family: 'linearicons';
    src:
        url('fonts/linearicons.ttf?xldiic') format('truetype'),
        url('fonts/linearicons.woff?xldiic') format('woff'),
        url('fonts/linearicons.svg?xldiic#linearicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-linearicon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'linearicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon--home:before {
    content: "\e600";
}
.icon--home2:before {
    content: "\e601";
}
.icon--home3:before {
    content: "\e602";
}
.icon--home4:before {
    content: "\e603";
}
.icon--home5:before {
    content: "\e604";
}
.icon--home6:before {
    content: "\e605";
}
.icon--city:before {
    content: "\e60b";
}
.icon--apartment:before {
    content: "\e60c";
}
.icon--pencil:before {
    content: "\e60d";
}
.icon--pencil2:before {
    content: "\e60e";
}
.icon--pen:before {
    content: "\e60f";
}
.icon--pencil3:before {
    content: "\e610";
}
.icon--eraser:before {
    content: "\e611";
}
.icon--pencil4:before {
    content: "\e612";
}
.icon--pencil5:before {
    content: "\e613";
}
.icon--color-sampler:before {
    content: "\e627";
}
.icon--magic-wand:before {
    content: "\e62b";
}
.icon--magnet:before {
    content: "\e62c";
}
.icon--compass:before {
    content: "\e62f";
}
.icon--aim:before {
    content: "\e630";
}
.icon--fire:before {
    content: "\e638";
}
.icon--poop:before {
    content: "\e63e";
}
.icon--contrast:before {
    content: "\e645";
}
.icon--sun-small:before {
    content: "\e646";
}
.icon--sun:before {
    content: "\e647";
}
.icon--sun2:before {
    content: "\e648";
}
.icon--cloud-upload:before {
    content: "\e64b";
}
.icon--cloud-download:before {
    content: "\e64c";
}
.icon--cloud-sync:before {
    content: "\e655";
}
.icon--cloud-lock:before {
    content: "\e656";
}
.icon--cloud-alert:before {
    content: "\e658";
}
.icon--cloud-check:before {
    content: "\e659";
}
.icon--cloud-cross:before {
    content: "\e65a";
}
.icon--cloud-crossed:before {
    content: "\e65b";
}
.icon--shield:before {
    content: "\e667";
}
.icon--shield-check:before {
    content: "\e668";
}
.icon--shield-alert:before {
    content: "\e669";
}
.icon--shield-cross:before {
    content: "\e66a";
}
.icon--lock:before {
    content: "\e66b";
}
.icon--rotation-lock:before {
    content: "\e66c";
}
.icon--unlock:before {
    content: "\e66d";
}
.icon--key:before {
    content: "\e66e";
}
.icon--key-hole:before {
    content: "\e66f";
}
.icon--toggle-off:before {
    content: "\e670";
}
.icon--toggle-on:before {
    content: "\e671";
}
.icon--cog:before {
    content: "\e672";
}
.icon--cog2:before {
    content: "\e673";
}
.icon--wrench:before {
    content: "\e674";
}
.icon--hammer-wrench:before {
    content: "\e676";
}
.icon--factory:before {
    content: "\e67d";
}
.icon--factory2:before {
    content: "\e67e";
}
.icon--recycle:before {
    content: "\e67f";
}
.icon--trash:before {
    content: "\e680";
}
.icon--trash2:before {
    content: "\e681";
}
.icon--hearts:before {
    content: "\e68b";
}
.icon--heart:before {
    content: "\e68c";
}
.icon--star:before {
    content: "\e68d";
}
.icon--star-half:before {
    content: "\e68e";
}
.icon--star-empty:before {
    content: "\e68f";
}
.icon--flag:before {
    content: "\e690";
}
.icon--flag2:before {
    content: "\e691";
}
.icon--flag3:before {
    content: "\e692";
}
.icon--mailbox-full:before {
    content: "\e693";
}
.icon--mailbox-empty:before {
    content: "\e694";
}
.icon--at-sign:before {
    content: "\e695";
}
.icon--envelope:before {
    content: "\e696";
}
.icon--envelope-open:before {
    content: "\e697";
}
.icon--paperclip:before {
    content: "\e698";
}
.icon--paper-plane:before {
    content: "\e699";
}
.icon--reply:before {
    content: "\e69a";
}
.icon--reply-all:before {
    content: "\e69b";
}
.icon--inbox:before {
    content: "\e69c";
}
.icon--inbox2:before {
    content: "\e69d";
}
.icon--outbox:before {
    content: "\e69e";
}
.icon--box:before {
    content: "\e69f";
}
.icon--archive:before {
    content: "\e6a0";
}
.icon--archive2:before {
    content: "\e6a1";
}
.icon--eye:before {
    content: "\e6a5";
}
.icon--eye-crossed:before {
    content: "\e6a6";
}
.icon--eye-plus:before {
    content: "\e6a7";
}
.icon--eye-minus:before {
    content: "\e6a8";
}
.icon--binoculars:before {
    content: "\e6a9";
}
.icon--binoculars2:before {
    content: "\e6aa";
}
.icon--hdd:before {
    content: "\e6ab";
}
.icon--hdd-down:before {
    content: "\e6ac";
}
.icon--hdd-up:before {
    content: "\e6ad";
}
.icon--floppy-disk:before {
    content: "\e6ae";
}
.icon--printer:before {
    content: "\e6b1";
}
.icon--file-empty:before {
    content: "\e6b3";
}
.icon--file-add:before {
    content: "\e6b4";
}
.icon--file-check:before {
    content: "\e6b5";
}
.icon--file-lock:before {
    content: "\e6b6";
}
.icon--files:before {
    content: "\e6b7";
}
.icon--copy:before {
    content: "\e6b8";
}
.icon--compare:before {
    content: "\e6b9";
}
.icon--folder:before {
    content: "\e6ba";
}
.icon--folder-search:before {
    content: "\e6bb";
}
.icon--folder-plus:before {
    content: "\e6bc";
}
.icon--folder-minus:before {
    content: "\e6bd";
}
.icon--folder-download:before {
    content: "\e6be";
}
.icon--folder-upload:before {
    content: "\e6bf";
}
.icon--scissors:before {
    content: "\e6c7";
}
.icon--paste:before {
    content: "\e6c8";
}
.icon--clipboard-empty:before {
    content: "\e6c9";
}
.icon--clipboard-pencil:before {
    content: "\e6ca";
}
.icon--clipboard-text:before {
    content: "\e6cb";
}
.icon--clipboard-check:before {
    content: "\e6cc";
}
.icon--clipboard-down:before {
    content: "\e6cd";
}
.icon--clipboard-left:before {
    content: "\e6ce";
}
.icon--clipboard-alert:before {
    content: "\e6cf";
}
.icon--register:before {
    content: "\e6d1";
}
.icon--enter:before {
    content: "\e6d2";
}
.icon--exit:before {
    content: "\e6d3";
}
.icon--papers:before {
    content: "\e6d4";
}
.icon--news:before {
    content: "\e6d5";
}
.icon--document:before {
    content: "\e6d8";
}
.icon--document2:before {
    content: "\e6d9";
}
.icon--graduation-hat:before {
    content: "\e6da";
}
.icon--license2:before {
    content: "\e6dc";
}
.icon--medal-empty:before {
    content: "\e6dd";
}
.icon--music-note:before {
    content: "\e6e4";
}
.icon--music-note2:before {
    content: "\e6e5";
}
.icon--music-note3:before {
    content: "\e6e6";
}
.icon--playlist:before {
    content: "\e6e7";
}
.icon--playlist-add:before {
    content: "\e6e8";
}
.icon--shuffle:before {
    content: "\e6ec";
}
.icon--repeat-one:before {
    content: "\e6ed";
}
.icon--repeat:before {
    content: "\e6ee";
}
.icon--headphones:before {
    content: "\e6ef";
}
.icon--equalizer:before {
    content: "\e6f2";
}
.icon--presentation:before {
    content: "\e6f6";
}
.icon--play:before {
    content: "\e6f7";
}
.icon--film-play:before {
    content: "\e6f8";
}
.icon--clapboard-play:before {
    content: "\e6f9";
}
.icon--film:before {
    content: "\e6fb";
}
.icon--camera:before {
    content: "\e6ff";
}
.icon--camera-crossed:before {
    content: "\e700";
}
.icon--camera-play:before {
    content: "\e701";
}
.icon--time-lapse:before {
    content: "\e702";
}
.icon--camera2:before {
    content: "\e704";
}
.icon--camera-flip:before {
    content: "\e705";
}
.icon--shutter:before {
    content: "\e708";
}
.icon--flare:before {
    content: "\e70b";
}
.icon--convex:before {
    content: "\e70c";
}
.icon--concave:before {
    content: "\e70d";
}
.icon--picture:before {
    content: "\e70e";
}
.icon--picture2:before {
    content: "\e70f";
}
.icon--picture3:before {
    content: "\e710";
}
.icon--pictures:before {
    content: "\e711";
}
.icon--book:before {
    content: "\e712";
}
.icon--book2:before {
    content: "\e714";
}
.icon--bookmark:before {
    content: "\e715";
}
.icon--bookmark2:before {
    content: "\e716";
}
.icon--label:before {
    content: "\e717";
}
.icon--library:before {
    content: "\e718";
}
.icon--library2:before {
    content: "\e719";
}
.icon--profile:before {
    content: "\e71b";
}
.icon--portrait:before {
    content: "\e71c";
}
.icon--portrait2:before {
    content: "\e71d";
}
.icon--user:before {
    content: "\e71e";
}
.icon--user-plus:before {
    content: "\e71f";
}
.icon--user-minus:before {
    content: "\e720";
}
.icon--user-lock:before {
    content: "\e721";
}
.icon--users2:before {
    content: "\e723";
}
.icon--users-plus:before {
    content: "\e724";
}
.icon--users-minus:before {
    content: "\e725";
}
.icon--group-work:before {
    content: "\e726";
}
.icon--woman:before {
    content: "\e727";
}
.icon--man:before {
    content: "\e728";
}
.icon--bow-tie:before {
    content: "\e738";
}
.icon--cart:before {
    content: "\e74d";
}
.icon--cart-empty:before {
    content: "\e74e";
}
.icon--cart-full:before {
    content: "\e74f";
}
.icon--cart-plus:before {
    content: "\e750";
}
.icon--cart-plus2:before {
    content: "\e751";
}
.icon--cart-add:before {
    content: "\e752";
}
.icon--cart-remove:before {
    content: "\e753";
}
.icon--cart-exchange:before {
    content: "\e754";
}
.icon--tag:before {
    content: "\e755";
}
.icon--tags:before {
    content: "\e756";
}
.icon--wallet:before {
    content: "\e758";
}
.icon--cash-dollar:before {
    content: "\e75a";
}
.icon--cash-euro:before {
    content: "\e75b";
}
.icon--cash-pound:before {
    content: "\e75c";
}
.icon--cash-yen:before {
    content: "\e75d";
}
.icon--calculator2:before {
    content: "\e767";
}
.icon--telephone:before {
    content: "\e76a";
}
.icon--phone-lock:before {
    content: "\e76b";
}
.icon--phone-wave:before {
    content: "\e76c";
}
.icon--phone-pause:before {
    content: "\e76d";
}
.icon--phone-outgoing:before {
    content: "\e76e";
}
.icon--phone-incoming:before {
    content: "\e76f";
}
.icon--phone-in-out:before {
    content: "\e770";
}
.icon--phone-error:before {
    content: "\e771";
}
.icon--phone-sip:before {
    content: "\e772";
}
.icon--phone-plus:before {
    content: "\e773";
}
.icon--phone-minus:before {
    content: "\e774";
}
.icon--voicemail:before {
    content: "\e775";
}
.icon--dial:before {
    content: "\e776";
}
.icon--telephone2:before {
    content: "\e777";
}
.icon--pushpin:before {
    content: "\e778";
}
.icon--pushpin2:before {
    content: "\e779";
}
.icon--map-marker:before {
    content: "\e77a";
}
.icon--map-marker-user:before {
    content: "\e77b";
}
.icon--map-marker-down:before {
    content: "\e77c";
}
.icon--map-marker-check:before {
    content: "\e77d";
}
.icon--map-marker-crossed:before {
    content: "\e77e";
}
.icon--radar:before {
    content: "\e77f";
}
.icon--compass2:before {
    content: "\e780";
}
.icon--map2:before {
    content: "\e782";
}
.icon--location:before {
    content: "\e783";
}
.icon--road-sign:before {
    content: "\e784";
}
.icon--calendar-empty:before {
    content: "\e785";
}
.icon--calendar-check:before {
    content: "\e786";
}
.icon--calendar-cross:before {
    content: "\e787";
}
.icon--calendar-31:before {
    content: "\e788";
}
.icon--calendar-full:before {
    content: "\e789";
}
.icon--calendar-insert:before {
    content: "\e78a";
}
.icon--calendar-text:before {
    content: "\e78b";
}
.icon--calendar-user:before {
    content: "\e78c";
}
.icon--mouse:before {
    content: "\e78d";
}
.icon--mouse-left:before {
    content: "\e78e";
}
.icon--mouse-right:before {
    content: "\e78f";
}
.icon--mouse-both:before {
    content: "\e790";
}
.icon--delete:before {
    content: "\e794";
}
.icon--escape:before {
    content: "\e796";
}
.icon--enter2:before {
    content: "\e797";
}
.icon--screen:before {
    content: "\e798";
}
.icon--signal:before {
    content: "\e79a";
}
.icon--smartphone:before {
    content: "\e7a6";
}
.icon--tablet2:before {
    content: "\e7ac";
}
.icon--laptop:before {
    content: "\e7ad";
}
.icon--desktop:before {
    content: "\e7af";
}
.icon--launch:before {
    content: "\e7b0";
}
.icon--new-tab:before {
    content: "\e7b1";
}
.icon--window:before {
    content: "\e7b2";
}
.icon--tv:before {
    content: "\e7b5";
}
.icon--radio:before {
    content: "\e7b6";
}
.icon--remote-control:before {
    content: "\e7b7";
}
.icon--power-switch:before {
    content: "\e7b8";
}
.icon--power:before {
    content: "\e7b9";
}
.icon--power-crossed:before {
    content: "\e7ba";
}
.icon--flash-auto:before {
    content: "\e7bb";
}
.icon--lamp:before {
    content: "\e7bc";
}
.icon--battery-power:before {
    content: "\e7c1";
}
.icon--battery-empty:before {
    content: "\e7c2";
}
.icon--battery-alert:before {
    content: "\e7c3";
}
.icon--battery-error:before {
    content: "\e7c4";
}
.icon--battery-low1:before {
    content: "\e7c5";
}
.icon--battery-low2:before {
    content: "\e7c6";
}
.icon--battery-low3:before {
    content: "\e7c7";
}
.icon--battery-mid1:before {
    content: "\e7c8";
}
.icon--battery-mid2:before {
    content: "\e7c9";
}
.icon--battery-mid3:before {
    content: "\e7ca";
}
.icon--battery-full:before {
    content: "\e7cb";
}
.icon--battery-charging:before {
    content: "\e7cc";
}
.icon--battery-charging2:before {
    content: "\e7cd";
}
.icon--battery-charging3:before {
    content: "\e7ce";
}
.icon--battery-charging4:before {
    content: "\e7cf";
}
.icon--battery-charging5:before {
    content: "\e7d0";
}
.icon--battery-charging6:before {
    content: "\e7d1";
}
.icon--battery-charging7:before {
    content: "\e7d2";
}
.icon--bubble:before {
    content: "\e7d6";
}
.icon--bubbles:before {
    content: "\e7d7";
}
.icon--bubble-dots:before {
    content: "\e7d8";
}
.icon--bubble-alert:before {
    content: "\e7d9";
}
.icon--bubble-question:before {
    content: "\e7da";
}
.icon--bubble-text:before {
    content: "\e7db";
}
.icon--phone-bubble:before {
    content: "\e7e4";
}
.icon--quote-open:before {
    content: "\e7e5";
}
.icon--quote-close:before {
    content: "\e7e6";
}
.icon--heart-pulse:before {
    content: "\e7e8";
}
.icon--pulse:before {
    content: "\e7e9";
}
.icon--first-aid:before {
    content: "\e7ec";
}
.icon--lifebuoy:before {
    content: "\e7ed";
}
.icon--thermometer:before {
    content: "\e7f0";
}
.icon--microscope:before {
    content: "\e7f1";
}
.icon--skull:before {
    content: "\e7f4";
}
.icon--construction-cone:before {
    content: "\e7f7";
}
.icon--pie-chart:before {
    content: "\e7f8";
}
.icon--pie-chart2:before {
    content: "\e7f9";
}
.icon--graph:before {
    content: "\e7fa";
}
.icon--chart-growth:before {
    content: "\e7fb";
}
.icon--chart-bars:before {
    content: "\e7fc";
}
.icon--chart-settings:before {
    content: "\e7fd";
}
.icon--rank:before {
    content: "\e801";
}
.icon--rank2:before {
    content: "\e802";
}
.icon--rank3:before {
    content: "\e803";
}
.icon--lotus:before {
    content: "\e805";
}
.icon--teacup:before {
    content: "\e80b";
}
.icon--platter:before {
    content: "\e818";
}
.icon--coffee-cup:before {
    content: "\e828";
}
.icon--apple:before {
    content: "\e82c";
}
.icon--balance:before {
    content: "\e839";
}
.icon--briefcase:before {
    content: "\e83a";
}
.icon--glasses2:before {
    content: "\e878";
}
.icon--accessibility:before {
    content: "\e879";
}
.icon--wheelchair:before {
    content: "\e87a";
}
.icon--wall2:before {
    content: "\e87d";
}
.icon--icons:before {
    content: "\e87e";
}
.icon--resize-handle:before {
    content: "\e87f";
}
.icon--icons2:before {
    content: "\e880";
}
.icon--select:before {
    content: "\e881";
}
.icon--select2:before {
    content: "\e882";
}
.icon--site-map:before {
    content: "\e883";
}
.icon--earth:before {
    content: "\e884";
}
.icon--earth-lock:before {
    content: "\e885";
}
.icon--network:before {
    content: "\e886";
}
.icon--network-lock:before {
    content: "\e887";
}
.icon--planet:before {
    content: "\e888";
}
.icon--mustache2:before {
    content: "\e8a7";
}
.icon--mustache-glasses:before {
    content: "\e8a8";
}
.icon--pipe:before {
    content: "\e8a9";
}
.icon--alarm:before {
    content: "\e8aa";
}
.icon--alarm-add:before {
    content: "\e8ab";
}
.icon--alarm-snooze:before {
    content: "\e8ac";
}
.icon--alarm-ringing:before {
    content: "\e8ad";
}
.icon--bullhorn:before {
    content: "\e8ae";
}
.icon--hearing:before {
    content: "\e8af";
}
.icon--volume-high:before {
    content: "\e8b0";
}
.icon--volume-medium:before {
    content: "\e8b1";
}
.icon--volume-low:before {
    content: "\e8b2";
}
.icon--volume:before {
    content: "\e8b3";
}
.icon--mute:before {
    content: "\e8b4";
}
.icon--lan:before {
    content: "\e8b5";
}
.icon--lan2:before {
    content: "\e8b6";
}
.icon--wifi:before {
    content: "\e8b7";
}
.icon--wifi-lock:before {
    content: "\e8b8";
}
.icon--wifi-blocked:before {
    content: "\e8b9";
}
.icon--wifi-mid:before {
    content: "\e8ba";
}
.icon--wifi-low:before {
    content: "\e8bb";
}
.icon--wifi-low2:before {
    content: "\e8bc";
}
.icon--wifi-alert:before {
    content: "\e8bd";
}
.icon--wifi-alert-mid:before {
    content: "\e8be";
}
.icon--wifi-alert-low:before {
    content: "\e8bf";
}
.icon--wifi-alert-low2:before {
    content: "\e8c0";
}
.icon--stream:before {
    content: "\e8c1";
}
.icon--stream-check:before {
    content: "\e8c2";
}
.icon--stream-error:before {
    content: "\e8c3";
}
.icon--stream-alert:before {
    content: "\e8c4";
}
.icon--communication:before {
    content: "\e8c5";
}
.icon--communication-crossed:before {
    content: "\e8c6";
}
.icon--broadcast:before {
    content: "\e8c7";
}
.icon--antenna:before {
    content: "\e8c8";
}
.icon--mic:before {
    content: "\e8cb";
}
.icon--mic-mute:before {
    content: "\e8cc";
}
.icon--mic2:before {
    content: "\e8cd";
}
.icon--hourglass:before {
    content: "\e8cf";
}
.icon--loading:before {
    content: "\e8d0";
}
.icon--refresh:before {
    content: "\e8d3";
}
.icon--refresh2:before {
    content: "\e8d4";
}
.icon--undo:before {
    content: "\e8d5";
}
.icon--redo:before {
    content: "\e8d6";
}
.icon--jump2:before {
    content: "\e8d7";
}
.icon--undo2:before {
    content: "\e8d8";
}
.icon--redo2:before {
    content: "\e8d9";
}
.icon--sync:before {
    content: "\e8da";
}
.icon--repeat-one2:before {
    content: "\e8db";
}
.icon--sync-crossed:before {
    content: "\e8dc";
}
.icon--sync2:before {
    content: "\e8dd";
}
.icon--repeat-one3:before {
    content: "\e8de";
}
.icon--sync-crossed2:before {
    content: "\e8df";
}
.icon--return:before {
    content: "\e8e0";
}
.icon--return2:before {
    content: "\e8e1";
}
.icon--refund:before {
    content: "\e8e2";
}
.icon--history:before {
    content: "\e8e3";
}
.icon--history2:before {
    content: "\e8e4";
}
.icon--self-timer:before {
    content: "\e8e5";
}
.icon--clock:before {
    content: "\e8e6";
}
.icon--clock2:before {
    content: "\e8e7";
}
.icon--clock3:before {
    content: "\e8e8";
}
.icon--watch:before {
    content: "\e8e9";
}
.icon--alarm2:before {
    content: "\e8ea";
}
.icon--alarm-add2:before {
    content: "\e8eb";
}
.icon--alarm-remove:before {
    content: "\e8ec";
}
.icon--alarm-check:before {
    content: "\e8ed";
}
.icon--alarm-error:before {
    content: "\e8ee";
}
.icon--timer:before {
    content: "\e8ef";
}
.icon--timer-crossed:before {
    content: "\e8f0";
}
.icon--timer2:before {
    content: "\e8f1";
}
.icon--timer-crossed2:before {
    content: "\e8f2";
}
.icon--download:before {
    content: "\e8f3";
}
.icon--upload:before {
    content: "\e8f4";
}
.icon--download2:before {
    content: "\e8f5";
}
.icon--upload2:before {
    content: "\e8f6";
}
.icon--enter-up:before {
    content: "\e8f7";
}
.icon--enter-down:before {
    content: "\e8f8";
}
.icon--enter-left:before {
    content: "\e8f9";
}
.icon--enter-right:before {
    content: "\e8fa";
}
.icon--exit-up:before {
    content: "\e8fb";
}
.icon--exit-down:before {
    content: "\e8fc";
}
.icon--exit-left:before {
    content: "\e8fd";
}
.icon--exit-right:before {
    content: "\e8fe";
}
.icon--enter-up2:before {
    content: "\e8ff";
}
.icon--enter-down2:before {
    content: "\e900";
}
.icon--enter-vertical:before {
    content: "\e901";
}
.icon--enter-left2:before {
    content: "\e902";
}
.icon--enter-right2:before {
    content: "\e903";
}
.icon--enter-horizontal:before {
    content: "\e904";
}
.icon--exit-up2:before {
    content: "\e905";
}
.icon--exit-down2:before {
    content: "\e906";
}
.icon--exit-left2:before {
    content: "\e907";
}
.icon--exit-right2:before {
    content: "\e908";
}
.icon--cli:before {
    content: "\e909";
}
.icon--bug:before {
    content: "\e90a";
}
.icon--code:before {
    content: "\e90b";
}
.icon--link:before {
    content: "\e915";
}
.icon--unlink:before {
    content: "\e916";
}
.icon--link2:before {
    content: "\e917";
}
.icon--unlink2:before {
    content: "\e918";
}
.icon--thumbs-up:before {
    content: "\e919";
}
.icon--thumbs-down:before {
    content: "\e91a";
}
.icon--thumbs-up2:before {
    content: "\e91b";
}
.icon--thumbs-down2:before {
    content: "\e91c";
}
.icon--share:before {
    content: "\e91f";
}
.icon--share2:before {
    content: "\e920";
}
.icon--magnifier:before {
    content: "\e922";
}
.icon--file-search:before {
    content: "\e923";
}
.icon--find-replace:before {
    content: "\e924";
}
.icon--zoom-in:before {
    content: "\e925";
}
.icon--zoom-out:before {
    content: "\e926";
}
.icon--loupe:before {
    content: "\e927";
}
.icon--loupe-zoom-in:before {
    content: "\e928";
}
.icon--loupe-zoom-out:before {
    content: "\e929";
}
.icon--cross:before {
    content: "\e92a";
}
.icon--menu:before {
    content: "\e92b";
}
.icon--list:before {
    content: "\e92c";
}
.icon--list2:before {
    content: "\e92d";
}
.icon--list3:before {
    content: "\e92e";
}
.icon--menu2:before {
    content: "\e92f";
}
.icon--list4:before {
    content: "\e930";
}
.icon--menu3:before {
    content: "\e931";
}
.icon--exclamation:before {
    content: "\e932";
}
.icon--question:before {
    content: "\e933";
}
.icon--check:before {
    content: "\e934";
}
.icon--cross2:before {
    content: "\e935";
}
.icon--plus:before {
    content: "\e936";
}
.icon--minus:before {
    content: "\e937";
}
.icon--percent:before {
    content: "\e938";
}
.icon--chevron-up:before {
    content: "\e939";
}
.icon--chevron-down:before {
    content: "\e93a";
}
.icon--chevron-left:before {
    content: "\e93b";
}
.icon--chevron-right:before {
    content: "\e93c";
}
.icon--chevrons-expand-vertical:before {
    content: "\e93d";
}
.icon--chevrons-expand-horizontal:before {
    content: "\e93e";
}
.icon--chevrons-contract-vertical:before {
    content: "\e93f";
}
.icon--chevrons-contract-horizontal:before {
    content: "\e940";
}
.icon--arrow-up:before {
    content: "\e941";
}
.icon--arrow-down:before {
    content: "\e942";
}
.icon--arrow-left:before {
    content: "\e943";
}
.icon--arrow-right:before {
    content: "\e944";
}
.icon--arrow-up-right:before {
    content: "\e945";
}
.icon--arrows-merge:before {
    content: "\e946";
}
.icon--arrows-split:before {
    content: "\e947";
}
.icon--arrow-divert:before {
    content: "\e948";
}
.icon--arrow-return:before {
    content: "\e949";
}
.icon--expand:before {
    content: "\e94a";
}
.icon--contract:before {
    content: "\e94b";
}
.icon--expand2:before {
    content: "\e94c";
}
.icon--contract2:before {
    content: "\e94d";
}
.icon--move:before {
    content: "\e94e";
}
.icon--tab:before {
    content: "\e94f";
}
.icon--arrow-wave:before {
    content: "\e950";
}
.icon--expand3:before {
    content: "\e951";
}
.icon--expand4:before {
    content: "\e952";
}
.icon--contract3:before {
    content: "\e953";
}
.icon--notification:before {
    content: "\e954";
}
.icon--warning:before {
    content: "\e955";
}
.icon--notification-circle:before {
    content: "\e956";
}
.icon--question-circle:before {
    content: "\e957";
}
.icon--menu-circle:before {
    content: "\e958";
}
.icon--checkmark-circle:before {
    content: "\e959";
}
.icon--cross-circle:before {
    content: "\e95a";
}
.icon--plus-circle:before {
    content: "\e95b";
}
.icon--circle-minus:before {
    content: "\e95c";
}
.icon--percent-circle:before {
    content: "\e95d";
}
.icon--arrow-up-circle:before {
    content: "\e95e";
}
.icon--arrow-down-circle:before {
    content: "\e95f";
}
.icon--arrow-left-circle:before {
    content: "\e960";
}
.icon--arrow-right-circle:before {
    content: "\e961";
}
.icon--chevron-up-circle:before {
    content: "\e962";
}
.icon--chevron-down-circle:before {
    content: "\e963";
}
.icon--chevron-left-circle:before {
    content: "\e964";
}
.icon--chevron-right-circle:before {
    content: "\e965";
}
.icon--backward-circle:before {
    content: "\e966";
}
.icon--first-circle:before {
    content: "\e967";
}
.icon--previous-circle:before {
    content: "\e968";
}
.icon--stop-circle:before {
    content: "\e969";
}
.icon--play-circle:before {
    content: "\e96a";
}
.icon--pause-circle:before {
    content: "\e96b";
}
.icon--next-circle:before {
    content: "\e96c";
}
.icon--last-circle:before {
    content: "\e96d";
}
.icon--forward-circle:before {
    content: "\e96e";
}
.icon--eject-circle:before {
    content: "\e96f";
}
.icon--crop:before {
    content: "\e970";
}
.icon--frame-expand:before {
    content: "\e971";
}
.icon--frame-contract:before {
    content: "\e972";
}
.icon--focus:before {
    content: "\e973";
}
.icon--transform:before {
    content: "\e974";
}
.icon--grid:before {
    content: "\e975";
}
.icon--grid-crossed:before {
    content: "\e976";
}
.icon--layers:before {
    content: "\e977";
}
.icon--layers-crossed:before {
    content: "\e978";
}
.icon--toggle:before {
    content: "\e979";
}
.icon--funnel:before {
    content: "\e97c";
}
.icon--flip-horizontal:before {
    content: "\e97d";
}
.icon--flip-vertical:before {
    content: "\e97e";
}
.icon--square:before {
    content: "\e98d";
}
.icon--plus-square:before {
    content: "\e98e";
}
.icon--minus-square:before {
    content: "\e98f";
}
.icon--percent-square:before {
    content: "\e990";
}
.icon--arrow-up-square:before {
    content: "\e991";
}
.icon--arrow-down-square:before {
    content: "\e992";
}
.icon--arrow-left-square:before {
    content: "\e993";
}
.icon--arrow-right-square:before {
    content: "\e994";
}
.icon--chevron-up-square:before {
    content: "\e995";
}
.icon--chevron-down-square:before {
    content: "\e996";
}
.icon--chevron-left-square:before {
    content: "\e997";
}
.icon--chevron-right-square:before {
    content: "\e998";
}
.icon--check-square:before {
    content: "\e999";
}
.icon--cross-square:before {
    content: "\e99a";
}
.icon--menu-square:before {
    content: "\e99b";
}
.icon--prohibited:before {
    content: "\e99c";
}
.icon--circle:before {
    content: "\e99d";
}
.icon--radio-button:before {
    content: "\e99e";
}
.icon--strikethrough:before {
    content: "\e9a6";
}
.icon--text-align-justify:before {
    content: "\e9ab";
}
.icon--line-spacing:before {
    content: "\e9ac";
}
.icon--sort-alpha-asc:before {
    content: "\e9b5";
}
.icon--sort-alpha-desc:before {
    content: "\e9b6";
}
.icon--sort-numeric-asc:before {
    content: "\e9b7";
}
.icon--sort-numeric-desc:before {
    content: "\e9b8";
}
.icon--sort-time-asc:before {
    content: "\e9bb";
}
.icon--sort-time-desc:before {
    content: "\e9bc";
}
.icon--sigma:before {
    content: "\e9bd";
}
.icon--pencil-line:before {
    content: "\e9be";
}
.icon--border-all:before {
    content: "\e9df";
}
.icon--border-outer:before {
    content: "\e9e0";
}
.icon--border-inner:before {
    content: "\e9e1";
}
.icon--ellipsis:before {
    content: "\e9e9";
}

