/**
  This file is used to apply styles to Kendo components which cannot be applied purely by changing the
  kendo themes exposed variables.
*/

%focus-border-style {
  border-color     : $color-black $color-black $color-black $color-blue !important;
  border-left-width: 3px;
}

.k-widget {
  .k-input {
    font-family: $font-primary;

    &::selection {
      color: $color-blue;
    }
  }

  &.k-state-invalid,
  &.ng-invalid {
    .k-dateinput-wrap,
    .k-dropdown-wrap,
    .k-multiselect-wrap,
    .k-numeric-wrap,
    .k-picker-wrap {
      border-bottom-left-radius : 0;
      border-bottom-right-radius: 0;
    }
  }

}

.k-autocomplete {

  width : 100%;
  border: none;

  // Autocomplete takes border from widget, not input
  &:hover {
    border-color: $input-hovered-border;
  }
}

.k-dropdown-wrap {
  @include link-style;
}

.k-multiselect {
  .k-multiselect-wrap {
    .k-searchbar {
      float: none;
    }
  }

  &.k-state-focused {
    .k-multiselect-wrap {
      //@extend %focus-border-style;
    }
  }

  // These are our selected option(s) in multiselect
  .k-button {
    border: none;
    @include link-style;

    .k-select {
      margin-left: 0.5rem;

      .k-i-close {
        @include icon(cross-circle);
      }

    }

    &:hover {
      background-color: transparent;
    }

  }
}

// Popup is used in different places. Eg. the "dropdown" in autocomplete/multiselect .
.k-popup {
  border-left-width: 3px;

  .k-list {
    .k-item {
      //color: $color-black;
      border-bottom: 1px solid $color-border;

      &.k-state-focused {
        background-color: $color-blue-tint;
        border          : none;
      }
    }
  }
}

%k-dialog-wrapper {
  .k-dialog {
    margin    : 1rem;
    padding   : 0;
    max-height: 90%;
    max-width : 95%;
    max-width : 800px;

    &-titlebar {
      align-items: baseline;
      padding    : 2rem 2rem 0;
    }

    &-title {
      white-space: normal;
      @extend %text-style-gamma;
    }

    .k-dialog-actions {
      margin: -13px -13px 0 0;

      .k-dialog-close {
        &:before {
          display: none;
        }
      }
    }

    &-content {
      padding: 2rem;
    }

    &-buttongroup {
      padding   : 0.25rem;
      text-align: left;
    }

    .k-button {
      border     : none !important;
      box-shadow : none !important;
      font-family: $font-primary !important;
      font-size  : $font-size-zeta !important;
      font-weight: $font-weight-normal !important;
      line-height: $line-height-normal !important;

      &.k-primary {
        color     : $color-white !important;
        background: $color-accent !important;

        &:hover {
          background-color: shade($color-accent, 11%) !important;
          text-decoration : none !important;
        }
      }

      &:not(.k-primary) {
        background-color: transparent !important;
        color           : $color-blue !important;
        padding         : 0.75em 1em;

        &:hover {
          background-color: transparent !important;
          text-decoration : underline !important;
          color           : $color-blue-light !important;
        }

        &:active {
          background-image: none;
        }

      }
    }
  }

}

// Apply to wrappers around dropdown components
%k-wrapped-dropdown {

  @extend %form-input-wrapped;
  @include pie-clearfix;

  width         : 100%;
  padding       : 0;
  overflow      : hidden;
  vertical-align: top;

  label {
    padding: 6px 6px 0;
  }

  .k-widget {
    margin: 0 -3px;

    .k-input {
      padding-left: 8px;
      width       : 100%;
    }
  }

  &.ng-invalid {
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
    border-color              : $color-yellow;
  }

  .k-floatwrap {
    border: none;

    .k-reset {
      margin-left: 2px;

      .k-button {
        border : none;
        padding: 0;
        margin : 4px 0 0 6px;
        @include link-style;

        .k-select {
          margin-left: 0.5rem;

          .k-i-close {
            @include icon(cross-circle);
          }
        }

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
