
/**
  The original version of this file can be found at: "node_modules/@progress/kendo-theme-default/scss/_variables.scss"

  This should be included before kendo component sccs as below.

  @import '~yale-som-theme/scss/components/kendo/kendo_variables';
  @import '~@progress/kendo-theme-default/scss/multiselect';
  @import '~@progress/kendo-theme-default/scss/autocomplete';
  @import '~@progress/kendo-theme-default/scss/dialog';
  @import '~yale-som-theme/scss/components/kendo/kendo_overrides';

*/

$material-shadow-2: 0 3px 6px rgba(31,32,33,.16), 0 3px 6px rgba(31,32,33,.23);

// Options
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: true !default;
$enable-transitions: true !default;


// Spacing
$spacer: 1em !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;


// Fonts

/// Base font size across all components.
/// @group fonts
$font-size: 18px;
$font-size-xs: 10px !default;
$font-size-sm: 16px;
$font-size-lg: 20px;

/// Font family across all components.
/// @group fonts
$font-family: $font-secondary;

/// Font family for monospaced text. Used for styling the code.
/// @group fonts
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Roboto Mono", "Ubuntu Mono", "Lucida Console", "Courier New", monospace !default;

/// Line height used along with $font-size.
/// @group fonts
//$line-height: (20 / 14) !default;
$line-height: 1;
$line-height-sm: 1.2 !default;
$line-height-lg: 1.5 !default;
$line-height-em: $line-height * 1em;


// Font weight
//$font-weight-light: 300 !default;
//$font-weight-normal: 400 !default;
//$font-weight-bold: 700 !default;


// Headings
//$h1-font-size: ($font-size * 2) !default;
//$h2-font-size: $font-size-lg !default;
//$h3-font-size: $font-size !default;
//$h4-font-size: $font-size-sm !default;
//$h5-font-size: $font-size-sm !default;
//$h6-font-size: $font-size-sm !default;
//
//$h1-margin-bottom: $font-size !default;
//$h2-margin-bottom: $font-size !default;
//$h3-margin-bottom: $font-size !default;
//$h4-margin-bottom: $font-size !default;
//$h5-margin-bottom: $font-size !default;
//$h6-margin-bottom: $font-size !default;
//
//// Display
//$display1-font-size: ($font-size * 6) !default;
//$display2-font-size: ($font-size * 5) !default;
//$display3-font-size: ($font-size * 4) !default;
//$display4-font-size: ($font-size * 3) !default;
//
//// Paragraph
//$paragraph-margin-bottom: $font-size !default;


// Metrics
$padding-x: 12px;
$padding-y: 12px;
$padding-x-sm: $padding-x / 2 !default;
$padding-y-sm: $padding-y / 2 !default;
$padding-x-lg: $padding-x * 1.5 !default;
$padding-y-lg: $padding-y * 1.5 !default;

/// Border radius for all components.
$border-radius: 2px !default;
$border-radius-sm: 1px !default;
$border-radius-lg: 4px !default;

$panel-padding-x: $padding-x !default;
$panel-padding-y: $padding-y !default;

$popup-padding-x: 0 !default;
$popup-padding-y: 0 !default;

$header-padding-x: $padding-x !default;
$header-padding-y: $padding-y * 2 !default;

// Forms
$form-line-height: $line-height !default;
$form-line-height-em: $form-line-height * 1em !default;
$form-line-height-sm: $line-height-sm !default;

// Buttons
$button-border-width: 1px !default;
$button-border-radius: $border-radius !default;

$button-padding-x: 12px !default;
$button-padding-y: 12px !default;
$button-line-height: $form-line-height !default;

$button-padding-x-sm: $button-padding-x / 2 !default;
$button-padding-y-sm: $button-padding-y / 2 !default;
$button-line-height-sm: $form-line-height-sm !default;

$button-inner-calc-size: #{$button-line-height * 1em} + #{$button-padding-y * 2};
$button-calc-size: #{$button-inner-calc-size} + 2px;


// Inputs
$input-default-width: 12.4em !default;
$input-font-size: $font-size !default;

$input-border-width: 1px !default;
$input-border-radius: $border-radius !default;

$input-padding-x: $padding-x !default;
$input-padding-y: 8px;
$input-line-height: $form-line-height !default;

$input-padding-x-sm: $input-padding-x / 2 !default;
$input-padding-y-sm: $input-padding-y / 2 !default;
$input-line-height-sm: $form-line-height-sm !default;

//$input-inner-calc-size: #{$input-line-height * 1em} + #{$input-padding-y * 2};
//$input-calc-size: #{$input-inner-calc-size} + 2px;
$input-inner-calc-size: auto;
$input-calc-size: auto;


// Pickers
//$picker-button-border-width: 0 !default;
//$picker-button-padding-x: $button-padding-y !default;
//$picker-button-padding-y: $button-padding-y !default;


// Toolbar
//$toolbar-border-width: 1px !default;
//$toolbar-border-radius: 0 !default;

/// The horizontal padding of the container.
/// @group toolbar
$toolbar-padding-x: $padding-x !default;

/// The vertical padding of the container.
/// @group toolbar
//$toolbar-padding-y: $padding-x !default;
//$toolbar-line-height: $line-height !default;
//
//$toolbar-spacing: $toolbar-padding-x !default;
//
//$toolbar-button-border-width: $button-border-width !default;
//$toolbar-button-border-radius: 0 !default;
//
//$toolbar-button-padding-x: $button-padding-x !default;
//$toolbar-button-padding-y: $button-padding-y !default;
//$toolbar-button-line-height: $button-line-height !default;
//
//$toolbar-button-calc-size: #{$toolbar-button-line-height * 1em} + #{$toolbar-button-padding-y * 2} + #{$toolbar-button-border-width * 2} !default;
//$toolbar-inner-calc-size: #{$toolbar-button-calc-size} + #{$toolbar-padding-y * 2} !default;

//$list-item-padding-x: $padding-x !default;
//$list-item-padding-y: $padding-y !default;
//
//$nav-item-margin: 0 !default;
//$nav-item-padding-x: $padding-x-lg !default;
//$nav-item-padding-y: $padding-y-lg !default;
//
//$cell-padding-x: 12px !default;
//$cell-padding-y: 8px !default;
//$cell-padding: 8px !default;
//// $cell-padding-sm: $table-sm-cell-padding !default;
//
//$window-inner-padding-x: 16px !default;
//$window-inner-padding-y: 16px !default;
//$window-titlebar-padding-x: 16px !default;
//$window-titlebar-padding-y: 12px !default;

$zindex-popup: 1;
$zindex-window: 2;

$rgba-transparent: rgba( 0, 0, 0, 0 );


// Theme colors

/// The color that focuses the user attention.
/// Used for primary buttons and for elements of primary importance across the theme.
//// Used as background for selected text which cannot be overridden - buttons can be overriden below.
$accent: $color-orange;
/// The color used along with the accent color denoted by $accent.
/// Used to provide contrast between the background and foreground colors.
$accent-contrast: $color-white;

/// The color for informational messages and states.
$info: $color-blue;

/// The color for success messages and states.
$success: $color-green;
/// The color for warning messages and states.
$warning: $color-yellow;
/// The color for error messages and states.
$error: $color-red;

$color-level-step: 8% !default;

$text-color: $color-black;
$bg-color: $color-white;
$border-color: $color-border;

/// The text color of the components' chrome area.
$base-text: #656565;
/// The background of the components' chrome area.
$base-bg: #f6f6f6;
/// The border color of the components' chrome area.
$base-border: $border-color;
/// The gradient background of the components' chrome area.
$base-gradient: $base-bg, darken( $base-bg, 2% ) !default;

/// The text color of hovered items.
$hovered-text: $color-white;
/// The background of hovered items.
$hovered-bg: $color-blue-dark;
/// The border color of hovered items.
$hovered-border: inherit;
/// The gradient background of hovered items.
$hovered-gradient: none;

/// The background of selected items.
$selected-bg: $color-blue-tint;
/// The text color of selected items.
$selected-text: inherit;
/// The border color of selected items.
$selected-border: inherit;
/// The gradient background of selected items.
$selected-gradient: none;

$selected-hover-color: inherit;
$selected-hover-bg: shade( $selected-bg, 50% ) !default;

$focused-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13) !default;

$transition: background-color .2s ease !default;

$invalid-border: $color-yellow;

$gradient-transparent-to-black: rgba( black, 0), black;
$gradient-transparent-to-white: rgba( white, 0), white;
$gradient-black-to-transparent: black, rgba( black, 0);
$gradient-white-to-transparent: white, rgba( white, 0);

$gradient-rainbow: #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000;


// Widget
/// This applies to autocomplete wrappers
$widget-text: $text-color !default;
$widget-bg: #ffffff;
$widget-border: none;


// Panel
$panel-text: $widget-text !default;
$panel-bg: $color-gray-tint;
$panel-border: $color-gray-pale $color-gray-pale $color-gray-pale $color-blue;


// Popup
$popup-text: $color-black;
//$popup-bg: lighten($base-bg, 1%) !default;
$popup-border: $base-border $base-border $base-border $color-blue;
//$popup-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03), 0 4px 5px 0 rgba(0, 0, 0, .04) !default;
//
//// Header
//$header-text: $base-text !default;
//$header-bg: $base-bg !default;
//$header-border: $base-border !default;
//$header-gradient: null !default;
//
//$header-hovered-text: $hovered-text !default;
//$header-hovered-bg: $hovered-bg !default;
//$header-hovered-border: $hovered-border !default;
//$header-hovered-gradient: null !default;
//
//$header-selected-text: $selected-text !default;
//$header-selected-bg: $selected-bg !default;
//$header-selected-border: $selected-border !default;
//$header-selected-gradient: null !default;


// Button
/// The text color of the buttons.
/// @group buttons
$button-text: $color-blue;

/// The background of the buttons.
/// @group buttons
$button-bg: transparent;

/// The border color of the buttons. This also affects input borders?
/// @group buttons
$button-border: $base-border !default;

/// The background gradient of the buttons.
/// @group buttons
$button-gradient: none;
$button-shadow: null !default;

/// The text color of hovered buttons.
/// @group buttons
$button-hovered-text: $hovered-text !default;

/// The background of hovered buttons.
/// @group buttons
$button-hovered-bg: $hovered-bg !default;

/// The border color of hovered buttons.
/// @group buttons
$button-hovered-border: $hovered-border !default;

/// The background gradient of hovered buttons.
/// @group buttons
$button-hovered-gradient: $hovered-gradient !default;
$button-hovered-shadow: null !default;

/// The text color of pressed buttons.
/// @group buttons
$button-pressed-text: $button-text !default;

/// The background color of pressed buttons.
/// @group buttons
$button-pressed-bg: $button-bg !default;

/// The border color of pressed buttons.
/// @group buttons
$button-pressed-border: $button-border !default;

/// The background gradient of pressed buttons.
/// @group buttons
$button-pressed-gradient: none !default;
$button-pressed-shadow: 0 2px 2px 0 rgba(0, 0, 0, .06) !default;

/// The shadow of focused buttons.
/// @group buttons
$button-focused-shadow: 0 3px 4px 0 rgba(0, 0, 0, .06) !default;


// Primary button
$primary-button-text: $accent-contrast !default;
$primary-button-bg: $accent !default;
$primary-button-border: $primary-button-bg !default;
$primary-button-gradient: rgba( adjust-hue( $primary-button-bg, 14), 0 ), rgba( adjust-hue( $primary-button-bg, 14), .2 ) !default;

$primary-button-hovered-text: $primary-button-text !default;
$primary-button-hovered-bg: adjust-hue( $primary-button-bg, 3) !default;
$primary-button-hovered-border: $primary-button-hovered-bg !default;
$primary-button-hovered-gradient: rgba( adjust-hue( $primary-button-hovered-bg, 14), 0 ), rgba( adjust-hue( $primary-button-hovered-bg, 14), .2 ) !default;

$primary-button-pressed-text: $primary-button-text !default;
$primary-button-pressed-bg: $primary-button-bg !default;
$primary-button-pressed-border: $primary-button-pressed-bg !default;
$primary-button-pressed-gradient: rgba( adjust-hue( $primary-button-pressed-bg, 14), .2 ), rgba( adjust-hue( $primary-button-pressed-bg, 14), 0 ) !default;
$primary-button-pressed-shadow: 0 2px 2px 0 rgba(0, 0, 0, .06) !default;

$primary-button-focused-shadow: 0 3px 4px 0 rgba($accent, .4) !default;

$flat-button-hover-opacity: .08 !default;
$flat-button-focused-opacity: null !default;
$flat-button-active-opacity: .16 !default;
$flat-button-selected-opacity: .2 !default;

// Toolbar
//$toolbar-text: $button-text !default;
//$toolbar-bg: $button-bg !default;
//$toolbar-border: $button-border !default;
//$toolbar-gradient: null !default;


// Input
$input-text: $panel-text !default;
$input-bg: $color-white;
$input-border: none;
$input-shadow: null !default;

$input-hovered-text: $input-text !default;
$input-hovered-bg: $input-bg !default;
$input-hovered-border: $color-black;
$input-hovered-shadow: null !default;

$input-focused-text: $input-text !default;
$input-focused-bg: $input-bg !default;
$input-focused-border: $color-black; // Must override left-side
$input-focused-shadow: none;


// Link
//$link-text: $accent !default;
//$link-hover-text: desaturate(darken($accent, 5), 25) !default;


// Node
//$node-text: $base-text !default;
//$node-bg: $base-bg !default;
//$node-border: $node-bg !default;
//$node-gradient: null !default;
//
//$node-hovered-text: $hovered-text !default;
//$node-hovered-bg: $hovered-bg !default;
//$node-hovered-border: $node-hovered-bg !default;
//$node-hovered-gradient: null !default;
//
//$node-selected-text: $selected-text !default;
//$node-selected-bg: $selected-bg !default;
//$node-selected-border: $node-selected-bg !default;
//$node-selected-gradient: null !default;


// List
$list-item-text: $color-black;
//$list-item-bg: $popup-bg !default;
//
$list-item-hovered-text: $hovered-text !default;
$list-item-hovered-bg: $hovered-bg !default;
//
//$list-item-selected-text: $selected-text !default;
//$list-item-selected-bg: $selected-bg !default;
//
$list-item-focused-shadow: none;
//
//
//// Tabstrip
//$tabstrip-wrapper-padding-x: 0 !default;
//$tabstrip-wrapper-padding-y: 0 !default;
//$tabstrip-wrapper-border-width: 0 !default;
//
//$tabstrip-line-height: $line-height !default;
//$tabstrip-border-width: 1px !default;
//
//$tabstrip-item-padding-x: $nav-item-padding-x !default;
//$tabstrip-item-padding-y: $nav-item-padding-y !default;
//$tabstrip-item-border-width: 1px !default;
//$tabstrip-item-border-radius: $border-radius !default;
//$tabstrip-item-gap: $nav-item-margin !default;
//
//$tabstrip-content-padding-x: $tabstrip-item-padding-x !default;
//$tabstrip-content-padding-y: $tabstrip-item-padding-y !default;
//$tabstrip-content-border-width: 1px !default;
//
//$tabstrip-wrapper-bg: null !default;
//$tabstrip-wrapper-text: null !default;
//$tabstrip-wrapper-border: null !default;
//
//$tabstrip-bg: null !default;
//$tabstrip-text: $panel-text !default;
//$tabstrip-border: $panel-border !default;
//
//$tabstrip-item-bg: null !default;
//$tabstrip-item-text: $link-text !default;
//$tabstrip-item-border: null !default;
//
//$tabstrip-item-hovered-bg: null !default;
//$tabstrip-item-hovered-text: $link-hover-text !default;
//$tabstrip-item-hovered-border: null !default;
//
//$tabstrip-item-selected-bg: $panel-bg !default;
//$tabstrip-item-selected-text: $panel-text !default;
//$tabstrip-item-selected-border: $panel-border !default;
//
//$tabstrip-item-focused-shadow: $list-item-focused-shadow !default;
//
//$tabstrip-content-bg: $panel-bg !default;
//$tabstrip-content-text: $panel-text !default;
//$tabstrip-content-border: $panel-border !default;
//
//$tabstrip-indicator-size: null !default;
//$tabstrip-indicator-color: null !default;
//
//
//// Grid
//$grid-padding-x: $cell-padding-x !default;
//$grid-padding-y: $cell-padding-y !default;
//
//$grid-header-padding-x: $grid-padding-x !default;
//$grid-header-padding-y: $grid-padding-y !default;
//
//$grid-footer-padding-x: $grid-header-padding-x !default;
//$grid-footer-padding-y: $grid-header-padding-y !default;
//
//$grid-grouping-header-padding-x: $grid-padding-y !default;
//$grid-grouping-header-padding-y: $grid-grouping-header-padding-x !default;
//
//$grid-filter-cell-padding-x: $grid-padding-y !default;
//$grid-filter-cell-padding-y: $grid-filter-cell-padding-x !default;
//
//$grid-toolbar-padding-x: $grid-padding-y !default;
//$grid-toolbar-padding-y: $grid-toolbar-padding-x !default;
//$grid-toolbar-button-spacing: ($grid-toolbar-padding-y / 2) !default;
//
//$grid-cell-padding-x: $grid-padding-x !default;
//$grid-cell-padding-y: $grid-padding-y !default;
//$grid-cell-horizontal-border-width: 0 !default;
//$grid-cell-vertical-border-width: 1px !default;
//
//$grid-bg: $panel-bg !default;
//$grid-text: $panel-text !default;
//$grid-border: $panel-border !default;
//
//$grid-header-bg: $header-bg !default;
//$grid-header-text: $header-text !default;
//$grid-header-border: $grid-border !default;
//$grid-header-gradient: $header-gradient !default;
//
//$grid-group-drag-clue-bg: $grid-header-bg !default;
//$grid-group-drag-clue-text: $grid-header-text !default;

/// The background of alternating rows.
/// Set to transparent to remove the row stripes.
/// @group grid
//$grid-alt-bg: contrast-wcag( #ffffff ), .04 ) !default;
//$grid-alt-text: $grid-text !default;
//$grid-alt-border: $grid-border !default;
//
//$grid-hovered-bg: darken($grid-bg, 7%) !default;
//$grid-hovered-text: $grid-text !default;
//$grid-hovered-border: $grid-border !default;
//
//$grid-selected-bg: rgba($selected-bg, .25) !default;
//$grid-selected-text: $grid-text !default;
//$grid-selected-border: $grid-border !default;
//
//$grid-grouping-row-bg: darken($grid-bg, 7%) !default;
//$grid-grouping-row-text: $grid-text !default;
//
//$grid-sorted-bg: rgba( contrast-wcag( $grid-bg ), .02 ) !default;
//$grid-sorting-indicator-text: $accent !default;
//
//$grid-focused-shadow: $list-item-focused-shadow !default;
//
//$grid-command-cell-button-spacing: .16em !default;

// Treeview
//$treeview-padding-x: 0 !default;
//$treeview-padding-y: 0 !default;
//$treeview-line-height: $form-line-height !default;
//
//$treeview-indent: 16px !default;
//
//$treeview-item-padding-x: $button-padding-x !default;
//$treeview-item-padding-y: $button-padding-y !default;
//$treeview-item-border-width: 0 !default;
//$treeview-item-border-radius: 0 !default;
//
//$treeview-bg: null !default;
//$treeview-text: $widget-text !default;
//$treeview-border: null !default;
//
//$treeview-item-hovered-text: $hovered-text !default;
//$treeview-item-hovered-bg: $hovered-bg !default;
//$treeview-item-hovered-border: null !default;
//$treeview-item-hovered-gradient: null !default;
//
//$treeview-item-selected-text: $selected-text !default;
//$treeview-item-selected-bg: $selected-bg !default;
//$treeview-item-selected-border: null !default;
//$treeview-item-selected-gradient: null !default;
//
//$treeview-item-focused-shadow: $focused-shadow !default;
//$treeview-item-selected-focused-shadow: null !default;
//
//
//// Panelbar
//$panelbar-padding-x: 0 !default;
//$panelbar-padding-y: 0 !default;
//$panelbar-line-height: $line-height !default;
//$panelbar-border-width: 1px !default;
//
//$panelbar-header-padding-x: $header-padding-x !default;
//$panelbar-header-padding-y: $header-padding-y !default;
//
//$panelbar-item-padding-x: $list-item-padding-x !default;
//$panelbar-item-padding-y: $list-item-padding-y !default;
//
//$panelbar-bg: $base-bg !default;
//$panelbar-text: $base-text !default;
//$panelbar-border: $base-border !default;
//
//$panelbar-header-bg: $panel-bg !default;
//$panelbar-header-text: $link-text !default;
//$panelbar-header-border: null !default;
//$panelbar-header-gradient: null !default;
//
//$panelbar-header-hovered-bg: shade($panelbar-header-bg) !default;
//$panelbar-header-hovered-text: $link-hover-text !default;
//$panelbar-header-hovered-border: null !default;
//$panelbar-header-hovered-gradient: null !default;
//
//$panelbar-header-selected-bg: $selected-bg !default;
//$panelbar-header-selected-text: $selected-text !default;
//$panelbar-header-selected-border: null !default;
//$panelbar-header-selected-gradient: null !default;
//
//$panelbar-header-focused-shadow: $list-item-focused-shadow !default;
//
//$panelbar-item-hovered-bg: shade($panelbar-bg) !default;
//$panelbar-item-hovered-text: null !default;
//$panelbar-item-hovered-border: null !default;
//$panelbar-item-hovered-gradient: null !default;
//
//$panelbar-item-selected-bg: $selected-bg !default;
//$panelbar-item-selected-text: $selected-text !default;
//$panelbar-item-selected-border: null !default;
//$panelbar-item-selected-gradient: null !default;
//
//$panelbar-item-focused-shadow: $list-item-focused-shadow !default;
//
//
//// Notification
//$notification-padding-x: 8px !default;
//$notification-padding-y: 4px !default;
//$notification-border-width: 1px !default;
//
//$notification-info-border: $info !default;
//$notification-info-bg: $info !default;
//$notification-info-text: contrast-wcag( $notification-info-bg ) !default;
//$notification-success-border: $success !default;
//$notification-success-bg: $success !default;
//$notification-success-text: contrast-wcag( $notification-success-bg ) !default;
//$notification-warning-border: $warning !default;
//$notification-warning-bg: $warning !default;
//$notification-warning-text: contrast-wcag( $notification-warning-bg ) !default;
//$notification-error-border: $error !default;
//$notification-error-bg: $error !default;
//$notification-error-text: contrast-wcag( $notification-error-bg ) !default;
//
//
//// Chart
///// The color of the first series.
///// @group charts
//$series-a: #ff6358 !default;
//
///// The color of the second series.
///// @group charts
//$series-b: #ffd246 !default;
//
///// The color of the third series.
///// @group charts
//$series-c: #78d237 !default;
//
///// The color of the fourth series.
///// @group charts
//$series-d: #28b4c8 !default;
//
///// The color of the fifth series.
///// @group charts
//$series-e: #2d73f5 !default;
//
///// The color of the sixth series.
///// @group charts
//$series-f: #aa46be !default;
//
//$chart-font-size: $font-size !default;
//$chart-font-size-sm: 11px !default;
//$chart-font-size-md: 12px !default;
//$chart-font-size-lg: 16px !default;
//
//$chart-inactive: rgba( $text-color, .5 ) !default;
///// The color of the Chart grid lines (major).
///// @group charts
//$chart-major-lines: rgba(0, 0, 0, .08) !default;
///// The color of the Chart grid lines (minor).
///// @group charts
//$chart-minor-lines: rgba(0, 0, 0, .04) !default;
//
//$chart-area-opacity: .8 !default;
//
//// Icons
//$icon-size: 16px !default;
//$icon-size-lg: 32px !default;
//$icon-spacing: 4px !default;
//
///// The URL to the icon font that will be used by the theme
///// The default value of `null` embeds the package font with a `data:` URL
///// @group icons
//$icon-font-url: null !default;
//
//// Disabled mixin variables
//$disabled-filter: grayscale(.1) !default;
//$disabled-opacity: .6 !default;
//
//// Pager
//$pager-padding-x: $toolbar-padding-x !default;
//$pager-padding-y: $toolbar-padding-y !default;
//
//
//// Card
//$card-padding-x: 16px !default;
//$card-padding-y: 12px !default;
//$card-border-width: 1px !default;
//$card-border-radius: 4px !default;
//$card-box-shadow: null !default;
//$card-box-focused-shadow: 0 0 4px 0 rgba(0, 0, 0, .3) !default;
//
//$card-deck-gap: 16px !default;
//
//$card-bg: $panel-bg !default;
//$card-text: $panel-text !default;
//$card-border: $panel-border !default;
//
//$card-header-padding-x: $card-padding-x !default;
//$card-header-padding-y: $card-padding-y !default;
//$card-header-border-width: 1px !default;
//$card-header-bg: $header-bg !default;
//$card-header-text: $header-text !default;
//$card-header-border: $header-border !default;
//
//$card-body-padding-x: $card-padding-x !default;
//$card-body-padding-y: $card-padding-y !default;
//
//$card-title-margin-bottom: $h2-margin-bottom !default;
//$card-subtitle-margin-bottom: $h6-margin-bottom !default;
//
//$card-actions-padding-x: $card-padding-x !default;
//$card-actions-padding-y: ($card-padding-y - $button-padding-y) !default;
//$card-actions-border-width: 1px !default;
//
//$card-deck-scroll-button-radius: 0 !default;
//$card-deck-scroll-button-offset: -$button-border-width !default;
//
//
//// Calendar
//$calendar-border-width: 1px !default;
//$calendar-font-size: $font-size !default;
//$calendar-line-height: $line-height !default;
//
//$calendar-header-padding-x: ($padding-x * 2) !default;
//$calendar-header-padding-y: ($padding-y * 2) !default;
//$calendar-header-padding-x-sm: ($calendar-header-padding-y / 2) !default;
//$calendar-header-padding-y-sm: $calendar-header-padding-x-sm !default;
//$calendar-header-border-width: 1px !default;
//
//$calendar-content-padding-x: $calendar-header-padding-x;
//$calendar-content-padding-y: $calendar-header-padding-y;
//
//$calendar-cell-padding-x: .5em !default;
//$calendar-cell-padding-y: $calendar-cell-padding-x !default;
//$calendar-cell-line-height: $calendar-line-height !default;
//$calendar-cell-size-px: 34px !default;
//$calendar-cell-size: ($calendar-cell-size-px / $font-size) * 1em !default;
//$calendar-cell-border-radius: $border-radius !default;
//
//$calendar-header-cell-padding-x: 0 !default;
//$calendar-header-cell-padding-y: ($calendar-cell-padding-y / 2) !default;
//$calendar-header-cell-font-size: $font-size-sm !default;
//$calendar-header-cell-line-height: 2 !default;
//
//$calendar-header-height: 2em !default;
//
//$calendar-navigation-width: 5em !default;
//$calendar-navigation-item-height: 2em !default;
//
//$calendar-view-width: 7 * $calendar-cell-size !default;
//$calendar-view-height: add-two(
//    8 * $calendar-cell-size,
//    $calendar-header-height
//) !default;
//
//$calendar-bg: $widget-bg !default;
//$calendar-text: $widget-text !default;
//$calendar-border: $widget-border !default;
//
//$calendar-header-bg: $header-bg !default;
//$calendar-header-text: $header-text !default;
//$calendar-header-border: $header-border !default;
//$calendar-header-gradient: $header-gradient !default;
//$calendar-header-shadow: 0 1px 3px 1px rgba(black, .1) !default;
//
//$calendar-header-cell-text: $calendar-header-text !default;
//$calendar-header-cell-opacity: $disabled-opacity !default;
//
//$calendar-navigation-bg: $calendar-header-bg !default;
//$calendar-navigation-text: $calendar-header-text !default;
//$calendar-navigation-border: $calendar-header-border !default;
//
//$calendar-today-nav-text: $link-text !default;
//$calendar-today-nav-hovered-text: $link-hover-text !default;
//
//$calendar-weekend-text: inherit !default;
//$calendar-weekend-bg: transparent !default;
//$calendar-weekend-opacity: 1 !default;
//
//$calendar-week-number-bg: $calendar-header-bg !default;
//$calendar-week-number-text: $calendar-header-text !default;
//$calendar-week-number-opacity: $calendar-header-cell-opacity !default;
//
//$calendar-other-month-opacity: $calendar-header-cell-opacity !default;
//
//$calendar-cell-hovered-bg: $node-hovered-bg !default;
//$calendar-cell-hovered-text: $node-hovered-text !default;
//$calendar-cell-hovered-border: $node-hovered-border !default;
//
//$calendar-cell-selected-bg: $node-selected-bg !default;
//$calendar-cell-selected-text: $node-selected-text !default;
//$calendar-cell-selected-border: $node-selected-border !default;
//
//$calendar-cell-focused-shadow: $list-item-focused-shadow !default;
//$calendar-cell-selected-focus-shadow: $calendar-cell-focused-shadow !default;
//
//
//// Multiview Calendar
//$multiviewcalendar-button-style: stretched !default;
//$multiviewcalendar-button-size: 44px !default;
//$multiviewcalendar-gap: ($calendar-content-padding-x * 2) !default;
//$multiviewcalendar-content-padding-x: ($multiviewcalendar-gap / 2);
//$multiviewcalendar-content-padding-y: $calendar-content-padding-y;
//
//
//// Chat
//$chat-padding-x: 16px !default;
//$chat-padding-y: 16px !default;
//
//$chat-item-spacing-x: 8px !default;
//$chat-item-spacing-y: 16px !default;
//
//$chat-message-list-padding-x: $chat-padding-x !default;
//$chat-message-list-padding-y: $chat-padding-y !default;
//$chat-message-list-spacing: $chat-item-spacing-y !default;
//
//$chat-bubble-padding-x: 12px !default;
//$chat-bubble-padding-y: 8px !default;
//$chat-bubble-spacing: 2px !default;
//$chat-bubble-line-height: 18px !default;
//
//$chat-bubble-border-radius: 12px !default;
//$chat-bubble-border-radius-sm: 2px !default;
//
//$chat-avatar-size: 32px !default;
//$chat-avatar-spacing: $chat-item-spacing-x !default;
//
//$chat-message-box-padding-x: $chat-padding-x !default;
//$chat-message-box-padding-y: 10px !default;
//
//$chat-toolbar-padding-x: $chat-padding-x !default;
//$chat-toolbar-padding-y: 10px !default;
//$chat-toolbar-spacing: 20px !default;
//
//$chat-quick-reply-padding-x: 12px !default;
//$chat-quick-reply-padding-y: 8px !default;
//$chat-quick-reply-spacing: 8px !default;
//$chat-quick-reply-line-height: $chat-bubble-line-height !default;
//
//
//$chat-bg: $popup-bg !default;
//$chat-text: $popup-text !default;
//$chat-border: $popup-border !default;
//
//$chat-bubble-bg: $panel-bg !default;
//$chat-bubble-text: $panel-text !default;
//$chat-bubble-border: $chat-bubble-bg !default;
//
//$chat-alt-bubble-bg: $accent !default;
//$chat-alt-bubble-text: $accent-contrast !default;
//$chat-alt-bubble-border: $chat-alt-bubble-bg !default;
//
//
//// Mediaplayer
//$mediaplayer-bg: $panel-bg !default;
//$mediaplayer-text: $panel-text !default;
//$mediaplayer-border: $panel-border !default;
//
//$mediaplayer-titlebar-padding-x: $header-padding-x !default;
//$mediaplayer-titlebar-padding-y: $header-padding-y !default;
//$mediaplayer-titlebar-bg: null !default;
//$mediaplayer-titlebar-text: $mediaplayer-bg !default;
//$mediaplayer-titlebar-border: null !default;
//$mediaplayer-titlebar-gradient: rgba( $mediaplayer-text, .7 ), rgba( $mediaplayer-text, 0 ) !default;
//
//$mediaplayer-toolbar-padding-x: $toolbar-padding-x !default;
//$mediaplayer-toolbar-padding-y: $toolbar-padding-y !default;
//$mediaplayer-toolbar-spacing: $padding-x !default;
//$mediaplayer-toolbar-bg: rgba( $toolbar-bg, .85 ) !default;
//$mediaplayer-toolbar-text: $toolbar-text !default;
//
//
//// Tooltip
//$tooltip-bg: $accent !default;
//$tooltip-text: contrast-wcag($tooltip-bg) !default;
//
//
//// Progressbar
//$progressbar-height: 22px !default;
//$progressbar-animation-timing: 1s linear infinite !default;
//
//$progressbar-bg: $base-bg !default;
//$progressbar-text: $base-text !default;
//$progressbar-border: $base-border !default;
//$progressbar-gradient: null !default;
//
//$progressbar-fill-bg: $accent !default;
//$progressbar-fill-text: contrast-wcag( $progressbar-fill-bg ) !default;
//$progressbar-fill-border: darken( $progressbar-fill-bg, 4% ) !default;
//$progressbar-fill-gradient: rgba( adjust-hue( $progressbar-fill-bg, 14), 0 ), rgba( adjust-hue( $progressbar-fill-bg, 14), .2 ) !default;
//
//$progressbar-indeterminate-bg: $progressbar-bg !default;
//$progressbar-indeterminate-text: $progressbar-text !default;
//$progressbar-indeterminate-border: $progressbar-border !default;
//$progressbar-indeterminate-gradient: null !default;
//
//$progressbar-chunk-border: $bg-color !default;


// Window
$window-border-width: 0 !default;
$window-border-radius: 0 !default;

$window-titlebar-padding-x: 2rem;
$window-titlebar-padding-y: 2rem;
$window-titlebar-border-width: 0 0 0px !default;
$window-titlebar-border-style: solid !default;

$window-title-font-size: inherit;
$window-title-line-height: inherit;

$window-inner-padding-x: 2rem;
$window-inner-padding-y: 0;

$window-bg: #fff;
//$window-text: $panel-text !default;
$window-border: rgba(0, 0, 0, .08) !default;

$window-titlebar-bg: $color-white;
$window-titlebar-text: $color-black;
$window-titlebar-border: transparent;

$window-shadow: 0 3px 3px 0 rgba(0, 0, 0, .06) !default;
$window-focused-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .3) !default;

//$window-sizes: () !default;
//$window-sizes: map-merge((
//  sm: 300px,
//  md: 800px,
//  lg: 1200px
//), $window-sizes);

// Dialog
$dialog-titlebar-text: $color-black;
$dialog-titlebar-bg: none;
//$dialog-buttongroup-padding-x: ($window-inner-padding-x / 2) !default;
//$dialog-buttongroup-padding-y: ($window-inner-padding-y / 2) !default;
//$dialog-buttongroup-border-width: 0px;

$dialog-button-gap: 1rem;

$dialog-stretched-button-padding-x: 1rem;
$dialog-stretched-button-padding-y: 0.5rem;
$dialog-stretched-button-border-width: 1px !default;
$dialog-buttongroup-border-width: 0;

//// Scrollview
//
//$scrollview-pager-offset: 20px !default;
//$scrollview-pager-item-spacing: 20px !default;
//$scrollview-pager-item-border-width: 1px !default;
//
//$scrollview-pagebutton-size: 8px !default;
//$scrollview-pagebutton-bg: $button-bg !default;
//$scrollview-pagebutton-border: $button-border !default;
//$scrollview-pagebutton-primary-bg: $primary-button-bg !default;
//$scrollview-pagebutton-primary-border: $primary-button-border !default;
//$scrollview-pagebutton-shadow: 0 0 2px rgba(0, 0, 0, .08) !default;
//
//$scrollview-navigation-size: 4.5em !default;
//$scrollview-navigation-color: $selected-text !default;
//$scrollview-navigation-icon-shadow: rgba(0, 0, 0, .3) 0 0 15px !default;
//$scrollview-navigation-background: rgba(0, 0, 0, 0) !default;
//$scrollview-navigation-default-opacity: .7 !default;
//$scrollview-navigation-hover-opacity: 1 !default;
//$scrollview-navigation-hover-span-bg: null !default;
//
//// Config maps
//$typography-config: () !default;
//// sass-lint:disable indentation
//$typography-config: map-merge((
//  display-1: font-map($display1-font-size, 1.2, $font-weight-light, inherit),
//  display-2: font-map($display2-font-size, 1.2, $font-weight-light, inherit),
//  display-3: font-map($display3-font-size, 1.2, $font-weight-light, inherit),
//  display-4: font-map($display4-font-size, 1.2, $font-weight-light, inherit),
//  h1: font-map($h1-font-size, normal, $font-weight-light, inherit),
//  h2: font-map($h2-font-size, normal, $font-weight-normal, inherit),
//  h3: font-map($h3-font-size, normal, $font-weight-bold, inherit),
//  h4: font-map($h4-font-size, normal, $font-weight-bold, inherit),
//  h5: font-map($h5-font-size, normal, $font-weight-normal, inherit),
//  h6: font-map($h6-font-size, normal, $font-weight-normal, inherit),
//  body: font-map($font-size, $line-height, $font-weight-normal, inherit)
//), $typography-config);
//$typography-config: map-merge((
//  card-title: map-get($typography-config, h2),
//  card-subtitle: map-get($typography-config, h6)
//), $typography-config);
//// sass-lint:enable indentation
