/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/31bff8");

$fontpath: "#{$yst-font-path}/neuehaas";
$fontname: "3790C2";

@font-face {
	font-family: "NeueHaasUnicaPro";
	src: url("#{$fontpath}/#{$fontname}_2_0.eot");
	src: url("#{$fontpath}/#{$fontname}_2_0.woff2") format("woff2"),
		url("#{$fontpath}/#{$fontname}_2_0.woff") format("woff"),
		url("#{$fontpath}/#{$fontname}_2_0.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NeueHaasUnicaPro";
	src: url("#{$fontpath}/#{$fontname}_3_0.eot");
	src: url("#{$fontpath}/#{$fontname}_3_0.woff2") format("woff2"),
		url("#{$fontpath}/#{$fontname}_3_0.woff") format("woff"),
		url("#{$fontpath}/#{$fontname}_3_0.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "NeueHaasUnicaPro";
	src: url("#{$fontpath}/#{$fontname}_0_0.eot");
	src: url("#{$fontpath}/#{$fontname}_0_0.woff2") format("woff2"),
		url("#{$fontpath}/#{$fontname}_0_0.woff") format("woff"),
		url("#{$fontpath}/#{$fontname}_0_0.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "NeueHaasUnicaPro";
	src: url("#{$fontpath}/#{$fontname}_1_0.eot");
	src: url("#{$fontpath}/#{$fontname}_1_0.woff2") format("woff2"),
		url("#{$fontpath}/#{$fontname}_1_0.woff") format("woff"),
		url("#{$fontpath}/#{$fontname}_1_0.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}
