@charset "UTF-8";

/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-symbolicons-block.css" rel="stylesheet" />
*/

@font-face {
	font-family: 'SSSymbolicons';
	src: url('#{$yst-font-path}/ss-symbolicons-block/ss-symbolicons-block.eot');
	src: url('#{$yst-font-path}/ss-symbolicons-block/ss-symbolicons-block.woff') format('woff'), 
		url('#{$yst-font-path}/ss-symbolicons-block/ss-symbolicons-block.ttf') format('truetype'), 
		url('#{$yst-font-path}/ss-symbolicons-block/ss-symbolicons-block.svg#SSSymboliconsBlock') format('svg'),
	font-weight: normal;
	font-style: normal;
};

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"]{-ms-zoom: 1;}


//.ss-icon, 
.ss-icon.ss-symbolicons-block,
//[class^="ss-"]:before, 
//[class*=" ss-"]:before,
[class^="ss-"].ss-symbolicons-block:before, 
[class*=" ss-"].ss-symbolicons-block:before,
//[class^="ss-"].right:after, 
//[class*=" ss-"].right:after,
[class^="ss-"].ss-symbolicons-block.right:after, 
[class*=" ss-"].ss-symbolicons-block.right:after {
  font-family: "SSSymbolicons";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
%ss-symbolicons-block {
	&::after,
	&::before {
		font-family: "SSSymbolicons";
	}
}

%ss-symbolicons-block-font {
	font-family: "SSSymbolicons";
}


//[class^="ss-"].right:before,
//[class*=" ss-"].right:before{display:none;content:'';}


//.ss-crosshair:before,.ss-crosshair.right:after{content:'⌖'}
//.ss-search:before,.ss-search.right:after{content:'🔍'}
//.ss-zoomin:before,.ss-zoomin.right:after{content:''}
//.ss-zoomout:before,.ss-zoomout.right:after{content:''}
.ss-binoculars,
%ss-binoculars {
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{ 
		content:'';
		@extend %ss-symbolicons-block-font;}
}
//.ss-raisedhand:before,.ss-raisedhand.right:after{content:'✋'}
//.ss-link:before,.ss-link.right:after{content:'🔗'}
//.ss-write:before,.ss-write.right:after{content:'✎'}
//.ss-compose:before,.ss-compose.right:after{content:'📝'}
/*.ss-lock, %ss-lock{ @extend %ss-symbolicons-block; &::before,&.right::after{ content:'🔒'} }*/
//.ss-unlock:before,.ss-unlock.right:after{content:'🔓'}
//.ss-key:before,.ss-key.right:after{content:'🔑'}
//.ss-backspace:before,.ss-backspace.right:after{content:'⌫'}
//.ss-ban:before,.ss-ban.right:after{content:'🚫'}
//.ss-nosmoking:before,.ss-nosmoking.right:after{content:'🚭'}
//.ss-trash:before,.ss-trash.right:after{content:''}
//.ss-target:before,.ss-target.right:after{content:'◎'}
//.ss-stopsign:before,.ss-stopsign.right:after{content:''}
//.ss-radioactive:before,.ss-radioactive.right:after{content:'☢'}
//.ss-skull:before,.ss-skull.right:after{content:'💀'}

.ss-lightning,
%ss-lightning {
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{ content:'☇';
		@extend %ss-symbolicons-block-font;}
}
//.ss-tag:before,.ss-tag.right:after{content:''}
//.ss-newtag:before,.ss-newtag.right:after{content:''}
//.ss-flag:before,.ss-flag.right:after{content:'⚑'}
//.ss-like:before,.ss-like.right:after{content:'👍'}
//.ss-dislike:before,.ss-dislike.right:after{content:'👎'}

.ss-heart,
%ss-heart{
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{ 
		content:'♥';
		@extend %ss-symbolicons-block-font;}
}

//.ss-addheart:before,.ss-addheart.right:after{content:''}
//.ss-deleteheart:before,.ss-deleteheart.right:after{content:'💔'}
//.ss-star:before,.ss-star.right:after{content:'⋆'}
//.ss-trophy:before,.ss-trophy.right:after{content:'🏆'}
//.ss-award:before,.ss-award.right:after{content:''}
//.ss-medal:before,.ss-medal.right:after{content:''}
//.ss-badge:before,.ss-badge.right:after{content:'📛'}
//.ss-crown:before,.ss-crown.right:after{content:'👑'}
//.ss-bullseye:before,.ss-bullseye.right:after{content:'🎯'}
//.ss-sample:before,.ss-sample.right:after{content:''}
//.ss-crop:before,.ss-crop.right:after{content:''}
//.ss-layers:before,.ss-layers.right:after{content:''}
//.ss-magicwand:before,.ss-magicwand.right:after{content:''}
//.ss-cut:before,.ss-cut.right:after{content:'✂'}
//.ss-cutpaste:before,.ss-cutpaste.right:after{content:''}
//.ss-clipboard:before,.ss-clipboard.right:after{content:'📋'}
//.ss-rules:before,.ss-rules.right:after{content:'📏'}
//.ss-rulerpencil:before,.ss-rulerpencil.right:after{content:''}
//.ss-gridlines:before,.ss-gridlines.right:after{content:''}
//.ss-pen:before,.ss-pen.right:after{content:'✒'}
//.ss-pencilbrush:before,.ss-pencilbrush.right:after{content:''}
//.ss-pencilbrushpen:before,.ss-pencilbrushpen.right:after{content:''}
//.ss-brush:before,.ss-brush.right:after{content:''}
//.ss-paintroller:before,.ss-paintroller.right:after{content:''}
//.ss-fill:before,.ss-fill.right:after{content:''}
//.ss-stroke:before,.ss-stroke.right:after{content:''}
//.ss-crayons:before,.ss-crayons.right:after{content:''}
//.ss-palette:before,.ss-palette.right:after{content:'🎨'}
//.ss-fliphorizontally:before,.ss-fliphorizontally.right:after{content:''}
//.ss-flipvertically:before,.ss-flipvertically.right:after{content:''}
//.ss-effects:before,.ss-effects.right:after{content:''}
//.ss-bezier:before,.ss-bezier.right:after{content:''}
//.ss-pixels:before,.ss-pixels.right:after{content:''}
//.ss-phone:before,.ss-phone.right:after{content:'📞'}
//.ss-rotaryphone:before,.ss-rotaryphone.right:after{content:'☎'}
//.ss-touchtonephone:before,.ss-touchtonephone.right:after{content:'☏'}
//.ss-phonebook:before,.ss-phonebook.right:after{content:''}
//.ss-voicemail:before,.ss-voicemail.right:after{content:'⌕'}
//.ss-megaphone:before,.ss-megaphone.right:after{content:'📢'}
//.ss-rss:before,.ss-rss.right:after{content:''}
//.ss-podcast:before,.ss-podcast.right:after{content:''}
//.ss-mailbox:before,.ss-mailbox.right:after{content:'📫'}
//.ss-send:before,.ss-send.right:after{content:''}
//.ss-mail:before,.ss-mail.right:after{content:'✉'}
//.ss-incomingmail:before,.ss-incomingmail.right:after{content:'📩'}
//.ss-inbox:before,.ss-inbox.right:after{content:'📥'}
//.ss-outbox:before,.ss-outbox.right:after{content:'📤'}
//.ss-stamp:before,.ss-stamp.right:after{content:''}
//.ss-chat:before,.ss-chat.right:after{content:'💬'}
//.ss-chats:before,.ss-chats.right:after{content:''}
//.ss-textchat:before,.ss-textchat.right:after{content:''}
//.ss-exclamationchat:before,.ss-exclamationchat.right:after{content:''}
.ss-questionchat,
%ss-questionchat {
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{ content:'';
		@extend %ss-symbolicons-block-font;}
}
.ss-ellipsischat,
%ss-ellipsischat {
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{ content:'';
		@extend %ss-symbolicons-block-font;}
}
//.ss-smile:before,.ss-smile.right:after{content:'☻'}
//.ss-frown:before,.ss-frown.right:after{content:'☹'}
//.ss-toothsmile:before,.ss-toothsmile.right:after{content:'😃'}
//.ss-toothlesssmile:before,.ss-toothlesssmile.right:after{content:'😀'}
//.ss-user:before,.ss-user.right:after{content:'👤'}
//.ss-users:before,.ss-users.right:after{ content:'👥'}
//.ss-adduser:before,.ss-adduser.right:after{content:''}
//.ss-removeuser:before,.ss-removeuser.right:after{content:''}
//.ss-deleteuser:before,.ss-deleteuser.right:after{content:''}
//.ss-heartuser:before,.ss-heartuser.right:after{content:''}
//.ss-males:before,.ss-males.right:after{content:'👬'}
//.ss-females:before,.ss-females.right:after{content:'👭'}
//.ss-malefemale:before,.ss-malefemale.right:after{content:'👫'}
//.ss-userportrait:before,.ss-userportrait.right:after{content:''}
//.ss-userframe:before,.ss-userframe.right:after{content:''}
//.ss-usersframe:before,.ss-usersframe.right:after{content:''}
//.ss-baby:before,.ss-baby.right:after{content:'👶'}
//.ss-swaddledbaby:before,.ss-swaddledbaby.right:after{content:''}
//.ss-robot:before,.ss-robot.right:after{content:''}
//.ss-happyrobot:before,.ss-happyrobot.right:after{content:''}
//.ss-alien:before,.ss-alien.right:after{content:'👽'}
//.ss-ghost:before,.ss-ghost.right:after{content:'👻'}
//.ss-contacts:before,.ss-contacts.right:after{content:'📇'}
//.ss-addressbook:before,.ss-addressbook.right:after{content:'📑'}
//.ss-footsteps:before,.ss-footsteps.right:after{content:'👣'}
//.ss-cart:before,.ss-cart.right:after{content:''}
//.ss-shoppingbag:before,.ss-shoppingbag.right:after{content:''}
//.ss-gift:before,.ss-gift.right:after{content:'🎁'}
//.ss-store:before,.ss-store.right:after{content:'🏪'}
//.ss-safe:before,.ss-safe.right:after{content:''}
//.ss-bill:before,.ss-bill.right:after{content:''}
//.ss-creditcard:before,.ss-creditcard.right:after{content:'💳'}
//.ss-banknote:before,.ss-banknote.right:after{content:'💵'}
//.ss-moneybag:before,.ss-moneybag.right:after{content:'💰'}
//.ss-calculator:before,.ss-calculator.right:after{content:''}
.ss-bank,
%ss-bank {
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{ 
	content:'🏦';
		@extend %ss-symbolicons-block-font;}
}
//.ss-gavel:before,.ss-gavel.right:after{content:'🔨'}
//.ss-meeting:before,.ss-meeting.right:after{content:''}
//.ss-barchart:before,.ss-barchart.right:after{content:'📊'}
//.ss-piechart:before,.ss-piechart.right:after{content:''}
//.ss-activity:before,.ss-activity.right:after{content:'📈'}

.ss-flowchart,
%ss-flowchart{
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{
		content:'';
		@extend %ss-symbolicons-block-font;}
}
//.ss-box:before,.ss-box.right:after{content:'📦'}
//.ss-crate:before,.ss-crate.right:after{content:''}
//.ss-home:before,.ss-home.right:after{content:'⌂'}
//.ss-fence:before,.ss-fence.right:after{content:''}
//.ss-buildings:before,.ss-buildings.right:after{content:'🏢'}
//.ss-bridge:before,.ss-bridge.right:after{content:''}
//.ss-barn:before,.ss-barn.right:after{content:''}
//.ss-lodging:before,.ss-lodging.right:after{content:'🏨'}

.ss-earth,
%ss-earth{ 
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{ content:'🌎';
		@extend %ss-symbolicons-block-font;}
}
.ss-globe-block,
%ss-globe-block{
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{
	content:'🌐';
		@extend %ss-symbolicons-block-font;}
}
.ss-compass,
%ss-compass{
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{
		content:'';
		@extend %ss-symbolicons-block-font;}
}
//.ss-signpost:before,.ss-signpost.right:after{content:''}
//.ss-map:before,.ss-map.right:after{content:''}
/*.ss-location,
%ss-location{
	@extend %ss-symbolicons-block;
	&::before,
	&.right:after{ content:''}
}*/
//.ss-pushpin:before,.ss-pushpin.right:after{content:'📌'}
//.ss-script:before,.ss-script.right:after{content:''}
//.ss-playscript:before,.ss-playscript.right:after{content:''}
//.ss-stopscript:before,.ss-stopscript.right:after{content:''}
//.ss-recordscript:before,.ss-recordscript.right:after{content:''}
//.ss-bug:before,.ss-bug.right:after{content:'🐛'}
//.ss-puzzle:before,.ss-puzzle.right:after{content:''}
//.ss-window:before,.ss-window.right:after{content:''}
//.ss-database:before,.ss-database.right:after{content:''}
//.ss-adddatabase:before,.ss-adddatabase.right:after{content:''}
//.ss-deletedatabase:before,.ss-deletedatabase.right:after{content:''}
//.ss-hdd:before,.ss-hdd.right:after{content:''}
//.ss-networkhdd:before,.ss-networkhdd.right:after{content:''}
//.ss-downloadhdd:before,.ss-downloadhdd.right:after{content:''}
//.ss-airplay:before,.ss-airplay.right:after{content:''}
//.ss-music:before,.ss-music.right:after{content:'♫'}
//.ss-mic:before,.ss-mic.right:after{content:'🎤'}
//.ss-headphones:before,.ss-headphones.right:after{content:'🎧'}
//.ss-volume:before,.ss-volume.right:after{content:'🔈'}
//.ss-radio:before,.ss-radio.right:after{content:'📻'}
//.ss-phonograph:before,.ss-phonograph.right:after{content:''}
//.ss-disc:before,.ss-disc.right:after{content:'💿'}
//.ss-discs:before,.ss-discs.right:after{content:''}
//.ss-playlist:before,.ss-playlist.right:after{content:''}
//.ss-musichome:before,.ss-musichome.right:after{content:''}
//.ss-itunes:before,.ss-itunes.right:after{content:''}
//.ss-camera:before,.ss-camera.right:after{content:'📷'}
//.ss-picture:before,.ss-picture.right:after{content:'🌄'}
//.ss-pictures:before,.ss-pictures.right:after{content:''}
//.ss-searchpicture:before,.ss-searchpicture.right:after{content:''}
//.ss-video:before,.ss-video.right:after{content:'📹'}
//.ss-clapboard:before,.ss-clapboard.right:after{content:'🎬'}
//.ss-film:before,.ss-film.right:after{content:''}
//.ss-playfilm:before,.ss-playfilm.right:after{content:''}
//.ss-tv:before,.ss-tv.right:after{content:'📺'}
//.ss-flatscreen:before,.ss-flatscreen.right:after{content:''}
//.ss-projector:before,.ss-projector.right:after{content:''}
//.ss-videogame:before,.ss-videogame.right:after{content:'🎮'}

.ss-play-block,
%ss-play-block{
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{
		content:'▶';
		@extend %ss-symbolicons-block-font;}
}
//.ss-pause:before,.ss-pause.right:after{content:''}
//.ss-stop:before,.ss-stop.right:after{content:'■'}
//.ss-record:before,.ss-record.right:after{content:'●'}
//.ss-rewind:before,.ss-rewind.right:after{content:'⏪'}
//.ss-fastforward:before,.ss-fastforward.right:after{content:'⏩'}
//.ss-skipback:before,.ss-skipback.right:after{content:'⏮'}
//.ss-skipforward:before,.ss-skipforward.right:after{content:'⏭'}
//.ss-eject:before,.ss-eject.right:after{content:'⏏'}
//.ss-shuffle:before,.ss-shuffle.right:after{content:'🔀'}
//.ss-filecabinet:before,.ss-filecabinet.right:after{content:''}
//.ss-storagebox:before,.ss-storagebox.right:after{content:''}
//.ss-books:before,.ss-books.right:after{content:'📚'}
//.ss-bookspencil:before,.ss-bookspencil.right:after{content:''}
.ss-openbook,
%ss-openbook{
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{ 
	content:'📖';
		@extend %ss-symbolicons-block-font;}
}
//.ss-bookinsert:before,.ss-bookinsert.right:after{content:''}
//.ss-notebook:before,.ss-notebook.right:after{content:'📓'}
//.ss-ledger:before,.ss-ledger.right:after{content:'📒'}
//.ss-album:before,.ss-album.right:after{content:''}
//.ss-newspaper:before,.ss-newspaper.right:after{content:'📰'}
//.ss-spiralbound:before,.ss-spiralbound.right:after{content:''}
//.ss-notepad:before,.ss-notepad.right:after{content:''}
//.ss-notice:before,.ss-notice.right:after{content:''}
//.ss-grid:before,.ss-grid.right:after{content:''}
//.ss-thumbnails:before,.ss-thumbnails.right:after{content:''}
//.ss-filter:before,.ss-filter.right:after{content:''}
//.ss-desktop:before,.ss-desktop.right:after{content:'💻'}

.ss-laptop,
%ss-laptop{
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{ 
	content:'';
		@extend %ss-symbolicons-block-font;}
}
//.ss-tablet:before,.ss-tablet.right:after{content:''}
//.ss-cell:before,.ss-cell.right:after{content:'📱'}
//.ss-cellbars:before,.ss-cellbars.right:after{content:'📶'}
//.ss-battery:before,.ss-battery.right:after{content:'🔋'}
//.ss-mediumbattery:before,.ss-mediumbattery.right:after{content:''}
//.ss-emptybattery:before,.ss-emptybattery.right:after{content:''}
//.ss-chargingbattery:before,.ss-chargingbattery.right:after{content:''}
//.ss-screwdrivermobile:before,.ss-screwdrivermobile.right:after{content:''}
//.ss-brushmobile:before,.ss-brushmobile.right:after{content:''}
//.ss-pencilmobile:before,.ss-pencilmobile.right:after{content:''}
//.ss-door:before,.ss-door.right:after{content:'🚪'}
//.ss-washer:before,.ss-washer.right:after{content:''}
//.ss-dryer:before,.ss-dryer.right:after{content:''}
//.ss-fireplace:before,.ss-fireplace.right:after{content:''}
//.ss-toilet:before,.ss-toilet.right:after{content:'🚽'}
//.ss-toiletpaper:before,.ss-toiletpaper.right:after{content:''}
//.ss-lightbulb:before,.ss-lightbulb.right:after{content:'💡'}
//.ss-cfl:before,.ss-cfl.right:after{content:''}
//.ss-flashlight:before,.ss-flashlight.right:after{content:'🔦'}
//.ss-candle:before,.ss-candle.right:after{content:''}
//.ss-campfire:before,.ss-campfire.right:after{content:'🔥'}
//.ss-picnictable:before,.ss-picnictable.right:after{content:''}
//.ss-frame:before,.ss-frame.right:after{content:''}
//.ss-heartframe:before,.ss-heartframe.right:after{content:'💟'}
//.ss-starframe:before,.ss-starframe.right:after{content:''}
//.ss-treeframe:before,.ss-treeframe.right:after{content:''}
//.ss-flowerframe:before,.ss-flowerframe.right:after{content:''}
//.ss-questionframe:before,.ss-questionframe.right:after{content:''}
//.ss-utensilsframe:before,.ss-utensilsframe.right:after{content:''}
//.ss-atom:before,.ss-atom.right:after{content:'⚛'}
//.ss-fluxcapacitor:before,.ss-fluxcapacitor.right:after{content:''}
//.ss-rings:before,.ss-rings.right:after{content:'💍'}
//.ss-balloons:before,.ss-balloons.right:after{content:'🎈'}
//.ss-easteregg:before,.ss-easteregg.right:after{content:''}
//.ss-jackolantern:before,.ss-jackolantern.right:after{content:'🎃'}
//.ss-menorah:before,.ss-menorah.right:after{content:''}
//.ss-christmastree:before,.ss-christmastree.right:after{content:'🎄'}
//.ss-teddy:before,.ss-teddy.right:after{content:''}
//.ss-blocks:before,.ss-blocks.right:after{content:''}
//.ss-rattle:before,.ss-rattle.right:after{content:''}
//.ss-diaper:before,.ss-diaper.right:after{content:''}
//.ss-pailshovel:before,.ss-pailshovel.right:after{content:''}
//.ss-sweep:before,.ss-sweep.right:after{content:''}
//.ss-headstone:before,.ss-headstone.right:after{content:'⛼'}
//.ss-onedie:before,.ss-onedie.right:after{content:'⚀'}
//.ss-twodie:before,.ss-twodie.right:after{content:'⚁'}
//.ss-threedie:before,.ss-threedie.right:after{content:'⚂'}
//.ss-fourdie:before,.ss-fourdie.right:after{content:'⚃'}
//.ss-fivedie:before,.ss-fivedie.right:after{content:'⚄'}
//.ss-sixdie:before,.ss-sixdie.right:after{content:'⚅'}
//.ss-fuzzydice:before,.ss-fuzzydice.right:after{content:''}
//.ss-download:before,.ss-download.right:after{content:''}
//.ss-downloadbox:before,.ss-downloadbox.right:after{content:''}
//.ss-downloadcrate:before,.ss-downloadcrate.right:after{content:''}
//.ss-upload:before,.ss-upload.right:after{content:''}
//.ss-uploadbox:before,.ss-uploadbox.right:after{content:''}
//.ss-uploadcrate:before,.ss-uploadcrate.right:after{content:''}
//.ss-transfer:before,.ss-transfer.right:after{content:'⇆'}
//.ss-refresh:before,.ss-refresh.right:after{content:'↻'}
//.ss-sync:before,.ss-sync.right:after{content:''}
//.ss-wifi:before,.ss-wifi.right:after{content:''}
//.ss-connection:before,.ss-connection.right:after{content:''}
//.ss-usb:before,.ss-usb.right:after{content:''}
//.ss-files:before,.ss-files..right:after{content:''}
//.ss-addfile:before,.ss-addfile.right:after{content:''}
//.ss-removefile:before,.ss-removefile.right:after{content:''}
//.ss-deletefile:before,.ss-deletefile.right:after{content:''}
//.ss-searchfile:before,.ss-searchfile.right:after{content:''}
//.ss-folder:before,.ss-folder.right:after{content:'📁'}
//.ss-addfolder:before,.ss-addfolder.right:after{content:''}
//.ss-removefolder:before,.ss-removefolder.right:after{content:''}
//.ss-deletefolder:before,.ss-deletefolder.right:after{content:''}
//.ss-downloadfolder:before,.ss-downloadfolder.right:after{content:''}
//.ss-uploadfolder:before,.ss-uploadfolder.right:after{content:''}
//.ss-undo:before,.ss-undo.right:after{content:'↩'}
//.ss-redo:before,.ss-redo.right:after{content:'↪'}
//.ss-quote:before,.ss-quote.right:after{content:'“'}
//.ss-font:before,.ss-font.right:after{content:''}
//.ss-anchor:before,.ss-anchor.right:after{content:''}
//.ss-print:before,.ss-print.right:after{content:'⎙'}
//.ss-fax:before,.ss-fax.right:after{content:'📠'}
//.ss-shredder:before,.ss-shredder.right:after{content:''}
//.ss-typewriter:before,.ss-typewriter.right:after{content:''}
//.ss-list:before,.ss-list.right:after{content:''}
//.ss-action:before,.ss-action.right:after{content:''}
.ss-redirect,
%ss-redirect{
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after {
		content:'↗';
		@extend %ss-symbolicons-block-font;}
}
//.ss-expand:before,.ss-expand.right:after{content:'⤢'}
//.ss-contract:before,.ss-contract.right:after{content:''}
//.ss-scaleup:before,.ss-scaleup.right:after{content:''}
//.ss-scaledown:before,.ss-scaledown.right:after{content:''}
//.ss-power:before,.ss-power.right:after{content:''}
//.ss-lifepreserver:before,.ss-lifepreserver.right:after{content:''}
//.ss-help:before,.ss-help.right:after{content:'❓'}
//.ss-info:before,.ss-info.right:after{content:'ℹ'}

.ss-alert,
%ss-alert{
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{ 
	content:'⚠';
		@extend %ss-symbolicons-block-font;}
}
//.ss-caution:before,.ss-caution.right:after{content:'⛔'}
//.ss-plus:before,.ss-plus.right:after{content:'+'}
//.ss-hyphen:before,.ss-hyphen.right:after{content:'-'}
//.ss-check:before,.ss-check.right:after{content:'✓'}
//.ss-delete:before,.ss-delete.right:after{content:'␡'}
//.ss-dogface:before,.ss-dogface.right:after{content:'🐶'}
//.ss-catface:before,.ss-catface.right:after{content:'🐱'}
//.ss-bearface:before,.ss-bearface.right:after{content:'🐻'}
//.ss-bird:before,.ss-bird.right:after{content:'🐦'}
//.ss-dog:before,.ss-dog.right:after{content:'🐕'}
//.ss-sheep:before,.ss-sheep.right:after{content:'🐑'}
//.ss-pig:before,.ss-pig.right:after{content:'🐖'}
//.ss-bone:before,.ss-bone.right:after{content:''}
//.ss-tooth:before,.ss-tooth.right:after{content:''}
//.ss-palmtree:before,.ss-palmtree.right:after{content:'🌴'}
//.ss-tree:before,.ss-tree.right:after{content:'🌲'}
//.ss-leaf:before,.ss-leaf.right:after{content:'🍂'}
//.ss-flower:before,.ss-flower.right:after{content:'⚘'}
//.ss-settings:before,.ss-settings.right:after{content:'⚙'}
//.ss-dashboard:before,.ss-dashboard.right:after{content:''}
//.ss-notifications:before,.ss-notifications.right:after{content:'🔔'}
//.ss-toggles:before,.ss-toggles.right:after{content:''}
//.ss-switch:before,.ss-switch.right:after{content:''}
//.ss-switchoff:before,.ss-switchoff.right:after{content:''}
//.ss-brightness:before,.ss-brightness.right:after{content:'🔆'}
//.ss-flashoff:before,.ss-flashoff.right:after{content:''}
//.ss-toolbox:before,.ss-toolbox.right:after{content:''}
//.ss-tools:before,.ss-tools.right:after{content:''}

.ss-wrench,
%ss-wrench {
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{ 
		content:'🔧';
		@extend %ss-symbolicons-block-font;}
}
//.ss-wrenches:before,.ss-wrenches.right:after{content:''}
//.ss-wrenchpencil:before,.ss-wrenchpencil.right:after{content:''}
//.ss-screwdriverpencil:before,.ss-screwdriverpencil.right:after{content:''}
//.ss-hammerscrewdriver:before,.ss-hammerscrewdriver.right:after{content:''}
//.ss-tapemeasure:before,.ss-tapemeasure.right:after{content:''}
//.ss-hourglass:before,.ss-hourglass.right:after{content:'⏳'}
//.ss-clock:before,.ss-clock.right:after{content:'⏲'}
//.ss-stopwatch:before,.ss-stopwatch.right:after{content:'⏱'}
//.ss-alarmclock:before,.ss-alarmclock.right:after{content:'⏰'}

.ss-calendar,
%ss-calendar {
	@extend %ss-symbolicons-block;
	&::before,
	&.right::after{ 
		content:'📅';
		@extend %ss-symbolicons-block-font;}
}
//.ss-keyboardup:before,.ss-keyboardup.right:after{content:''}
//.ss-keyboarddown:before,.ss-keyboarddown.right:after{content:''}
//.ss-heavyasterisk:before,.ss-heavyasterisk.right:after{content:'✱'}
//.ss-egg:before,.ss-egg.right:after{content:''}
//.ss-cheese:before,.ss-cheese.right:after{content:''}
//.ss-hotdog:before,.ss-hotdog.right:after{content:''}
//.ss-burger:before,.ss-burger.right:after{content:'🍔'}
//.ss-birthdaycake:before,.ss-birthdaycake.right:after{content:'🎂'}
//.ss-pancakes:before,.ss-pancakes.right:after{content:''}
//.ss-pizza:before,.ss-pizza.right:after{content:'🍕'}
//.ss-frenchfries:before,.ss-frenchfries.right:after{content:'🍟'}
//.ss-apple:before,.ss-apple.right:after{content:'🍏'}
//.ss-mug:before,.ss-mug.right:after{content:'☕'}
//.ss-coffee:before,.ss-coffee.right:after{content:''}
//.ss-growler:before,.ss-growler.right:after{content:''}
//.ss-beer:before,.ss-beer.right:after{content:'🍺'}
//.ss-bottle:before,.ss-bottle.right:after{content:''}
//.ss-wine:before,.ss-wine.right:after{content:''}
//.ss-wineglass:before,.ss-wineglass.right:after{content:'🍷'}
//.ss-cocktail:before,.ss-cocktail.right:after{content:'🍸'}
//.ss-soda:before,.ss-soda.right:after{content:''}
//.ss-cup:before,.ss-cup.right:after{content:''}
//.ss-babybottle:before,.ss-babybottle.right:after{content:'🍼'}
//.ss-jug:before,.ss-jug.right:after{content:''}
//.ss-oven:before,.ss-oven.right:after{content:''}
//.ss-takeout:before,.ss-takeout.right:after{content:''}
//.ss-paperbag:before,.ss-paperbag.right:after{content:''}
//.ss-utensils:before,.ss-utensils.right:after{content:'🍴'}
//.ss-tshirt:before,.ss-tshirt.right:after{content:'👕'}
//.ss-graduationcap:before,.ss-graduationcap.right:after{content:'🎓'}
//.ss-fabric:before,.ss-fabric.right:after{content:''}
//.ss-swatch:before,.ss-swatch.right:after{content:''}
//.ss-weave:before,.ss-weave.right:after{content:''}
//.ss-thread:before,.ss-thread.right:after{content:''}
//.ss-yarn:before,.ss-yarn.right:after{content:''}
//.ss-crochet:before,.ss-crochet.right:after{content:''}
//.ss-needles:before,.ss-needles.right:after{content:''}
//.ss-scissorsneedles:before,.ss-scissorsneedles.right:after{content:''}
//.ss-button:before,.ss-button.right:after{content:''}
//.ss-zipper:before,.ss-zipper.right:after{content:''}
//.ss-sun:before,.ss-sun.right:after{content:'☀'}
//.ss-partlycloudy:before,.ss-partlycloudy.right:after{content:'⛅'}
//.ss-rainbow:before,.ss-rainbow.right:after{content:'🌈'}
//.ss-umbrella:before,.ss-umbrella.right:after{content:'☂'}
//.ss-crescentmoon:before,.ss-crescentmoon.right:after{content:'🌙'}
//.ss-newmoon:before,.ss-newmoon.right:after{content:'🌑'}
//.ss-waxingcrescentmoon:before,.ss-waxingcrescentmoon.right:after{content:'🌒'}
//.ss-firstquartermoon:before,.ss-firstquartermoon.right:after{content:'🌓'}
//.ss-waxinggibbousmoon:before,.ss-waxinggibbousmoon.right:after{content:'🌔'}
//.ss-fullmoon:before,.ss-fullmoon.right:after{content:'🌕'}
//.ss-waninggibbousmoon:before,.ss-waninggibbousmoon.right:after{content:'🌖'}
//.ss-lastquartermoon:before,.ss-lastquartermoon.right:after{content:'🌗'}
//.ss-waningcrescentmoon:before,.ss-waningcrescentmoon.right:after{content:'🌘'}
//.ss-car:before,.ss-car.right:after{content:'🚘'}
//.ss-carrepair:before,.ss-carrepair.right:after{content:''}
//.ss-taxi:before,.ss-taxi.right:after{content:'🚖'}
//.ss-train:before,.ss-train.right:after{content:'🚆'}
//.ss-bus:before,.ss-bus.right:after{content:'🚍'}
//.ss-truck:before,.ss-truck.right:after{content:'🚚'}
//.ss-trailer:before,.ss-trailer.right:after{content:''}
//.ss-trailerdump:before,.ss-trailerdump.right:after{content:''}
//.ss-plane:before,.ss-plane.right:after{content:'✈'}
//.ss-bike:before,.ss-bike.right:after{content:'🚲'}
//.ss-motorcycle:before,.ss-motorcycle.right:after{content:''}
//.ss-boat:before,.ss-boat.right:after{content:'🚢'}
//.ss-rocket:before,.ss-rocket.right:after{content:'🚀'}
//.ss-ufo:before,.ss-ufo.right:after{content:''}
//.ss-squarekey:before,.ss-squarekey.right:after{content:''}
//.ss-tire:before,.ss-tire.right:after{content:''}
//.ss-fuel:before,.ss-fuel.right:after{content:'⛽'}
//.ss-parking:before,.ss-parking.right:after{content:''}
//.ss-wheelchair:before,.ss-wheelchair.right:after{content:'♿'}
//.ss-restroom:before,.ss-restroom.right:after{content:'🚻'}
//.ss-elevator:before,.ss-elevator.right:after{content:''}
//.ss-briefcase:before,.ss-briefcase.right:after{ content:'💼'}
//.ss-theatre:before,.ss-theatre.right:after{content:'🎭'}
//.ss-ticket:before,.ss-ticket.right:after{content:'🎫'}
//.ss-golf:before,.ss-golf.right:after{content:''}
//.ss-billiards:before,.ss-billiards.right:after{content:'🎱'}
//.ss-baseball:before,.ss-baseball.right:after{content:'⚾'}
//.ss-tennis:before,.ss-tennis.right:after{content:'🎾'}
//.ss-basketball:before,.ss-basketball.right:after{content:'🏀'}
//.ss-football:before,.ss-football.right:after{content:'🏈'}
//.ss-soccer:before,.ss-soccer.right:after{content:'⚽'}
//.ss-flaginhole:before,.ss-flaginhole.right:after{content:'⛳'}
//.ss-paddles:before,.ss-paddles.right:after{content:''}
//.ss-skiboot:before,.ss-skiboot.right:after{content:''}
//.ss-skis:before,.ss-skis.right:after{content:'🎿'}
//.ss-hiker:before,.ss-hiker.right:after{content:''}
//.ss-runner:before,.ss-runner.right:after{content:'🏃'}
//.ss-hottub:before,.ss-hottub.right:after{content:''}
//.ss-exercise:before,.ss-exercise.right:after{content:''}
//.ss-hospital:before,.ss-hospital.right:after{content:'⛨'}
//.ss-medicalcross:before,.ss-medicalcross.right:after{content:''}
//.ss-medicalbag:before,.ss-medicalbag.right:after{content:''}
//.ss-bandage:before,.ss-bandage.right:after{content:''}
//.ss-flask:before,.ss-flask.right:after{content:''}
//.ss-testtube:before,.ss-testtube.right:after{content:''}
//.ss-up:before,.ss-up.right:after{content:'⬆'}
//.ss-right:before,.ss-right.right:after{content:'➡'}
//.ss-down:before,.ss-down.right:after{content:'⬇'}
//.ss-left:before,.ss-left.right:after{content:'⬅'}
//.ss-navigateup:before,.ss-navigateup.right:after{content:''}
//.ss-navigateright:before,.ss-navigateright.right:after{content:'▻'}
//.ss-navigatedown:before,.ss-navigatedown.right:after{content:''}
//.ss-navigateleft:before,.ss-navigateleft.right:after{content:'◅'}
//.ss-share:before,.ss-share.right:after{content:''}

