$fontpath: "#{$yst-font-path}/yale";

@font-face {
	font-family: "Yale";
	src: url("#{$fontpath}/yaledesign-medium-webfont.eot") format("eot");
	src: url("#{$fontpath}/yaledesign-medium-webfont.woff") format("woff"),
		url("#{$fontpath}/yaledesign-medium-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Yale";
	src: url("#{$fontpath}/yaledesign-italic-webfont.eot") format("eot");
	src: url("#{$fontpath}/yaledesign-italic-webfont.woff") format("woff"),
		url("#{$fontpath}/yaledesign-italic-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Yale";
	src: url("#{$fontpath}/yaledesign-bold-webfont.eot") format("eot");
	src: url("#{$fontpath}/yaledesign-bold-webfont.woff") format("woff"),
		url("#{$fontpath}/yaledesign-bold-webfont.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Yale";
	src: url("#{$fontpath}/yaledesign-bolditalic-webfont.eot") format("eot");
	src: url("#{$fontpath}/yaledesign-bolditalic-webfont.woff") format("woff"),
		url("#{$fontpath}/yaledesign-bolditalic-webfont.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Yale Small Caps";
	src: url("#{$fontpath}/yaledessmacap-webfont.eot") format("eot");
	src: url("#{$fontpath}/yaledessmacap-webfont.woff") format("woff"),
		url("#{$fontpath}/yaledessmacap-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
