%content-layout-flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  @include breakpoint($bp-tablet-landscape) {
    flex-wrap: nowrap;
  }
}

%content-layout-flex-aside {
  @include breakpoint($bp-tablet-landscape-below) {
    width: percentage(12/12);
  }
  @include breakpoint($bp-tablet-landscape) {
    width: calc(#{percentage(2/12)} + #{$gutter-double});
  }
}

%content-layout-flex-aside-primary {
  order: 1;
  // @include breakpoint($bp-tablet-landscape-only) {
  //   grid-column: 1 / span 3;
  // }
  @include breakpoint($bp-tablet-landscape) {
    flex         : 0 0 auto;
    padding-right: $gutter-double;
  }
}

%content-layout-flex-aside-secondary {
  order: 3;
  @include breakpoint($bp-tablet-landscape) {
    flex        : 0 0 auto;
    padding-left: $gutter-double;
  }
}

%content-layout-flex-main {
  order: 2;
  @include breakpoint($bp-tablet-landscape-below) {
    margin-bottom: 2rem;
    width        : percentage(12/12);
  }
  @include breakpoint($bp-tablet-landscape) {
    flex: 1;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) and (min-width:$bp-tablet-landscape) {
    // IE10-11 only
    flex-basis: percentage(6/12);
  }
}

// %content-layout-flex-main-has-primary {
//   @include breakpoint($bp-tablet-landscape-only) {
//     grid-column: 5 / span 8;
//   }
// }
