%content-layout-grid {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	column-gap: var(--grid-column-gap, 0);
	row-gap: var(--grid-row-gap, 0);
	@include breakpoint($bp-desktop) {
		--grid-row-gap: #{$spacing-sm};
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}
}

%content-layout-grid-aside-primary {
	grid-row: 1;
	@include breakpoint($bp-desktop) {
		grid-column: 1 / span 2;
	}
}

%content-layout-grid-aside-secondary {
	grid-row-end: auto;
	@include breakpoint($bp-desktop) {
		grid-row: 1;
		grid-column: 11 / span 2;
	}
}

%content-layout-grid-main {
	grid-row: 2;
	max-width: 100%;
	@include breakpoint($bp-desktop) {
		grid-row: 1;
		grid-column: 1 / span 12;
	}
}

%content-layout-grid-main-has-aside {
	@include breakpoint($bp-desktop) {
		grid-column: 1 / span 7;
	}
}

%content-layout-grid-main-has-navigation {
	@include breakpoint($bp-desktop) {
		grid-column: 4 / span 9;
	}
}

%content-layout-grid-main-has-nav-aside {
	@include breakpoint($bp-desktop) {
		grid-column: 4 / span 7;
	}
}

%content-layout-grid-main-extended {
	grid-row: 3;
	max-width: 100%;
	@include breakpoint($bp-desktop) {
		grid-row: auto;
		grid-column: 1 / span 12;
	}
}

%content-layout-grid-main-extended-item {
	@include breakpoint($bp-desktop) {
		margin-left: calc(100% / 12);
		margin-right: calc(100% / 12);
	}
}

%content-layout-grid-main-extended-item-wide {
	margin-left: 0;
	margin-right: 0;
	@include breakpoint($bp-desktop) {
		margin-left: 0;
		margin-right: 0;
	}
}

%content-layout-grid-main-extended-item-edge {
	margin-left: rem(-$gutter-double);
	margin-right: rem(-$gutter-double);
	@include breakpoint($bp-desktop) {
		margin-left: rem(-$gutter-double * 2);
		margin-right: rem(-$gutter-double * 2);
	}
	@include breakpoint($bp-big-desktop) {
		margin-left: calc(
			((100vw - 80rem - 15px) / -2) - #{rem($gutter-double * 2)}
		);
		margin-right: calc(
			((100vw - 80rem - 15px) / -2) - #{rem($gutter-double * 2)}
		);
		padding-left: rem($gutter-double * 2);
		padding-right: rem($gutter-double * 2);
	}
	@include breakpoint(#{rem($page-max)}) {
		margin-left: calc(
			((100vw - 84rem - 15px) / -2) - #{rem($gutter-double * 2)}
		);
		margin-right: calc(
			((100vw - 84rem - 15px) / -2) - #{rem($gutter-double * 2)}
		);
	}
}
