@font-face {
	font-family: "SSStandard-custom";
	src: url("#{$yst-font-path}/ss-custom/ss-custom.eot");
	src: url("#{$yst-font-path}/ss-custom/ss-custom.woff") format("woff"), 
		url("#{$yst-font-path}/ss-custom/ss-custom.ttf") format("truetype"), 
		url("#{$yst-font-path}/ss-custom/ss-custom.svg#ss-custom") format("svg");
	font-weight: normal;
	font-style: normal;
};

[class^="ss-search-people"], [class*=" ss-search-people"] {
	font-family: "ss-custom";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ss-search-people,
%ss-search-people {
	&:before {
		content: "\e600";
	}
}
