@charset "UTF-8";

/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-standard.css" rel="stylesheet" />
*/

@font-face {
	font-family: "SSStandard"; 
	src: url("#{$yst-font-path}/ss-standard/ss-standard.eot");
	src: url("#{$yst-font-path}/ss-standard/ss-standard.woff") format("woff"),
		url("#{$yst-font-path}/ss-standard/ss-standard.ttf") format("ttf"),
		url("#{$yst-font-path}/ss-standard/ss-standard.svg#SSStandard") format("svg"); 
	font-weight: normal;
	font-style: normal;
};

/* This triggers a redraw in IE to Fix IE8"s :before content rendering. */
html:hover [class^="ss-"]{-ms-zoom: 1;}


.ss-icon, %ss-icon, .ss-icon.ss-standard,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-standard:before, [class*=" ss-"].ss-standard:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-standard.right:after, [class*=" ss-"].ss-standard.right:after {
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
%ss-standard {
	&::after,
	&::before {
		font-family: "SSStandard";
	}
}
%ss-standard-font {
	font-family: "SSStandard";
}

[class^="ss-"].right::before,
[class*=" ss-"].right::before{display:none;content:"";}


//.ss-cursor:before,.ss-cursor.right:after{content:""}
//.ss-crosshair:before,.ss-crosshair.right:after{content:"⌖"}
.ss-search,
%ss-search{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"🔎";
		@extend %ss-standard-font;}
}
//.ss-zoomin:before,.ss-zoomin.right:after{content:""}
//.ss-zoomout:before,.ss-zoomout.right:after{content:""}
//.ss-view:before,.ss-view.right:after{content:"👀"}
//.ss-attach:before,.ss-attach.right:after{content:"📎"}

.ss-link,
%ss-link{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"🔗";
		@extend %ss-standard-font;}
}
.ss-move,
%ss-move {
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"";
		@extend %ss-standard-font; }
}
.ss-write,
%ss-write {
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"✎";
		@extend %ss-standard-font;}
}
//.ss-writingdisabled:before,.ss-writingdisabled.right:after{content:""}
//.ss-erase:before,.ss-erase.right:after{content:"✐"}

.ss-compose,
%ss-compose {
	@extend %ss-standard;
	&::before,
	&.right::after{ content:"📝";
		@extend %ss-standard-font;}
	}

.ss-lock,
%ss-lock {
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"🔒";
		@extend %ss-standard-font;}
}
//.ss-unlock:before,.ss-unlock.right:after{content:"🔓"}
//.ss-key:before,.ss-key.right:after{content:"🔑"}
//.ss-backspace:before,.ss-backspace.right:after{content:"⌫"}
//.ss-ban:before,.ss-ban.right:after{content:"🚫"}
//.ss-trash:before,.ss-trash.right:after{content:""}
//.ss-target:before,.ss-target.right:after{content:"◎"}

.ss-tag,
%ss-tag{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"";
		@extend %ss-standard-font;}
}
//.ss-bookmark:before,.ss-bookmark.right:after{content:"🔖"}
//.ss-flag:before,.ss-flag.right:after{content:"⚑"}
//.ss-like:before,.ss-like.right:after{content:"👍"}
//.ss-dislike:before,.ss-dislike.right:after{content:"👎"}
//.ss-heart:before,.ss-heart.right:after{content:"♥"}
//.ss-halfheart:before,.ss-halfheart.right:after{content:""}

.ss-star,
%ss-star {
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"⋆";
		@extend %ss-standard-font;
	}
}
//.ss-halfstar:before,.ss-halfstar.right:after{content:""}
//.ss-sample:before,.ss-sample.right:after{content:""}
//.ss-crop:before,.ss-crop.right:after{content:""}
//.ss-layers:before,.ss-layers.right:after{content:""}
//.ss-fill:before,.ss-fill.right:after{content:""}
//.ss-stroke:before,.ss-stroke.right:after{content:""}
.ss-phone,
%ss-phone{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"📞";
		@extend %ss-standard-font;}
}
//.ss-phonedisabled:before,.ss-phonedisabled.right:after{content:""}
.ss-rss,
%ss-rss{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"";
		@extend %ss-standard-font;}
}
//.ss-facetime:before,.ss-facetime.right:after{content:""}
.ss-reply,
%ss-reply{
	@extend %ss-standard;
	&::before,
	&.right::after{
	content:"↩";
		@extend %ss-standard-font;}
}
//.ss-send:before,.ss-send.right:after{content:""}
.ss-mail,
%ss-mail{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"✉";
		@extend %ss-standard-font;}
}
//.ss-inbox:before,.ss-inbox.right:after{content:"📥"}
.ss-inbox,
%ss-inbox {
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"📥";
		@extend %ss-standard-font;}
}
//.ss-chat:before,.ss-chat.right:after{content:"💬"}
//.ss-ellipsischat:before,.ss-ellipsischat.right:after{content:""}
.ss-ellipsis,
%ss-ellipsis {
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"…";
		@extend %ss-standard-font;}
}
//.ss-user:before,.ss-user.right:after{content:"👤"}

.ss-femaleuser,
%ss-femaleuser{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"👧";
		@extend %ss-standard-font;}
}

.ss-users,
%ss-users {
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"👥";
		@extend %ss-standard-font;}
}
//.ss-cart:before,.ss-cart.right:after{content:""}
//.ss-creditcard:before,.ss-creditcard.right:after{content:"💳"}
//.ss-dollarsign:before,.ss-dollarsign.right:after{content:"💲"}
//.ss-barchart:before,.ss-barchart.right:after{content:"📊"}
//.ss-piechart:before,.ss-piechart.right:after{content:""}
//.ss-box:before,.ss-box.right:after{content:"📦"}

.ss-home,
%ss-home{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"⌂";
		@extend %ss-standard-font;}
}
.ss-buildings,
%ss-buildings{
  @extend %ss-standard;
	&::before,
	&.right::after{
    content:"🏢";
    @extend %ss-standard-font;}
}
//.ss-warehouse:before,.ss-warehouse.right:after{content:""}

.ss-globe,
%ss-globe{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"🌎";
		@extend %ss-standard-font;}
}
//.ss-navigate:before,.ss-navigate.right:after{content:""}
//.ss-compass:before,.ss-compass.right:after{content:""}
//.ss-signpost:before,.ss-signpost.right:after{content:""}
//.ss-map:before,.ss-map.right:after{content:""}
.ss-location,
%ss-location{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"";
		@extend %ss-standard-font;}
}
//.ss-pin:before,.ss-pin.right:after{content:"📍"}
//.ss-database:before,.ss-database.right:after{content:""}
//.ss-hdd:before,.ss-hdd.right:after{content:""}
//.ss-music:before,.ss-music.right:after{content:"♫"}
.ss-mic,
%ss-mic{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"🎤";
		@extend %ss-standard-font;}
}
//.ss-volume:before,.ss-volume.right:after{content:"🔈"}
//.ss-lowvolume:before,.ss-lowvolume.right:after{content:"🔉"}
//.ss-highvolume:before,.ss-highvolume.right:after{content:"🔊"}
//.ss-airplay:before,.ss-airplay.right:after{content:""}
//.ss-camera:before,.ss-camera.right:after{content:"📷"}
//.ss-picture:before,.ss-picture.right:after{content:"🌄"}
//.ss-video:before,.ss-video.right:after{content:"📹"}

.ss-play,
%ss-play{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"▶";
		@extend %ss-standard-font;}
}
//.ss-pause:before,.ss-pause.right:after{content:""}
//.ss-stop:before,.ss-stop.right:after{content:"■"}
//.ss-record:before,.ss-record.right:after{content:"●"}
//.ss-rewind:before,.ss-rewind.right:after{content:"⏪"}
//.ss-fastforward:before,.ss-fastforward.right:after{content:"⏩"}
//.ss-skipback:before,.ss-skipback.right:after{content:"⏮"}
.ss-skipforward,
%ss-skipforward{
	@extend %ss-standard;
	&::before,
	&.right::after{
	content:"⏭";
		@extend %ss-standard-font;}
}
//.ss-eject:before,.ss-eject.right:after{content:"⏏"}
//.ss-repeat:before,.ss-repeat.right:after{content:"🔁"}

.ss-replay,
%ss-replay{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"↺";
		@extend %ss-standard-font;}
	}
//.ss-shuffle:before,.ss-shuffle.right:after{content:"🔀"}
//.ss-book:before,.ss-book.right:after{content:"📕"}
//.ss-openbook:before,.ss-openbook.right:after{content:"📖"}

.ss-notebook,
%ss-notebook{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"📓";
		@extend %ss-standard-font;}
}
//.ss-newspaper:before,.ss-newspaper.right:after{content:"📰"}
//.ss-grid:before,.ss-grid.right:after{content:""}
.ss-rows,
%ss-rows{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"";
		@extend %ss-standard-font;}
}
//.ss-columns:before,.ss-columns.right:after{content:""}
//.ss-thumbnails:before,.ss-thumbnails.right:after{content:""}
//.ss-filter:before,.ss-filter.right:after{content:""}
//.ss-desktop:before,.ss-desktop.right:after{content:"💻"}
//.ss-laptop:before,.ss-laptop.right:after{content:""}
//.ss-tablet:before,.ss-tablet.right:after{content:""}
//.ss-cell:before,.ss-cell.right:after{content:"📱"}
//.ss-battery:before,.ss-battery.right:after{content:"🔋"}
//.ss-highbattery:before,.ss-highbattery.right:after{content:""}
//.ss-mediumbattery:before,.ss-mediumbattery.right:after{content:""}
//.ss-lowbattery:before,.ss-lowbattery.right:after{content:""}
//.ss-emptybattery:before,.ss-emptybattery.right:after{content:""}
//.ss-lightbulb:before,.ss-lightbulb.right:after{content:"💡"}
.ss-downloadcloud,
%ss-downloadcloud {
  @extend %ss-standard;
	&::before,
	&.right::after{
    content:"";
    @extend %ss-standard-font;}
}
//.ss-download:before,.ss-download.right:after{content:""}
.ss-uploadcloud,
%ss-uploadcloud {
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"";
		@extend %ss-standard-font;}
}
//.ss-upload:before,.ss-upload.right:after{content:""}
//.ss-fork:before,.ss-fork.right:after{content:""}
//.ss-merge:before,.ss-merge.right:after{content:""}
//.ss-transfer:before,.ss-transfer.right:after{content:"⇆"}
//.ss-refresh:before,.ss-refresh.right:after{content:"↻"}
.ss-sync,
%ss-sync {
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"";
		@extend %ss-standard-font;}
}
//.ss-loading:before,.ss-loading.right:after{content:""}
//.ss-wifi:before,.ss-wifi.right:after{content:""}
//.ss-connection:before,.ss-connection.right:after{content:""}
.ss-file,
%ss-file{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"📄";
		@extend %ss-standard-font;}
}
//.ss-folder:before,.ss-folder.right:after{content:"📁"}
//.ss-quote:before,.ss-quote.right:after{content:"“"}
//.ss-text:before,.ss-text.right:after{content:""}
//.ss-font:before,.ss-font.right:after{content:""}
//.ss-print:before,.ss-print.right:after{content:"⎙"}
//.ss-fax:before,.ss-fax.right:after{content:"📠"}
//.ss-list:before,.ss-list.right:after{content:""}
//.ss-layout:before,.ss-layout.right:after{content:""}
//.ss-action:before,.ss-action.right:after{content:""}
//.ss-redirect:before,.ss-redirect.right:after{content:"↪"}
.ss-expand,
%ss-expand{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"⤢";
		@extend %ss-standard-font;}
}
.ss-contract,
%ss-contract{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"";
		@extend %ss-standard-font;}
}
//.ss-help:before,.ss-help.right:after{content:"❓"}
.ss-info,
%ss-info {
  @extend %ss-standard;
  &::before,
  &.right::after{
    content:"ℹ";
    @extend %ss-standard-font;}
}
//.ss-alert:before,.ss-alert.right:after{content:"⚠"}
//.ss-caution:before,.ss-caution.right:after{content:"⛔"}
//.ss-logout:before,.ss-logout.right:after{content:""}
//.ss-plus:before,.ss-plus.right:after{content:"+"}
.ss-plus,
%ss-plus {
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"+";
		@extend %ss-standard-font;}
}
//.ss-hyphen:before,.ss-hyphen.right:after{content:"-"}
.ss-check,
%ss-check {
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"✓";
		@extend %ss-standard-font;}
}
.ss-delete,
%ss-delete {
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"␡";
		@extend %ss-standard-font;}
}
//.ss-settings:before,.ss-settings.right:after{content:"⚙"}
//.ss-dashboard:before,.ss-dashboard.right:after{content:""}
//.ss-notifications:before,.ss-notifications.right:after{content:"🔔"}
//.ss-notificationsdisabled:before,.ss-notificationsdisabled.right:after{content:"🔕"}
//.ss-clock:before,.ss-clock.right:after{content:"⏲"}
//.ss-stopwatch:before,.ss-stopwatch.right:after{content:"⏱"}
//.ss-calendar:before,.ss-calendar.right:after{content:"📅"}
//.ss-addcalendar:before,.ss-addcalendar.right:after{content:""}
//.ss-removecalendar:before,.ss-removecalendar.right:after{content:""}
.ss-checkcalendar,
%ss-checkcalendar{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"";
		@extend %ss-standard-font;}
}
//.ss-deletecalendar:before,.ss-deletecalendar.right:after{content:""}
.ss-briefcase,
%ss-briefcase{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"💼";
		@extend %ss-standard-font;}
}
//.ss-cloud:before,.ss-cloud.right:after{content:"☁"}
//.ss-droplet:before,.ss-droplet.right:after{content:"💧"}
//.ss-flask:before,.ss-flask.right:after{content:""}
//.ss-up:before,.ss-up.right:after{content:"⬆"}
//.ss-upright:before,.ss-upright.right:after{content:"⬈"}
//.ss-right:before,.ss-right.right:after{content:"➡"}
//.ss-downright:before,.ss-downright.right:after{content:"⬊"}
//.ss-down:before,.ss-down.right:after{content:"⬇"}
//.ss-downleft:before,.ss-downleft.right:after{content:"⬋"}
//.ss-left:before,.ss-left.right:after{content:"⬅"}
//.ss-upleft:before,.ss-upleft.right:after{content:"⬉"}
.ss-navigateup,
%ss-navigateup{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"";
		@extend %ss-standard-font;}
}
.ss-navigateright,
%ss-navigateright{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"▻";
		@extend %ss-standard-font;}
}
.ss-navigatedown,
%ss-navigatedown{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"";
		@extend %ss-standard-font;}
}
.ss-navigateleft,
%ss-navigateleft{
	@extend %ss-standard;
	&::before,
	&.right::after{
		content:"◅";
		@extend %ss-standard-font;}
}
//.ss-directup:before,.ss-directup.right:after{content:"▴"}
//.ss-directright:before,.ss-directright.right:after{content:"▹"}
//.ss-dropdown:before,.ss-dropdown.right:after{content:"▾"}
//.ss-directleft:before,.ss-directleft.right:after{content:"◃"}
//.ss-retweet:before,.ss-retweet.right:after{content:""}
//
//

.ss-calendaradd,
.ss-calendaradd {
	@extend %ss-standard;
	&::before,
	&.right:after {
		content:"";
		@extend %ss-standard-font;
	}
}

///* Legacy classes */
//.ss-volumelow:before,.ss-volumelow.right:after{content:"🔉"}
//.ss-volumehigh:before,.ss-volumehigh.right:after{content:"🔊"}
//.ss-batteryhigh:before,.ss-batteryhigh.right:after{content:""}
//.ss-batterymedium:before,.ss-batterymedium.right:after{content:""}
//.ss-batterylow:before,.ss-batterylow.right:after{content:""}
//.ss-batteryempty:before,.ss-batteryempty.right:after{content:""}
//.ss-clouddownload:before,.ss-clouddownload.right:after{content:""}
//.ss-cloudupload:before,.ss-cloudupload.right:after{content:""}
//.ss-calendaradd:before,.ss-calendaradd.right:after{content:""}
//.ss-calendarremove:before,.ss-calendarremove.right:after{content:""}
//.ss-calendarcheck:before,.ss-calendarcheck.right:after{content:""}
//.ss-calendardelete:before,.ss-calendardelete.right:after{content:""}
