$icomoon-font-path: "#{$yst-font-path}/linearicons/fonts" !default;

$icon--home: "\e600";
$icon--home2: "\e601";
$icon--home3: "\e602";
$icon--home4: "\e603";
$icon--home5: "\e604";
$icon--home6: "\e605";
$icon--city: "\e60b";
$icon--apartment: "\e60c";
$icon--pencil: "\e60d";
$icon--pencil2: "\e60e";
$icon--pen: "\e60f";
$icon--pencil3: "\e610";
$icon--eraser: "\e611";
$icon--pencil4: "\e612";
$icon--pencil5: "\e613";
$icon--color-sampler: "\e627";
$icon--magic-wand: "\e62b";
$icon--magnet: "\e62c";
$icon--compass: "\e62f";
$icon--aim: "\e630";
$icon--fire: "\e638";
$icon--poop: "\e63e";
$icon--contrast: "\e645";
$icon--sun-small: "\e646";
$icon--sun: "\e647";
$icon--sun2: "\e648";
$icon--cloud-upload: "\e64b";
$icon--cloud-download: "\e64c";
$icon--cloud-sync: "\e655";
$icon--cloud-lock: "\e656";
$icon--cloud-alert: "\e658";
$icon--cloud-check: "\e659";
$icon--cloud-cross: "\e65a";
$icon--cloud-crossed: "\e65b";
$icon--shield: "\e667";
$icon--shield-check: "\e668";
$icon--shield-alert: "\e669";
$icon--shield-cross: "\e66a";
$icon--lock: "\e66b";
$icon--rotation-lock: "\e66c";
$icon--unlock: "\e66d";
$icon--key: "\e66e";
$icon--key-hole: "\e66f";
$icon--toggle-off: "\e670";
$icon--toggle-on: "\e671";
$icon--cog: "\e672";
$icon--cog2: "\e673";
$icon--wrench: "\e674";
$icon--hammer-wrench: "\e676";
$icon--factory: "\e67d";
$icon--factory2: "\e67e";
$icon--recycle: "\e67f";
$icon--trash: "\e680";
$icon--trash2: "\e681";
$icon--hearts: "\e68b";
$icon--heart: "\e68c";
$icon--star: "\e68d";
$icon--star-half: "\e68e";
$icon--star-empty: "\e68f";
$icon--flag: "\e690";
$icon--flag2: "\e691";
$icon--flag3: "\e692";
$icon--mailbox-full: "\e693";
$icon--mailbox-empty: "\e694";
$icon--at-sign: "\e695";
$icon--envelope: "\e696";
$icon--envelope-open: "\e697";
$icon--paperclip: "\e698";
$icon--paper-plane: "\e699";
$icon--reply: "\e69a";
$icon--reply-all: "\e69b";
$icon--inbox: "\e69c";
$icon--inbox2: "\e69d";
$icon--outbox: "\e69e";
$icon--box: "\e69f";
$icon--archive: "\e6a0";
$icon--archive2: "\e6a1";
$icon--eye: "\e6a5";
$icon--eye-crossed: "\e6a6";
$icon--eye-plus: "\e6a7";
$icon--eye-minus: "\e6a8";
$icon--binoculars: "\e6a9";
$icon--binoculars2: "\e6aa";
$icon--hdd: "\e6ab";
$icon--hdd-down: "\e6ac";
$icon--hdd-up: "\e6ad";
$icon--floppy-disk: "\e6ae";
$icon--printer: "\e6b1";
$icon--file-empty: "\e6b3";
$icon--file-add: "\e6b4";
$icon--file-check: "\e6b5";
$icon--file-lock: "\e6b6";
$icon--files: "\e6b7";
$icon--copy: "\e6b8";
$icon--compare: "\e6b9";
$icon--folder: "\e6ba";
$icon--folder-search: "\e6bb";
$icon--folder-plus: "\e6bc";
$icon--folder-minus: "\e6bd";
$icon--folder-download: "\e6be";
$icon--folder-upload: "\e6bf";
$icon--scissors: "\e6c7";
$icon--paste: "\e6c8";
$icon--clipboard-empty: "\e6c9";
$icon--clipboard-pencil: "\e6ca";
$icon--clipboard-text: "\e6cb";
$icon--clipboard-check: "\e6cc";
$icon--clipboard-down: "\e6cd";
$icon--clipboard-left: "\e6ce";
$icon--clipboard-alert: "\e6cf";
$icon--register: "\e6d1";
$icon--enter: "\e6d2";
$icon--exit: "\e6d3";
$icon--papers: "\e6d4";
$icon--news: "\e6d5";
$icon--document: "\e6d8";
$icon--document2: "\e6d9";
$icon--graduation-hat: "\e6da";
$icon--license2: "\e6dc";
$icon--medal-empty: "\e6dd";
$icon--music-note: "\e6e4";
$icon--music-note2: "\e6e5";
$icon--music-note3: "\e6e6";
$icon--playlist: "\e6e7";
$icon--playlist-add: "\e6e8";
$icon--shuffle: "\e6ec";
$icon--repeat-one: "\e6ed";
$icon--repeat: "\e6ee";
$icon--headphones: "\e6ef";
$icon--equalizer: "\e6f2";
$icon--presentation: "\e6f6";
$icon--play: "\e6f7";
$icon--film-play: "\e6f8";
$icon--clapboard-play: "\e6f9";
$icon--film: "\e6fb";
$icon--camera: "\e6ff";
$icon--camera-crossed: "\e700";
$icon--camera-play: "\e701";
$icon--time-lapse: "\e702";
$icon--camera2: "\e704";
$icon--camera-flip: "\e705";
$icon--shutter: "\e708";
$icon--flare: "\e70b";
$icon--convex: "\e70c";
$icon--concave: "\e70d";
$icon--picture: "\e70e";
$icon--picture2: "\e70f";
$icon--picture3: "\e710";
$icon--pictures: "\e711";
$icon--book: "\e712";
$icon--book2: "\e714";
$icon--bookmark: "\e715";
$icon--bookmark2: "\e716";
$icon--label: "\e717";
$icon--library: "\e718";
$icon--library2: "\e719";
$icon--profile: "\e71b";
$icon--portrait: "\e71c";
$icon--portrait2: "\e71d";
$icon--user: "\e71e";
$icon--user-plus: "\e71f";
$icon--user-minus: "\e720";
$icon--user-lock: "\e721";
$icon--users2: "\e723";
$icon--users-plus: "\e724";
$icon--users-minus: "\e725";
$icon--group-work: "\e726";
$icon--woman: "\e727";
$icon--man: "\e728";
$icon--bow-tie: "\e738";
$icon--cart: "\e74d";
$icon--cart-empty: "\e74e";
$icon--cart-full: "\e74f";
$icon--cart-plus: "\e750";
$icon--cart-plus2: "\e751";
$icon--cart-add: "\e752";
$icon--cart-remove: "\e753";
$icon--cart-exchange: "\e754";
$icon--tag: "\e755";
$icon--tags: "\e756";
$icon--wallet: "\e758";
$icon--cash-dollar: "\e75a";
$icon--cash-euro: "\e75b";
$icon--cash-pound: "\e75c";
$icon--cash-yen: "\e75d";
$icon--calculator2: "\e767";
$icon--telephone: "\e76a";
$icon--phone-lock: "\e76b";
$icon--phone-wave: "\e76c";
$icon--phone-pause: "\e76d";
$icon--phone-outgoing: "\e76e";
$icon--phone-incoming: "\e76f";
$icon--phone-in-out: "\e770";
$icon--phone-error: "\e771";
$icon--phone-sip: "\e772";
$icon--phone-plus: "\e773";
$icon--phone-minus: "\e774";
$icon--voicemail: "\e775";
$icon--dial: "\e776";
$icon--telephone2: "\e777";
$icon--pushpin: "\e778";
$icon--pushpin2: "\e779";
$icon--map-marker: "\e77a";
$icon--map-marker-user: "\e77b";
$icon--map-marker-down: "\e77c";
$icon--map-marker-check: "\e77d";
$icon--map-marker-crossed: "\e77e";
$icon--radar: "\e77f";
$icon--compass2: "\e780";
$icon--map2: "\e782";
$icon--location: "\e783";
$icon--road-sign: "\e784";
$icon--calendar-empty: "\e785";
$icon--calendar-check: "\e786";
$icon--calendar-cross: "\e787";
$icon--calendar-31: "\e788";
$icon--calendar-full: "\e789";
$icon--calendar-insert: "\e78a";
$icon--calendar-text: "\e78b";
$icon--calendar-user: "\e78c";
$icon--mouse: "\e78d";
$icon--mouse-left: "\e78e";
$icon--mouse-right: "\e78f";
$icon--mouse-both: "\e790";
$icon--delete: "\e794";
$icon--escape: "\e796";
$icon--enter2: "\e797";
$icon--screen: "\e798";
$icon--signal: "\e79a";
$icon--smartphone: "\e7a6";
$icon--tablet2: "\e7ac";
$icon--laptop: "\e7ad";
$icon--desktop: "\e7af";
$icon--launch: "\e7b0";
$icon--new-tab: "\e7b1";
$icon--window: "\e7b2";
$icon--tv: "\e7b5";
$icon--radio: "\e7b6";
$icon--remote-control: "\e7b7";
$icon--power-switch: "\e7b8";
$icon--power: "\e7b9";
$icon--power-crossed: "\e7ba";
$icon--flash-auto: "\e7bb";
$icon--lamp: "\e7bc";
$icon--battery-power: "\e7c1";
$icon--battery-empty: "\e7c2";
$icon--battery-alert: "\e7c3";
$icon--battery-error: "\e7c4";
$icon--battery-low1: "\e7c5";
$icon--battery-low2: "\e7c6";
$icon--battery-low3: "\e7c7";
$icon--battery-mid1: "\e7c8";
$icon--battery-mid2: "\e7c9";
$icon--battery-mid3: "\e7ca";
$icon--battery-full: "\e7cb";
$icon--battery-charging: "\e7cc";
$icon--battery-charging2: "\e7cd";
$icon--battery-charging3: "\e7ce";
$icon--battery-charging4: "\e7cf";
$icon--battery-charging5: "\e7d0";
$icon--battery-charging6: "\e7d1";
$icon--battery-charging7: "\e7d2";
$icon--bubble: "\e7d6";
$icon--bubbles: "\e7d7";
$icon--bubble-dots: "\e7d8";
$icon--bubble-alert: "\e7d9";
$icon--bubble-question: "\e7da";
$icon--bubble-text: "\e7db";
$icon--phone-bubble: "\e7e4";
$icon--quote-open: "\e7e5";
$icon--quote-close: "\e7e6";
$icon--heart-pulse: "\e7e8";
$icon--pulse: "\e7e9";
$icon--first-aid: "\e7ec";
$icon--lifebuoy: "\e7ed";
$icon--thermometer: "\e7f0";
$icon--microscope: "\e7f1";
$icon--skull: "\e7f4";
$icon--construction-cone: "\e7f7";
$icon--pie-chart: "\e7f8";
$icon--pie-chart2: "\e7f9";
$icon--graph: "\e7fa";
$icon--chart-growth: "\e7fb";
$icon--chart-bars: "\e7fc";
$icon--chart-settings: "\e7fd";
$icon--rank: "\e801";
$icon--rank2: "\e802";
$icon--rank3: "\e803";
$icon--lotus: "\e805";
$icon--teacup: "\e80b";
$icon--platter: "\e818";
$icon--coffee-cup: "\e828";
$icon--apple: "\e82c";
$icon--balance: "\e839";
$icon--briefcase: "\e83a";
$icon--glasses2: "\e878";
$icon--accessibility: "\e879";
$icon--wheelchair: "\e87a";
$icon--wall2: "\e87d";
$icon--icons: "\e87e";
$icon--resize-handle: "\e87f";
$icon--icons2: "\e880";
$icon--select: "\e881";
$icon--select2: "\e882";
$icon--site-map: "\e883";
$icon--earth: "\e884";
$icon--earth-lock: "\e885";
$icon--network: "\e886";
$icon--network-lock: "\e887";
$icon--planet: "\e888";
$icon--mustache2: "\e8a7";
$icon--mustache-glasses: "\e8a8";
$icon--pipe: "\e8a9";
$icon--alarm: "\e8aa";
$icon--alarm-add: "\e8ab";
$icon--alarm-snooze: "\e8ac";
$icon--alarm-ringing: "\e8ad";
$icon--bullhorn: "\e8ae";
$icon--hearing: "\e8af";
$icon--volume-high: "\e8b0";
$icon--volume-medium: "\e8b1";
$icon--volume-low: "\e8b2";
$icon--volume: "\e8b3";
$icon--mute: "\e8b4";
$icon--lan: "\e8b5";
$icon--lan2: "\e8b6";
$icon--wifi: "\e8b7";
$icon--wifi-lock: "\e8b8";
$icon--wifi-blocked: "\e8b9";
$icon--wifi-mid: "\e8ba";
$icon--wifi-low: "\e8bb";
$icon--wifi-low2: "\e8bc";
$icon--wifi-alert: "\e8bd";
$icon--wifi-alert-mid: "\e8be";
$icon--wifi-alert-low: "\e8bf";
$icon--wifi-alert-low2: "\e8c0";
$icon--stream: "\e8c1";
$icon--stream-check: "\e8c2";
$icon--stream-error: "\e8c3";
$icon--stream-alert: "\e8c4";
$icon--communication: "\e8c5";
$icon--communication-crossed: "\e8c6";
$icon--broadcast: "\e8c7";
$icon--antenna: "\e8c8";
$icon--mic: "\e8cb";
$icon--mic-mute: "\e8cc";
$icon--mic2: "\e8cd";
$icon--hourglass: "\e8cf";
$icon--loading: "\e8d0";
$icon--refresh: "\e8d3";
$icon--refresh2: "\e8d4";
$icon--undo: "\e8d5";
$icon--redo: "\e8d6";
$icon--jump2: "\e8d7";
$icon--undo2: "\e8d8";
$icon--redo2: "\e8d9";
$icon--sync: "\e8da";
$icon--repeat-one2: "\e8db";
$icon--sync-crossed: "\e8dc";
$icon--sync2: "\e8dd";
$icon--repeat-one3: "\e8de";
$icon--sync-crossed2: "\e8df";
$icon--return: "\e8e0";
$icon--return2: "\e8e1";
$icon--refund: "\e8e2";
$icon--history: "\e8e3";
$icon--history2: "\e8e4";
$icon--self-timer: "\e8e5";
$icon--clock: "\e8e6";
$icon--clock2: "\e8e7";
$icon--clock3: "\e8e8";
$icon--watch: "\e8e9";
$icon--alarm2: "\e8ea";
$icon--alarm-add2: "\e8eb";
$icon--alarm-remove: "\e8ec";
$icon--alarm-check: "\e8ed";
$icon--alarm-error: "\e8ee";
$icon--timer: "\e8ef";
$icon--timer-crossed: "\e8f0";
$icon--timer2: "\e8f1";
$icon--timer-crossed2: "\e8f2";
$icon--download: "\e8f3";
$icon--upload: "\e8f4";
$icon--download2: "\e8f5";
$icon--upload2: "\e8f6";
$icon--enter-up: "\e8f7";
$icon--enter-down: "\e8f8";
$icon--enter-left: "\e8f9";
$icon--enter-right: "\e8fa";
$icon--exit-up: "\e8fb";
$icon--exit-down: "\e8fc";
$icon--exit-left: "\e8fd";
$icon--exit-right: "\e8fe";
$icon--enter-up2: "\e8ff";
$icon--enter-down2: "\e900";
$icon--enter-vertical: "\e901";
$icon--enter-left2: "\e902";
$icon--enter-right2: "\e903";
$icon--enter-horizontal: "\e904";
$icon--exit-up2: "\e905";
$icon--exit-down2: "\e906";
$icon--exit-left2: "\e907";
$icon--exit-right2: "\e908";
$icon--cli: "\e909";
$icon--bug: "\e90a";
$icon--code: "\e90b";
$icon--link: "\e915";
$icon--unlink: "\e916";
$icon--link2: "\e917";
$icon--unlink2: "\e918";
$icon--thumbs-up: "\e919";
$icon--thumbs-down: "\e91a";
$icon--thumbs-up2: "\e91b";
$icon--thumbs-down2: "\e91c";
$icon--share: "\e91f";
$icon--share2: "\e920";
$icon--magnifier: "\e922";
$icon--file-search: "\e923";
$icon--find-replace: "\e924";
$icon--zoom-in: "\e925";
$icon--zoom-out: "\e926";
$icon--loupe: "\e927";
$icon--loupe-zoom-in: "\e928";
$icon--loupe-zoom-out: "\e929";
$icon--cross: "\e92a";
$icon--menu: "\e92b";
$icon--list: "\e92c";
$icon--list2: "\e92d";
$icon--list3: "\e92e";
$icon--menu2: "\e92f";
$icon--list4: "\e930";
$icon--menu3: "\e931";
$icon--exclamation: "\e932";
$icon--question: "\e933";
$icon--check: "\e934";
$icon--cross2: "\e935";
$icon--plus: "\e936";
$icon--minus: "\e937";
$icon--percent: "\e938";
$icon--chevron-up: "\e939";
$icon--chevron-down: "\e93a";
$icon--chevron-left: "\e93b";
$icon--chevron-right: "\e93c";
$icon--chevrons-expand-vertical: "\e93d";
$icon--chevrons-expand-horizontal: "\e93e";
$icon--chevrons-contract-vertical: "\e93f";
$icon--chevrons-contract-horizontal: "\e940";
$icon--arrow-up: "\e941";
$icon--arrow-down: "\e942";
$icon--arrow-left: "\e943";
$icon--arrow-right: "\e944";
$icon--arrow-up-right: "\e945";
$icon--arrows-merge: "\e946";
$icon--arrows-split: "\e947";
$icon--arrow-divert: "\e948";
$icon--arrow-return: "\e949";
$icon--expand: "\e94a";
$icon--contract: "\e94b";
$icon--expand2: "\e94c";
$icon--contract2: "\e94d";
$icon--move: "\e94e";
$icon--tab: "\e94f";
$icon--arrow-wave: "\e950";
$icon--expand3: "\e951";
$icon--expand4: "\e952";
$icon--contract3: "\e953";
$icon--notification: "\e954";
$icon--warning: "\e955";
$icon--notification-circle: "\e956";
$icon--question-circle: "\e957";
$icon--menu-circle: "\e958";
$icon--checkmark-circle: "\e959";
$icon--cross-circle: "\e95a";
$icon--plus-circle: "\e95b";
$icon--circle-minus: "\e95c";
$icon--percent-circle: "\e95d";
$icon--arrow-up-circle: "\e95e";
$icon--arrow-down-circle: "\e95f";
$icon--arrow-left-circle: "\e960";
$icon--arrow-right-circle: "\e961";
$icon--chevron-up-circle: "\e962";
$icon--chevron-down-circle: "\e963";
$icon--chevron-left-circle: "\e964";
$icon--chevron-right-circle: "\e965";
$icon--backward-circle: "\e966";
$icon--first-circle: "\e967";
$icon--previous-circle: "\e968";
$icon--stop-circle: "\e969";
$icon--play-circle: "\e96a";
$icon--pause-circle: "\e96b";
$icon--next-circle: "\e96c";
$icon--last-circle: "\e96d";
$icon--forward-circle: "\e96e";
$icon--eject-circle: "\e96f";
$icon--crop: "\e970";
$icon--frame-expand: "\e971";
$icon--frame-contract: "\e972";
$icon--focus: "\e973";
$icon--transform: "\e974";
$icon--grid: "\e975";
$icon--grid2: "\e880";
$icon--grid3: "\e975";
$icon--grid-crossed: "\e976";
$icon--layers: "\e977";
$icon--layers-crossed: "\e978";
$icon--toggle: "\e979";
$icon--funnel: "\e97c";
$icon--flip-horizontal: "\e97d";
$icon--flip-vertical: "\e97e";
$icon--square: "\e98d";
$icon--plus-square: "\e98e";
$icon--minus-square: "\e98f";
$icon--percent-square: "\e990";
$icon--arrow-up-square: "\e991";
$icon--arrow-down-square: "\e992";
$icon--arrow-left-square: "\e993";
$icon--arrow-right-square: "\e994";
$icon--chevron-up-square: "\e995";
$icon--chevron-down-square: "\e996";
$icon--chevron-left-square: "\e997";
$icon--chevron-right-square: "\e998";
$icon--check-square: "\e999";
$icon--cross-square: "\e99a";
$icon--menu-square: "\e99b";
$icon--prohibited: "\e99c";
$icon--circle: "\e99d";
$icon--radio-button: "\e99e";
$icon--strikethrough: "\e9a6";
$icon--text-align-justify: "\e9ab";
$icon--line-spacing: "\e9ac";
$icon--sort-alpha-asc: "\e9b5";
$icon--sort-alpha-desc: "\e9b6";
$icon--sort-numeric-asc: "\e9b7";
$icon--sort-numeric-desc: "\e9b8";
$icon--sort-time-asc: "\e9bb";
$icon--sort-time-desc: "\e9bc";
$icon--sigma: "\e9bd";
$icon--pencil-line: "\e9be";
$icon--border-all: "\e9df";
$icon--border-outer: "\e9e0";
$icon--border-inner: "\e9e1";
$icon--ellipsis: "\e9e9";