.card {
  &__object {
    @extend %card-object !optional;

    &.card--no-media {
      @extend %card-object-no-media !optional;
    }

    &.card--has-url.card--no-media:hover {
      @extend %card-object-hover !optional;
    }
  }

  &__title {
    @extend %card-title !optional;

    [data-dynamic-font-size="true"][style] & {
      // Requires JS to apply inline variable equal to object width
      // Minimum size plus percentage of container width
      font-size: calc(1rem + (0.065 * var(--dynamic-font-size)));
    }

    .card--no-media & {
      @extend %card-title-no-media !optional;
    }
  }

  &__media {
    @extend %card-media !optional;

    [data-dynamic-font-size="true"][style] & {
      // Reset font-size on media
      font-size: 1rem;
    }

    a {
      &:hover {
        @extend %card-media-hover !optional;
      }
    }

    .card--no-media & {
      a {
        // No image, so make height equal to width
        display: block;
        padding-bottom: 100%;
      }
    }
  }

  &__metadata {
    @extend %card-metadata !optional;
    @extend %card-metadata-overflow !optional;

    &.metadata {
      font-family: inherit;
    }

    &__summary {
      @extend %card-metadata-summary !optional;
    }

    &__authors {
      font-style: italic;
    }

    &__source {
      text-transform: uppercase;
    }

    a {
      color: inherit;
    }
  }
}
