/**
 * Usage definition
 * --------------------------------------------------
 * <div class="content-layout content-layout--grid content-layout--grid--has-aside">
 * 	<div class="content-layout__aside">
 * 		Additional classes:
 * 			content-layout__aside--primary
 * 				- Required if including in markup
 * 				- Default placement on left with gutter on right
 * 			content-layout__aside--wide-gutter
 * 				- Changes gutter to one column width
 * 	</div>
 * 	<div class="content-layout__main"></div>
 * 	<div class="content-layout__aside">
 * 		Additional classes:
 * 			content-layout__aside--secondary
 * 				- Required if including in markup
 * 				- Default placement on right with gutter on left
 * 			content-layout__aside--wide-gutter
 * 				- Changes gutter to one column width
 * 	</div>
 * --------------------------------------------------
 */
$layout: content-layout;

.#{$layout} {
  // default
  // @extend %content-layout-flex !optional;

  &--flex {
    // Flexbox support
    // Assumes a maximum of 3 objects: aside primary, aside secondary, main
    // Best for use cases where not all objects may exist as elements
    // will automatically flex to fit available space and for column width options
    @extend %content-layout-flex !optional;

    .#{$layout}__aside {
      @extend %content-layout-flex-aside !optional;

      &--primary {
        @extend %content-layout-flex-aside-primary !optional;

        @include breakpoint($bp-tablet-landscape) {
          &.#{$layout}__aside--wide-gutter {
            margin-right: calc(#{$gutter-column} + #{$gutter-double});
          }
        }
      }

      &--secondary {
        @extend %content-layout-flex-aside-secondary !optional;

        @include breakpoint($bp-tablet-landscape) {
          &.#{$layout}__aside--wide-gutter {
            margin-left: calc(#{$gutter-column} + #{$gutter-double});
          }
        }
      }

      &--wide {
        @include breakpoint($bp-tablet-landscape) {
          flex: 0 0 auto;
          width: calc(#{percentage(3/12)} + #{$gutter-double});
        }
      }

      &--wide-gutter {
        @include breakpoint($bp-tablet-landscape) {
          width: calc(#{percentage(2/12)} + #{$gutter-double});
        }
      }
    }

    .#{$layout}__main {
      @extend %content-layout-flex-main !optional;
    }
  }

  &--grid {
    // CSS Grid support
    // Grids assumes 4 or more object: aside primary, aside secondary, main, main extended (repeatable)
    // where main extended is a full width grid container
    // Best for arranging content elements where layouts are more complex
    // Column layouts are fixed
    @extend %content-layout-grid !optional;

    .#{$layout}__aside {
      &--primary {
        @extend %content-layout-grid-aside-primary !optional;
      }
      &--primary-wide {
        @include breakpoint($bp-desktop) {
          grid-column-end: span 3;

          + .content-layout__main {
            grid-column-start: 5;
          }
        }
      }
      &--secondary {
        @extend %content-layout-grid-aside-secondary !optional;
      }
    }

    .#{$layout}__main {
      @extend %content-layout-grid-main !optional;

      &--extended {
        @extend %content-layout-grid-main-extended !optional;

        > * {
          @extend %content-layout-grid-main-extended-item !optional;
        }

        &--item {
          &-wide {
            @extend %content-layout-grid-main-extended-item-wide !optional;
          }

          &-edge {
            @extend %content-layout-grid-main-extended-item-edge !optional;
          }
        }
      }
    }

    &--has-aside {
      .#{$layout}__main {
        @extend %content-layout-grid-main-has-aside !optional;
      }
    }

    &--has-navigation {
      .#{$layout}__main {
        @extend %content-layout-grid-main-has-navigation !optional;
      }

      &.#{$layout}--grid--has-aside {
        .#{$layout}__main {
          @extend %content-layout-grid-main-has-nav-aside !optional;
        }
      }
    }
  }
  // adjustments for both layout types
  &__main--extended {
    > * {
      // left & right margins in %extendables
      margin-top: 2rem;
      margin-bottom: 2rem;

      @include breakpoint($bp-tablet) {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      &:first-child {
        margin-top: 0;
      }
    }
  }
}
