.content-group {
  display: flex;
  flex-wrap: wrap;
  @include semantic-list;
  align-items: stretch;
  margin: 0 ($gutter-negate);

  // .content-group__item
  > * {
    flex: 1 0 auto;
    width: 100%;
    padding-bottom: $gutter;

    &[class*="full"] {
      width: 100% !important;
    }
  }

  // .content-group--wide-gutters
  &--wide-gutters {
    .content-group__item {
      padding-bottom: $gutter-column;
    }
  }

  // .content-group--grid-6up
  &--grid-2up,
  // .content-group--grid-3up
  &--grid-3up,
  // .content-group--grid-4up
  &--grid-4up,
  // .content-group--grid-2up
  &--grid-6up {
    @include breakpoint($bp-tablet) {
      &.content-group--wide-gutters {
        > * {
          padding-right: calc(#{$gutter-column} + #{$gutter});
        }
      }
    }

    > * {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }

  // .content-group--grid-2up
  &--grid-2up {
    @include breakpoint($bp-tablet) {
      > * {
        width: 50%;
      }
    }
  }

  // .content-group--grid-3up
  &--grid-3up {
    @include breakpoint($bp-tablet) {
      > * {
        width: 33%;
      }
    }
  }

  // .content-group--grid-4up
  &--grid-4up {
    @include breakpoint($bp-tablet) {
      > * {
        width: 50%;
      }
    }
    @include breakpoint($bp-desktop) {
      > * {
        width: 25%;
      }
    }
  }

  // .content-group.content-group--grid-6up
  &--grid-6up {
    > * {
      width: 50%;
      @include breakpoint($bp-tablet) {
        width: 33%;
      }
      @include breakpoint($bp-desktop) {
        width: percentage(2/12);
      }
    }
  }
  // width variants
  &--grid {
    &-75-25 {
      @include breakpoint($bp-tablet) {
        > *:nth-child(odd) {
          width: percentage(8/12);
          margin-right: percentage(1/12);
        }

        > *:nth-child(even) {
          width: percentage(3/12);
        }
      }
    }

    &-25-75 {
      @include breakpoint($bp-tablet) {
        > *:nth-child(even) {
          width: percentage(8/12);
          margin-right: percentage(1/12);
        }

        > *:nth-child(odd) {
          width: percentage(3/12);
        }
      }
    }
  }
  &--static {
    > * {
      flex-grow: 0;
    }
  }
}
