.filter-list {
	font-size  : $font-size-deci;
	font-family: $font-secondary;

	&__title {
		@include icon(funnel);

		font-weight: $font-weight-bold;
		color      : $color-blue-dark;

		&::before {
			color    : $color-blue;
			font-size: $font-size-delta;
			margin   : 0;
		}
	}

	&__group {
		margin-bottom: 1em;

		&--opened {
			.filter-list__item--child {
				padding   : 0.5em 0 0;
				max-height: rem(100);
				opacity   : 1;
			}

			.filter-list__toggle-icon {
				transform: rotate(180deg) translatey(6px);
			}
		}
	}

	&__item {
		position     : relative;
		padding-right: 1.5em;

		input:checked + label {
			font-weight: $font-weight-bold;
		}

		label {
			@include link-style(default, default, false);
		}

		&--child {
			margin-left: $gutter-double;
			transition : all 0.2s ease-in 0.2s;
			max-height : 0;
			overflow   : hidden;
			opacity    : 0;
		}
	}

	&__toggle-icon {
		@extend %button--reverse !optional;
		@extend %button--no-padding !optional;

		@extend %icon-chevron-down;

		transform : rotate(0deg) translatey(0);
		transition: transform 0.2s ease-in 0.2s;
		color     : $color-gray;
		cursor    : pointer;
		position  : absolute;
		right     : 0;
		top       : 0;

		&:hover {
			color: $color-gray;
		}

		&::before {
			margin: 0;
		}
	}
}
