.metadata {
  @include font-smoothing;

  font-family: $font-secondary;
  font-size: $font-size-deci;

  &__item {
    margin-bottom: $gutter-double * 2;
  }

  &__label,
  &__title {
    font-weight: $font-weight-bold;
    margin-bottom: 0.25em;
  }

  &__author {
    font-style: italic;
    color: $color-gray;
  }

  &__source {
    text-transform: uppercase;
    white-space: normal;

    &::after {
      display: inline-block;
      height: 1rem;
      margin-left: 1rem;
      width: 1rem;
      vertical-align: text-bottom;
    }

    &--insights_article::after {
      content: url("/sites/all/themes/common_assets/img/YaleInsights_favicon.svg");
    }

    &--gnp_news::after,
    &--perspectives_article::after {
      content: url("/sites/all/themes/common_assets/img/gnam-perspectives-init.svg");
      width: 1.5rem;
    }
  }

  &--tight {
    .metadata__item {
      margin-bottom: $gutter-double;
    }
  }

  &--flat {
    font-size: $font-size-centi;

    .metadata__label {
      display: none;
    }

    .metadata__item {
      display: inline-block;
      margin-right: $gutter;
    }

    .metadata__item,
    .metadata__label {
      margin-bottom: 0;
    }

    .metadata__value {
      display: inline-block;
    }
  }

  &--submitted {
    @include font-smoothing(unset);
    font-family: $font-primary;
    font-size: $font-size-centi;

    a {
      @include link-style($color-gray);
    }

    .metadata__timestamp {
      font-size: $font-size-centi;
    }
  }
}
