.node-teaser {
	font-family  : $font-secondary;
	margin-bottom: 3rem;

	header {
		> *:first-child {
			margin-top: 0;
		}
	}

	&__author {
		font-size   : $font-size-centi;
		margin-right: $gutter;
		padding     : 0.5em $gutter 0.5em 0;
		border-right: 1px solid $color-border;

		a {
			@include link-style($color-black, $color-gray);
			@include link-style(inherent, inherent, false, 'block');

			text-transform: uppercase;
			font-weight   : $font-weight-bold;
		}
	}

	&__main {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;

		margin-top: 1em;

		@include breakpoint($bp-tablet) {
			flex-wrap: nowrap;
		}
	}

	&__image {
		@include breakpoint($bp-tablet) {
			flex        : 0 0 auto;
			width       : calc(#{percentage(2/12)} + #{$gutter-double});
			margin-right: $gutter-double;
		}

		@include breakpoint($bp-desktop) {
			width: calc(#{percentage(1.5/7)} + #{$gutter-double});
		}

		&--right {
			order       : 2;
			margin-left : $gutter-double;
			margin-right: 0;
		}

    .yale-layout & {
      @include breakpoint($bp-tablet) {
        width: 100%;
      }
    }
	}

	&__body {
		flex       : 1 1 auto;
		font-family: $font-primary;
		font-size  : $font-size-epsilon;
		line-height: $line-height-loose;

		p {
			margin: 0 0 0.5rem;
		}
	}

	&__continue {
		@extend %hover-icon !optional;
		@extend %icon--link-out--right !optional;
		display    : block;
		font-family: $font-primary;
		font-size  : $font-size-epsilon;
		font-style : italic;
		margin     : 0.5rem 0;
	}

	&__metadata {
		@extend %delineator;

		color: $color-gray-light;

		a {
			@include link-style($color-gray);
			font-weight: $font-weight-bold;
		}
	}

	&__mini-date {
		align-items    : center;
		border         : $color-blue-light 1px solid;
		color          : $color-gray;
		display        : flex;
		flex-direction : column;
		font-family    : $font-primary;
		height         : rem(50);
		justify-content: center;
		margin         : 0 rem($gutter) 0 0;
		min-width      : rem(50);
		position       : absolute;
		text-align     : center;
		@include breakpoint($bp-tablet-below) {
			right: 0;

			~ header {
				margin-right: rem(70);
			}
		}
		@include breakpoint($bp-tablet) {
			position: absolute;

			~ * {
				margin-left: rem(70);
			}
		}

		&--month {
			font-size     : $font-size-nano;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
		}

		&--day {
			color    : lighten($color-black, 10%);
			font-size: $font-size-gamma;
			margin   : -0.375em 0 0;
		}
	}

	&--minimal {
		margin-bottom: 1rem;

		.node-teaser__title {
			font-size: $font-size-epsilon;
		}
	}
}
