/**
 * Styles for solang2 components
 */

.slng-async-ac,
.slng-async-select,
.slng-custom-check,
.slng-multi-select {
  &__option-count {
    display: none;

    &:after {
      content: "results";
    }
  }
}

.slng-option-map {
  ul {
    @extend %semantic-list;
  }

  &__option {
    button {
      font-family: $font-secondary;
      @extend button.semantic;

      //@extend %button--reverse;
      //@extend %button--no-padding;
      @include icon(cross-circle, linearicons, right);
      text-align : left;
    }
  }
}

.slng-async-ac,
.slng-async-select,
.slng-multi-select {

  @extend %form-input-wrapped;
  @include pie-clearfix;

  width         : 100%;
  padding       : 0;
  overflow      : hidden;
  vertical-align: top;

  label {
    padding: 6px 6px 0;
  }

  .k-widget {
    width: 100%;
    margin: 0 -3px;

    .k-input {
      padding-left: 8px;
      width       : 100%;
    }
  }

  &.ng-invalid {
    border-bottom-left-radius : 0;
    border-bottom-right-radius: 0;
    border-color              : $color-yellow;
  }

}

.slng-async-ac {
}

// Dropdown style
.slng-async-select,
.slng-multi-select {
  .k-floatwrap {
    border: none;

    .k-reset {
      margin-left: 2px;

      .k-button {
        border : none;
        padding: 0;
        margin : 4px 0 0 6px;
        @include link-style;

        .k-select {
          margin-left: 0.5rem;

          .k-i-close {
            @include icon(cross-circle);
          }
        }

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}

.slng-multi-select {
  .k-floatwrap {

    @include icon(chevron-down, linearicon, right);

    &:after {
      position: absolute;
      width   : 1.5rem;
      height  : 1.5rem;
      right   : 0;
      top     : 0;
      cursor  : pointer;
    }
  }

  .k-clear-value {
    display: none !important;
  }
}

// Checkbox style
.slng-custom-check,
.slng-multi-facet {
  legend {
    @extend %text-style-zeta !optional;
    margin-bottom: 0.25em;
    padding      : 0;
  }

  &__option {
    &.disabled {
      opacity: 0.5;
    }

    &-count {
      display: none;
    }
  }
}

.slng-pager {
  font-family    : $font-primary;
  display        : flex;
  justify-content: center;

  @extend %semantic-list;

  li {
    margin : 0 0.5rem;
    padding: 0.5rem;
  }

  &-page {
    a {
      cursor: pointer;
    }

    &.active {
      a {
        color : $color-gray;
        cursor: default;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
