.tabbed-filters {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;

	flex: 0 1 auto;

	&__filter {
		padding-right: $gutter-double;
		margin-bottom: $gutter;
	}

	label {
		letter-spacing: normal;
		text-transform: none;
		cursor        : pointer;

		&::before {
			display: none !important; // disable custom checkbox
		}
	}

	input[type="checkbox"],
	input[type="radio"] {
		@extend %visually-hidden !optional;

		+ label {
			border-bottom: solid 3px transparent;
			color        : $color-blue;
			font-size    : $font-size-centi;
			font-weight  : bold;

			&:hover {
				text-decoration: underline;
			}
		}

		&:checked + label {
			border-bottom: solid 3px $color-yellow;
			color        : $color-black;

			&:hover {
				text-decoration: none;
			}
		}

		&:focus + label {
			outline: 1px dotted;
		}
	}
}
