.view-toggle {
	margin : 0 $gutter;
	text-align: right;
	position : relative;
	z-index : 101;
	width: 100%;
	float: right;

	ul li::before {
		display: none;
	}

	label,
	ul,
	li,
	.view-toggle__item {
		display: inline-block;
		margin: 0 0 0 $gutter / 2;
		width: auto;
		vertical-align: middle;
	}

	label {
		margin: 0 0 0 $gutter;
	}

	a,
	button {
		font-size: $font-size-delta;
	}

	button {
		@extend %button--reverse !optional;
		
		vertical-align: initial;
		padding: 0;

		&:hover {
			background: transparent;
			text-decoration: none;
		}
	}
	
	.view-toggle__item {
		&--active {
			a,
			button {
				color: $color-blue-dark;

				&:hover {
					color: $color-blue-dark;
				}
			}
		}
	}

	&--small {
		a,
		button {
			font-size: $font-size-deci;
		}
	}

	&__list {
		@extend %icon-list !optional;
	}

	&__grid {
		@include icon(border-outer);
	}

	&__calendar {
		@extend %icon-calendar-date !optional;
	}
}