@charset "UTF-8";

/*
* Symbolset
* www.symbolset.com
* Copyright © 2013 Oak Studios LLC
*
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-social-regular.css" rel="stylesheet" />
*/

@font-face {
	font-family: "SSSocialRegular";
	src: url("#{$yst-font-path}/ss-social-regular/ss-social-regular.eot");
		url("#{$yst-font-path}/ss-social-regular/ss-social-regular.woff") format("woff"), 
		url("#{$yst-font-path}/ss-social-regular/ss-social-regular.ttf") format("truetype"), 
		url("#{$yst-font-path}/ss-social-regular/ss-social-regular.svg#SSSocialRegular") format("svg");
	font-weight: normal;
	font-style: normal;
};

/* This triggers a redraw in IE to Fix IE8"s :before content rendering. */
html:hover [class^="ss-"]{-ms-zoom: 1;}

//.ss-icon, 
.ss-icon.ss-social-regular,
//[class^="ss-"]:before, 
//[class*=" ss-"]:before,
[class^="ss-"].ss-social-regular:before, 
[class*=" ss-"].ss-social-regular:before,
//[class^="ss-"].right:after, 
//[class*=" ss-"].right:after,
[class^="ss-"].ss-social-regular.right:after, 
[class*=" ss-"].ss-social-regular.right:after,
.ss-icon.ss-social-circle,
//[class^="ss-"]:before, 
//[class*=" ss-"]:before,
[class^="ss-"].ss-social-circle:before, 
[class*=" ss-"].ss-social-circle:before,
//[class^="ss-"].right:after, 
//[class*=" ss-"].right:after,
[class^="ss-"].ss-social-circle.right:after, 
[class*=" ss-"].ss-social-circle.right:after {
  font-family: "SSSocialRegular";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

%ss-social-regular {
	&::before,
	&::after {
		font-family: "SSSocialRegular";
	}
}

//[class^="ss-"].right:before,
//[class*=" ss-"].right:before{display:none;content:"";}


.ss-facebook,
%ss-facebook{
	@extend %ss-social-regular;
	&:before,
	&.right::after{
		content:""}
}
.ss-twitter,
%ss-twitter{
	@extend %ss-social-regular;
	&:before,
	&.right::after{
		content:""}
}
.ss-linkedin,
%ss-linkedin {
	@extend %ss-social-regular;
	&:before,
	&.right::after{
		content:""}
}
.ss-googleplus,
%ss-googleplus {
	@extend %ss-social-regular;
	&:before,
	&.right::after{
		content:""}
}
//.ss-appdotnet:before,.ss-appdotnet.right:after{content:""}
//.ss-zerply:before,.ss-zerply.right:after{content:""}
//.ss-reddit:before,.ss-reddit.right:after{content:""}
//.ss-steam:before,.ss-steam.right:after{content:""}
.ss-tumblr,
%ss-tumblr {
	@extend %ss-social-regular;
	&:before,
	&.right::after{
	content:""}
}
//.ss-wordpress:before,.ss-wordpress.right:after{content:""}
//.ss-blogger:before,.ss-blogger.right:after{content:""}
//.ss-posterous:before,.ss-posterous.right:after{content:""}
//.ss-quora:before,.ss-quora.right:after{content:""}
.ss-youtube,
%ss-youtube {
	@extend %ss-social-regular;
	&:before,
	&.right::after{
		content:""}
}
//.ss-vimeo:before,.ss-vimeo.right:after{content:""}
//.ss-vine:before,.ss-vine.right:after{content:""}
//.ss-letterboxd:before,.ss-letterboxd.right:after{content:""}
//.ss-flickr:before,.ss-flickr.right:after{content:""}
.ss-instagram,
%ss-instagram {
	@extend %ss-social-regular;
	&:before,
	&.right::after{
	content:""}
}
//.ss-500px:before,.ss-500px.right:after{content:""}
//.ss-etsy:before,.ss-etsy.right:after{content:""}
.ss-pinterest,
%ss-pinterest {
	@extend %ss-social-regular;
	&:before,
	&.right::after{
		content:""}
}
//.ss-svpply:before,.ss-svpply.right:after{content:""}
//.ss-readmill:before,.ss-readmill.right:after{content:""}
//.ss-dropbox:before,.ss-dropbox.right:after{content:""}
//.ss-pinboard:before,.ss-pinboard.right:after{content:""}
//.ss-delicious:before,.ss-delicious.right:after{content:""}
//.ss-dribbble:before,.ss-dribbble.right:after{content:""}
//.ss-behance:before,.ss-behance.right:after{content:""}
//.ss-github:before,.ss-github.right:after{content:""}
//.ss-octocat:before,.ss-octocat.right:after{content:""}
//.ss-stackoverflow:before,.ss-stackoverflow.right:after{content:""}
//.ss-paypal:before,.ss-paypal.right:after{content:""}
//.ss-kickstarter:before,.ss-kickstarter.right:after{content:""}
//.ss-foursquare:before,.ss-foursquare.right:after{content:""}
//.ss-yelp:before,.ss-yelp.right:after{content:""}
//.ss-skype:before,.ss-skype.right:after{content:""}
//.ss-rdio:before,.ss-rdio.right:after{content:""}
//.ss-spotify:before,.ss-spotify.right:after{content:""}
//.ss-lastfm:before,.ss-lastfm.right:after{content:""}
//.ss-soundcloud:before,.ss-soundcloud.right:after{content:""}
//.ss-link:before,.ss-link.right:after{content:"🔗"}
//.ss-phone:before,.ss-phone.right:after{content:"📞"}
//.ss-mail:before,.ss-mail.right:after{content:"✉"}
//.ss-like:before,.ss-like.right:after{content:"👍"}
//.ss-rss:before,.ss-rss.right:after{content:""}
//.ss-share:before,.ss-share.right:after{content:""}
//.ss-apple:before,.ss-apple.right:after{content:""}
//.ss-microsoft:before,.ss-microsoft.right:after{content:""}
//.ss-windows:before,.ss-windows.right:after{content:""}
//.ss-android:before,.ss-android.right:after{content:""}
//.ss-blackberry:before,.ss-blackberry.right:after{content:""}


/* Legacy */
//.ss-fivehundredpx:before,.ss-fivehundredpx.right:after{content:""}
