.ajax-progress {
	float: none;
	display: block;
	left: 50%;
	margin: rem(-64) 0 0 rem(-64);
	position: fixed;
	top: 50%;
	z-index: 1000;

	.throbber {
		background: transparent url("#{$yst-image-path}/spinning-loader.svg") no-repeat;
		background-size: rem(128);
		float: none;
		height: rem(128);
		width: rem(128);
		display: inline-block;
	}
}

.ajax-progress-throbber {
	background: none !important;
}