button {
	@include button-style;

	&.light {
		@include button-style($color-blue-light, $color-blue-dark, false, $color-blue-pale, $color-blue-dark);
	}

	&.white {
		@include button-style($color-white, $color-blue, false, $color-blue-pale, $color-blue-dark);
	}

	&.gray {
		@include button-style($color-gray, $color-white);
	}

	&.reverse {
		@include button-style(transparent, $color-blue, false, transparent, $color-blue-dark, true);
	}

	&.large {
		font-size: $font-size-delta;
	}

	&.thin {
		padding: 0.5em 1em;
	}

	&.no-padding {
		padding: 0;
	}

	&.semantic {
		@include semantic-button($color-blue,transparent, $color-blue-dark,transparent, $color-black);

		&:focus {
			outline: rem(1) dotted;
		}
	}

	&.outline {
		@include button-style($color-blue, $color-blue, true);
	}

	&.action,
	&.button-action {
		@include button-style($background-color: $color-accent, $hover-background-color: darken($color-accent, 15%));
	}
}
