$form-scheme: old !default;

fieldset {
  border : none;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;

  &::-webkit-search-decoration {
    display: none;
  }
}

input[type="checkbox"],
input[type="file"],
input[type="radio"] {
  &:active,
  &:focus {
    box-shadow: none;
  }
}

//////////////////////////////////////////////////
// BUTTONS
//////////////////////////////////////////////////

input[type="button"],
input[type="reset"],
input[type="submit"] {
  @extend %button !optional;
}

//////////////////////////////////////////////////
// CHECKBOXES / RADIO
//////////////////////////////////////////////////
input[type="checkbox"]:not(.ignore-input-check) {
  @extend %form-input-check !optional;
}

input[type="radio"]:not(.ignore-input-check) {
  @extend %form-input-check !optional;

  &:checked + label::before {}

  + label {
    &::before {
      height        : 1rem;
      line-height   : 0.75;
      width         : 1rem;
      text-align    : center;
      vertical-align: baseline;
      border-radius : 1rem;
    }
  }
}

//////////////////////////////////////////////////
// TEXT INPUTS / SELECT MENUS
//////////////////////////////////////////////////

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  @extend %form-input !optional;
}

select {
  @extend %form-select !optional;
}

optgroup {
  color      : $color-black;
  font-style : normal;
  font-weight: normal;

  // Font family repeated, for Firefox.
  //font-family: Arial, "Liberation Sans", FreeSans, sans-serif;

  // Kill phantom spacing and dotted
  // border that appears in Firefox.
  &::-moz-focus-inner {
    border : 0;
    padding: 0;
  }
}
//////////////////////////////////////////////////
// MULTI-LINE TEXT INPUT / SELECT MENUS
//////////////////////////////////////////////////

select[multiple],
textarea {
  height: auto;
}

//////////////////////////////////////////////////
// DISABLED
//////////////////////////////////////////////////

input[disabled],
select[disabled],
select[disabled] optgroup,
select[disabled] option,
textarea[disabled] {
  @extend %disabled-state !optional;
}
