h1 {
	@extend %text-style-alpha;

	margin: 0.75em 0 0.25em;
}

h2 {
	@extend %text-style-beta;

	margin: 0.75em 0 0.25em;

	&[class*=sub-title] {
		color        : shade($color-gray-light, 11%);
		font-size    : $font-size-beta;
		font-size    : scale-font($font-size-beta, 1);
		margin-bottom: 1.5em;
	}
}

h3 {
	@extend %text-style-gamma;

	margin: 1.25em 0 0.5em;
}

h4 {
	@extend %text-style-delta;

	margin: 1.5em 0 0.25em;
}

h5 {
	@extend %text-style-epsilon;

	margin: 1.25em 0 0.25em;
}

h6 {
	@extend %text-style-zeta;

	margin: 1.5em 0 0.5rem;
}

// Removes the top margin for anything following a headline
h2,
h3,
h4,
h5,
h6 {
	& + * {
		margin-top: 0;
	}
}
