img {
	max-width: 100%;
	height: auto;
	
	&[src*="blank.gif"] {
		height: 1px !important;
		width: 1px !important;
	}

	&[style="float: left;"],
	&[style="float:left"] {
		@extend %image-align-left !optional;
	}
	
	&[style="float: right;"],
	&[style="float:right"] {
		@extend %image-align-right !optional;
	}

	&.align-left {
		@extend %image-align-left !optional;
	}
	
	&.align-right {
		@extend %image-align-right !optional;
	}
	
	&.align-center {
		@extend %image-align-center !optional;
	}
}