a {
	@include link-style;

	// offset named anchors
	&[name]:not([href])::before {
		display    : block;
		content    : " ";
		padding-top: rem(60);
		margin-top : rem(-60);
		visibility : hidden;
	}

	&.external,
	&[href*="som.yale.edu"][target="_blank"],
	[target="_blank"],
	&[href^="http"]:not([href*="som.yale.edu"]):not([href*="maps.google.com"]):not([href*="twitter.com"]):not([href*="instagram.com"]):not([href*="facebook.com"]):not([href*="youtube.com"]):not([data-widget="image"]):not(.no-icon) {
		@extend %icon-link-out--right !optional;

		&::after {
			font-size: $font-size-milli;
		}
	}

	&[href^="mailto:"]:not(.no-icon) {
		@extend %icon-envelope--right !optional;
	}

	&[href*="twitter.com/"]:not(.no-icon) {
		@include icon(twitter, social, right);
	}

	&.black {
		@include link-style($color-black, $color-gray);
	}

	&.dark {
		@include link-style($color-blue-dark, $color-blue);
	}

	&.light {
		@include link-style($color-blue-light, $color-blue-tint);
	}

	&.reverse {
		@include link-style($color-white, $color-blue-tint);
	}

	&.gray {
		@include link-style($color-gray);
	}

	&.accent {
		@include link-style($color-accent);
	}

	&.no-underline {
		@include link-style(default, default, false);
	}

	&.block {
		@include link-style(inherent, inherent, false, 'block');
	}

	&.no-block {
		@include link-style(default, default, true, 'unset');
	}

	&.secondary {
		@include link-style(default, default, true, inherent, $font-secondary);
	}

	/////////////////////////////////////////////////
	// LINKS AS BUTTONS
	/////////////////////////////////////////////////

	&.button,
	&.form-submit {
		@include button-style;

		&.light {
			@include button-style($color-blue-light, $color-blue-dark, false, $color-blue-pale, $color-blue-dark);
		}

		&.reverse {
			@include button-style(transparent, $color-blue, false, transparent, $color-blue-dark, true);
		}

		&.white {
			@include button-style($color-white, $color-blue, false, $color-blue-pale, $color-blue-dark);
		}

		&.outline {
			@include button-style($color-blue, $color-blue, true);
		}

		&.large {
			font-size: $font-size-delta;
		}

		&.thin {
			padding: 0.5em 1em;
		}

		&.no-padding {
			padding: 0;
		}

		&.disabled {
			@extend %disabled-state !optional;
		}

		&.action,
		&.button-action {
			@include button-style($background-color: $color-accent, $hover-background-color: darken($color-accent, 15%));
		}
	}

	/////////////////////////////////////////////////
	// LINKS WITH ICONS
	/////////////////////////////////////////////////

	&.pdf,
	&[href$='.pdf'] {
		@extend %icon-files--right !optional;
	}

	&.tags {
		@extend %icon-tags--right !optional;
	}

	&.link-out {
		@extend %icon-link-out--right !optional;
	}

	&.email {
		@extend %icon-envelope--right !optional;
	}

	&.email-left {
		@extend %icon-envelope !optional;
	}

	&.inbox {
		@extend %icon-inbox !optional;
	}

	&.hover-icon {
		@extend %hover-icon !optional;
	}

	/////////////////////////////////////////////////
	// LINKS WITH ARROWS
	/////////////////////////////////////////////////

	&.arrow-right {
		@extend %arrow !optional;
		@extend %arrow--right !optional;
	}

	&.arrow-left {
		@extend %arrow !optional;
		@extend %arrow--left !optional;
	}
}
