dl,
ol {
	counter-reset: li;
	font-size    : $font-size-delta;
	margin       : 1em 0;
	padding-left : 0;

	dt {
		font-style: italic;
	}

	> li,
	dd,
	dt {
		position   : relative;
		margin     : 0.5rem 0;
		list-style : none;
		line-height: $line-height-loose;
	}

	> li::before {
		color            : $color-gray;
		content          : counter(li);
		counter-increment: li;
		font-family      : $font-secondary;
		font-size        : $font-size-micro;
		font-weight      : $font-weight-bold;
		margin           : 0 0.5rem;
		position         : absolute;
		right            : 100%;
		text-align       : right;
		top              : 0.375rem;
	}
}

ul {
	&.bullet-list {
		@extend %bullet-list;
	}

	&.remove-bullet-list {
		@extend %remove-bullet-list;
	}

	&.column-list {
		@extend %column-list;
	}

	&.link-list {
		@extend %link-list;
	}

	&.secondary-link-list {
		@extend %secondary-link-list;
	}
}
