p {
	@extend %p !optional;

	&.small {
		@extend %p--small !optional;
	}

	&.medium {
		@extend %p--medium !optional;
	}

	&.footnote {
		@extend %p--footnote !optional;
	}

	&.spacer {
		@extend %paragraph-spacer !optional;
	}

	a:not([class*=button]) {
		@include link-style(inherent, inherent, false, 'block');
	}
}
