:root {
    // **************************************************
    // CONTENT SAFE AREA
  
    --content-safe-area-top: #{$spacing-md};
    --content-safe-area-right: #{$spacing-sm};
    --content-safe-area-bottom: #{$spacing-md};
    --content-safe-area-left: #{$spacing-sm};
    --content-max-width: #{$mq-1440};
  
    // **************************************************
    // GRIDS
  
    --grid-columns: 12;
    --grid-column-gap: #{$spacing-sm};
    --grid-row-gap: #{$spacing-sm};
  
    // **************************************************
    // LINKS
  
    --link-color: #{$color-blue};
    --link-decoration: none;
    --link-display: inline-block;
    --link-ff: inherit;
    --link-fs: inherit;
    --link-fw: inherit;
    --link-hover-color: #{$color-blue-dark};
    --link-hover-decoration: inherit;
    --link-line-height: inherit;
    --link-margin: 0;
    --link-padding: 0;
    --link-transition: color 0.2s ease-in;
  
    // **************************************************
    // BUTTONS
  
    --button-background-color: #{$color-blue};
    --button-border: none;
    --button-color: #{$color-white};
    --button-decoration: none;
    --button-display: inherit;
    --button-ff: #{$font-primary};
    --button-fs: #{$font-size-zeta};
    --button-fw: #{$font-weight-normal};
    --button-hover-background-color: #{$color-blue-dark};
    --button-hover-color: #{$color-white};
    --button-hover-decoration: inherit;
    --button-line-height: inherit;
    --button-margin: 0;
    --button-padding: 0.75em 1em;
    --button-transition: all 100ms ease-in-out;
  
    // **************************************************
    // FORMS
  
    --form-color: #{$color-black};
    --form-fs-minsize: #{rem(24)};
    --form-fs-midsize: 4vw;
    --form-fs-maxsize: #{rem(48)};
  
    // **************************************************
    // ICONS
  
    --icon-color: #{$color-black};
    --icon-hover-color: #{$color-black};
    --icon-transition: fill 100ms ease-in-out;
    --icon-width: #{rem(21)};
  
    // **************************************************
    // MEDIA QUERIES
  
    @media (min-width: $mq-1280) {
      --content-safe-area-right: #{$spacing-md};
      --content-safe-area-left: #{$spacing-md};
    }
  }
  