$social_icons: ('facebook', 'instagram', 'linkedin', 'snapchat', 'twitter', 'wechat', 'youtube');

@each $icon in $social_icons {
  .icon-#{$icon} {
    &::before {
      background-size: cover;
      background-image: url("#{$yst-image-path}/social-logos/#{$icon}.svg");
      content: '';
      display: inline-block;
      height: 1em;
      width: 1em;

      @supports (mask-size: cover) {
        mask-size: cover;
        background-color: currentColor;
        background-image: none;
        mask-image: url("#{$yst-image-path}/social-logos/#{$icon}.svg");
      }

    }

    &.right {
      &::before {
        background-image: none;
        display: none;
        mask-image: none;
      }

      &::after {
        background-size: cover;
        background-image: url("#{$yst-image-path}/social-logos/#{$icon}.svg");
        content: '';
        display: inline-block;
        height: 1em;
        width: 1em;

        @supports (mask-size: cover) {
          mask-size: cover;
          background-color: currentColor;
          background-image: none;
          mask-image: url("#{$yst-image-path}/social-logos/#{$icon}.svg");
        }

      }
    }
  }
}