/**
* Drupal system partials
*/

.element-hidden {
	display: none;
}

.element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	overflow: hidden;
	height: 1px;

	&.element-focusable:active,
	&.element-focusable:focus {
		position: static !important;
		clip: auto;
		overflow: visible;
		height: auto;
	}
}

// Animated throbber
html.js input.form-autocomplete {
	background-image: url("#{$yst-image-path}/spinning-loader.svg");
	background-position: 100% 2px; /* LTR */
	background-repeat: no-repeat;
}

html.js input.throbbing {
	background-position: 100% -18px; /* LTR */
}
