table {
	font-family: $font-secondary;
	table-layout: fixed;
	width: 100%;
	color: lighten($color-black, 25%);

	tbody th[scope="row"],
	thead th {
		color: lighten($color-black, 10%);
		font-size: $font-size-centi;
		font-weight: $font-weight-bold;
		line-height: $line-height-normal;
	}

	td,
	th {
		padding: 1em;
	}

	thead {
		@include font-smoothing;

		text-align: left;

		th {
			border-bottom: var(
				--table-header-border-bottom,
				#{rem(2)} #{$color-gray-light} solid
			);
			text-transform: uppercase;
		}
	}

	tbody {
		td,
		th {
			border-top: var(
				--table-cell-border-top,
				#{rem(1)} #{$color-border} solid
			);
		}

		tr {
			&.odd,
			&:nth-child(odd) {
				td {
					background: var(--table-cell-background-odd, #{$color-gray-tint});
				}
			}

			&:hover td {
				background: var(--table-cell-background-hover, #{$color-blue-tint});
				color: $color-black;
			}
		}

		th[scope="row"] {
			border-right: var(
				--table-header-border-right,
				#{rem(1)} #{$color-gray-light} dashed
			);
		}

		td {
			vertical-align: top;
			transition: all 0.2s ease-in;
			font-size: $font-size-deci;
			line-height: $line-height-tight;
		}
	}

	// .table--plain
	&.#{&}--plain {
		@extend %table-plain !optional;
	}
}
