.tooltip {
	position: relative;

	&::after,
	&::before {
		display: block;
		pointer-events: none;
		position: absolute;
		left: 0;
		text-align: left;
		top: 0;
		white-space: normal;
		z-index: 0;
		opacity: 0;
	}

	&::before {
		background: $color-white;
		content: attr(data-tooltip);
		color: $color-black;
		font-size: $font-size-milli;
		font-weight: $font-weight-normal;
		margin-top: -10px;
		padding: 0.5rem;
		line-height: 1.2;
		text-transform: none;
		max-width: 10rem;
		min-width: 5rem;
		@include material-shadow(3);
		@include transform(translateY(-100%));
	}

	&::after {
		border: transparent 5px solid;
		border-top-color: $color-white;
		content: "";
		height: 0;
		left: 1rem;
		width: 0;
		z-index: 1;
	}

	&::after,
	&::before {
		@extend %animation !optional;

		animation-delay: 0.5s;
		animation-duration: 0.2s;
	}

	&:hover {
		&::after,
		&::before {
			animation-name: animation-tooltip-fade-in-down;
		}
	}
}

@keyframes animation-tooltip-fade-out-up {
	0% {
		opacity: 1;
		margin-top: -10px;
	}

	100% {
		opacity: 0;
		margin-top: -30px;
	}
}

@keyframes animation-tooltip-fade-in-down {
	0% {
		opacity: 0;
		margin-top: -30px;
	}

	100% {
		opacity: 1;
		margin-top: -10px;
	}
}
