%disabled-state {
	box-shadow : none;
	user-select: none;
	background : $color-gray-tint;
	color      : $color-gray;
	cursor     : default;

	@include input-placeholder {
		color: transparent;
	}

	&:focus,
	&:hover {
		background: $color-gray-tint;
		color     : $color-black;
	}
}
