%form-input-check {
	@extend %visually-hidden !optional;

	&:checked + label {
		@extend %icon-check;

		&::before {
			background-color: $color-blue-dark !important;
			border-color    : $color-blue-dark !important;
			color           : $color-white;
			font-weight     : $font-weight-bold;
		}
	}

	&:focus {
		+ label {
			outline: rem(1) dotted;
			color  : $color-blue-dark;

			&::before {
				border-color: $color-blue-dark;
			}
		}
	}

	+ label {
		display: flex;
		align-items: flex-start;
		flex-wrap: nowrap;
		cursor        : pointer;
		font-size     : $font-size-zeta;
		font-weight   : normal;
		letter-spacing: 0;
		line-height   : $line-height-tight;
		margin        : 0.5rem 0 0;
		min-height    : calc(0.75rem + 2px);
		position      : relative;
		text-transform: none;
		transition    : all 0.2s ease-in;

		&::before {
			border      : em(1) solid $color-gray;
			color       : $color-blue-dark;
			content     : '';
			display     : block;
			font-size   : $font-size-deci !important;
			line-height : 0.5em !important;
			margin-right: 0.5em !important;
			min-width   : 0.75rem;
			height      : 0.75rem;
			text-indent : rem(3);
			transition  : box-shadow 0.2s ease-in;
			width       : 0.75rem;
		}

		&:hover {
			background     : inherit;
			color          : $color-blue;
			text-decoration: underline;

			&::before {
				border-color: $color-blue;
			}
		}
	}

	&.error + label {
		color: $color-error;

	}
}
