%form-input-default {
  font-family: $font-primary;
  font-size  : $font-size-delta;
  // Stop iOS from scaling on form element select
  @include breakpoint($bp-tablet-below) {
    font-size: $font-size-epsilon !important;
  }
}

%form-input {
  @if $form-scheme == new {
    background: transparent;
    border    : $color-border 1px solid;

    &:hover {
      border-color: $color-gray;
    }

    &:focus {
      border-left-color: $color-blue;
      border-left-width: 3px;
    }

    &[disabled] {
      background: $color-gray-tint;
    }

    &[disabled],
    &[read-only] {
      color: $color-gray;
    }

    &[aria-required],
    &[required] {
      // &::placeholder {
      //   color: $color-error;
      // }
    }

    &:invalid.dirty {
      border: $color-error 2px dashed !important;
    }

  } @else {
    border: 1px solid $color-gray-light;

    &:focus {
      border-color: $color-black;
    }
  }
  @extend %form-input-default !optional;
  border-radius: 3px;
  box-shadow   : none;
  height       : auto;
  margin       : 0;
  max-width    : 100%;
  padding      : 0.375em;
  transition   : border-color 0.2s ease-in, border-width 0.1s ease-in 0.2s, margin 0.1s ease-in 0.2s;

  &::placeholder {
    color: $color-gray-light;
  }

  &:focus {
    outline   : none;
    box-shadow: none;
  }

  &:-webkit-autofill {
    box-shadow: inset 0 0 0 9999px $color-white;
  }
}

%form-input-wrapped {
  @extend %form-input !optional;
  display: inline-block;
  margin : 0 1rem 1rem 0;

  &:focus-within:not(.disabled) {
    border-left-color: $color-blue;
    border-left-width: 3px;
    margin-left      : -2px;
    @include material-shadow(2);
  }

  &.disabled {
    background    : $color-gray-tint;
    pointer-events: none;
  }

  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea {
    border : 0;
    margin : 0;
    padding: 0;
    width  : 100%;

    &:invalid {
      border-width : 0 0 1px !important;
      border-radius: 0;
    }
  }
}
