%form-select-default {
	margin: 0;
	position: relative;
	width: 100%;
	z-index: 1;
}

%form-select {
	@extend %form-select-default !optional;
	@if $form-scheme == new {
		@extend %form-input-default !optional;
		border: $color-border 1px solid;

		&:hover {
			border-color: $color-gray;
		}

		&:focus {
			border-left-color: $color-blue;
			border-left-width: 3px;
		}

		&:invalid.dirty {
			border-bottom: $color-error 1px dashed !important;
		}

		&[disabled] {
			background: $color-gray-tint;
		}

		&[disabled],
		&[read-only] {
			color: $color-gray;
		}
	} @else {
		@extend %text-style-gamma !optional;
		color: $color-blue;

		&:active {
			text-transform: none;
		}
	}
	appearance: none;
	// background: transparent;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2377706a' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 1em;
	height: 2.5em;
	outline: none;
	padding: 0.75rem 1.5em 0.75rem 0.5rem;

	&:-webkit-autofill {
		box-shadow: inset 0 0 0 9999px $color-white;
	}

	&[aria-required],
	&[required] {
		// &::placeholder {
		//   color: $color-error;
		// }
	}

	&::-moz-focus-inner {
		/*Remove button padding in FF*/
		border: 0;
		padding: 0;
	}
}

%form-select-wrapped {
	@if $form-scheme == new {
		border: $color-border 1px solid;
		transition: border-color 0.2s ease-in, border-width 0.1s ease-in 0.2s,
			margin 0.1s ease-in 0.2s;

		&:hover {
			border-color: $color-gray;
		}

		&:focus-within:not(.disabled) {
			border-left-color: $color-blue;
			border-left-width: 3px;
			margin-left: -2px;
			@include material-shadow(2);
		}

		&.disabled {
			background: $color-gray-tint;
		}

		&:invalid.dirty {
			border: $color-error 2px dashed;
		}
	} @else {
		border: $color-gray-pale 1px solid;
		color: $color-gray;

		&:hover {
			border-color: $color-black;
			color: $color-black;
		}
	}
	border-radius: 3px;
	display: inline-block;
	margin: 0 1rem 1rem 0;
	max-width: 100%;
	padding: 0.375em;
	position: relative;
	// @include icon(chevrons-expand-vertical,linearicon,after);

	// &::after {
	//   bottom        : 0.625rem;
	//   pointer-events: none;
	//   position      : absolute;
	//   right         : 0.5rem;
	//   z-index       : 1;
	// }

	select {
		@extend %form-select-default !optional;
		appearance: none;
		border: none;
		height: auto;
		padding: 0 1.5em 0 0;
		width: 100%;

		&:invalid {
			border-width: 0 0 1px !important;
			border-radius: 0;
		}

		&::-ms-expand {
			display: none;
		}
	}
}

%remove-form-select {
	border: none;
	color: inherit;
	padding: 0;

	&:hover {
		border-color: inherit;
		color: inherit;
	}

	&::after {
		content: none;
	}

	&:focus-within {
		border: none;
		box-shadow: none;
		margin-left: 0;
	}

	select {
		@extend %form-select !optional;
		width: auto;
	}
}
