//////////////////////////////////////////////////
// KEN BURNS EFFECTS
//////////////////////////////////////////////////
%ysm-slider__kb-scale-up {
  animation                : slider__kbScaleUp;
  animation-duration       : $duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode      : forwards;
}

%ysm-slider__kb-pan-left {
  animation                : slider__kbPanLeft;
  animation-duration       : $duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode      : forwards;
}

%ysm-slider__kb-pan-right {
  animation                : slider__kbPanRight;
  animation-duration       : $duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode      : forwards;
}

%ysm-slider__kb-pan-up-left {
  animation                : slider__kbPanUpLeft;
  animation-duration       : $duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode      : forwards;
}

%ysm-slider__kb-pan-up-right {
  animation                : slider__kbPanUpRight;
  animation-duration       : $duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode      : forwards;
}

%ysm-slider__kb-pan-down-left {
  animation                : slider__kbPanDownLeft;
  animation-duration       : $duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode      : forwards;
}

%ysm-slider__kb-pan-down-right {
  animation                : slider__kbPanDownRight;
  animation-duration       : $duration;
  animation-timing-function: ease-in-out;
  animation-fill-mode      : forwards;
}
//////////////////////////////////////////////////
// ANIMATION KEYFRAMES
//////////////////////////////////////////////////
@keyframes slider__titleIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slider__titleInOut {
  0% {
    transform: translateX(-100%);
  }

  10% {
    transform: translateX(40px);
  }

  100% {
    transform: translateX(60px);
  }
}
@keyframes slider__leftToRight {
  from {
    opacity  : 0;
    transform: translateX(-100%);
  }

  to {
    opacity  : 1;
    transform: translateX(0%);
  }
}
@keyframes slider__rightToLeft {
  from {
    opacity  : 0;
    transform: translateX(100%);
  }

  to {
    opacity  : 1;
    transform: translateX(0%);
  }
}

@keyframes slider__kbScaleUp {
  from {
    transform: scale($imageScale);
  }

  to {
    transform: scale($imageScaleUp);
  }
}
@keyframes slider__kbPanLeft {
  from {
    transform: translateX(0px) scale($imageScale);
  }

  to {
    transform: translateX(-$translateL) scale($imageScaleDown);
  }
}
@keyframes slider__kbPanRight {
  from {
    transform: translateX(0) scale($imageScale);
  }

  to {
    transform: translateX($translateL) scale($imageScaleUp);
  }
}
@keyframes slider__kbPanUpLeft {
  from {
    transform: translate(0, 0) scale($imageScale);
  }

  to {
    transform: translate(-$translateL, -$translateS) scale($imageScaleUp);
  }
}
@keyframes slider__kbPanUpRight {
  from {
    transform: translate(0, 0) scale($imageScale);
  }

  to {
    transform: translate($translateL, -$translateS) scale($imageScaleDown);
  }
}
@keyframes slider__kbPanDownLeft {
  from {
    transform: translate(0, 0) scale($imageScale);
  }

  to {
    transform: translate(-$translateL, $translateS) scale($imageScaleDown);
  }
}
@keyframes slider__kbPanDownRight {
  from {
    transform: translate(0, 0) scale($imageScale);
  }

  to {
    transform: translate($translateL, $translateS) scale($imageScaleDown);
  }
}
