%ysm-slider-audio {
  @include semantic-button($color-white,transparent, $color-blue-light,transparent, $color-white);
  color     : $color-white;
  font-size : $font-size-gamma;
  left      : 1rem;
  position  : absolute;
  z-index   : 2;
  margin-top: 0.5em;

  &:hover {
    color: $color-blue-light;
  }

  &:focus {
    outline: rem(1) dotted;
  }
  @include breakpoint($bp-tablet) {
    left : auto;
    right: calc(1% / 9 * 100);
  }

  @include icon('volume-high');

  &--muted {
    @include icon('mute');
  }
}

%ysm-slider-playstate {
  @include semantic-button($color-gray,transparent, $color-blue,transparent, $color-black);
  cursor    : pointer;
  transition: color 0.2s ease-in;

  &:focus {
    outline: rem(1) dotted;
  }
}

%ysm-slider-playstate--play {
  @include icon('play');

  &::after,
  &::before {
    margin: 0;
  }
}

%ysm-slider-playstate--paused {
  @include icon('pause-circle');

  &::after,
  &::before {
    margin: 0;
  }
}

%ysm-slider-toggle {
  @include semantic-button($color-gray,transparent, $color-blue,transparent, $color-black);
  cursor    : pointer;
  transition: color 0.2s ease-in;

  &::after,
  &::before {
    margin: 0;
  }

  &:focus {
    outline: rem(1) dotted;
  }
}
