%ysm-slider-pager {
  bottom    : 0;
  display   : inline-block;
  position  : relative;
  text-align: center;
  width     : auto;

  @include breakpoint($bp-tablet-below) {
    > * {
      display: inline-block; //display immediate children as inline block
    }
  }
  @include breakpoint($bp-tablet) {
    display: block;
    padding: 0;
  }
}

%ysm-slider-pager-item {
  @include remove-text;
  border       : $color-gray rem(1) solid;
  border-radius: rem(10);
  display      : inline-block;
  height       : rem(10);
  margin       : 0 rem(6) 0 0;
  outline      : 0;
  transition   : all 0.2s ease-in;
  width        : rem(10);
  @include breakpoint($bp-tablet) {
    display: block;
    margin : rem(6) rem(2);
  }

  &:focus,
  &:hover {
    background: $color-blue-pale;
  }
}

%ysm-slider-pager-item--vertical {
  @include breakpoint($bp-tablet) {
    margin: rem(6) auto;
  }
}

%ysm-slider-pager--has-controls {
  @include breakpoint($bp-tablet-below) {
    border-right : rem(1) dashed $color-gray-light;
    margin-right : 1rem;
    padding-right: 1rem;
  }
  @include breakpoint($bp-tablet) {
    border-bottom : rem(1) dashed $color-gray-light;
    margin-bottom : 1rem;
    padding-bottom: 1rem;
  }
}

%ysm-slider-pager-item--active {
  background: $color-gray;
  border    : rem(1) solid $color-black;
}
