%ysm-slider-title {
  p {
    margin: 0;
  }
  word-break : keep-all;
  z-index    : 100;
  color      : $color-blue-light;
  line-height: 0.875;
  margin     : 0;
  position   : relative;
  @include font-smoothing();
}

%ysm-slider-title--poster {
  bottom        : rem(-$gutter);
  font-size     : scale-font($font-size-kilo);
  letter-spacing: -0.2rem;
  position      : absolute;
  transform     : translateX(-100%);
  z-index       : 2;
  @include breakpoint($bp-tablet) {
    bottom   : rem(-$gutter*1.625);
    font-size: scale-font($font-size-mega);
  }
}

%ysm-slider-title--overlay {
  background-image: linear-gradient(to top, $color-white 1.01em, transparent 1.02em);
  color           : $color-blue-dark;
  display         : inline;
  line-height     : 1;
  @include breakpoint($bp-tablet) {
    font-size: $font-size-alpha;
  }
}

%ysm-slider-caption {
  color     : $color-black;
  display   : block;
  font-size : $font-size-epsilon;
  font-style: italic;
  margin-top: rem($gutter*2);
  min-width : rem(1);
}
